[2018-04-11 18:10] whoisj commented on #609
Yikes! don't do that, just add an exception to Defender for all of your source code directories, git.exe, and git-credential-manager.exe.

[2018-04-11 18:13] structre40 commented on #609
K. I wasn't going to permenantly disable, just temporary to see if that is the issue. I will look at adding the exclusions anyway for only the source dir. Thanks again for the help.

[2018-04-12 16:58] blowdart opened #610 "Login window only appears on the primary monitor"
I had an [issue](https://github.com/github/VisualStudio/issues/1525) with the GitHub VS plugin which I thought was Github's fault in that when I had VS open on monitor 2 or 3 the login dialog would only appear on the primary monitor. It reappeared this morning, this time in a different app (either VS Code or GitHub for Windows) ... and that screen apparently is from the Git Credential Manager for

[2018-04-12 22:08] mminns commented on #596
I've been thinking about the same thing, so I had a go:

https://github.com/Microsoft/Git-Credential-Manager-for-Windows/compare/master...mminns:experiment-master/netstandard?expand=1

Essentially...

Where applicable I converted existing projects to .NET Standard, where the existing project contains WPF code split these projects into a .NET standard core project + a Win32 project containing the W

[2018-04-12 23:55] shiftkey commented on #610
@blowdart I think you're interested in #603

[2018-04-13 16:09] whoisj commented on #603
@chuckries @AArnott it seems @shiftkey has a user who is being impacted by this issue. Is this something can resolve?

Specifically:

[2018-04-13 16:36] chuckries commented on #603
@whoisj I have done some private testing with this against a wpf application (the test app included in my PR) and against VS. In VS I am only testing the debugger's usage of GCM, which is invoked directly using git-credential-manager.exe. In both instances the modal window relationship works correctly, meaning the gcm UI is always shown on top of the owning window, the windows are minimized/maximi

[2018-04-13 16:44] whoisj commented on #603
@chuckries understood. The Git for Windows use case is the very primary use case that we cover, with Visual Studio version control support be a close second. The VS debugger has just made it on to the list of "we care about it", but it cannot be the only thing validated.

Specifically, I'm looking for unit or feature tests we can add to the solution to validate that this feature doesn't break in t

[2018-04-16 20:37] mminns commented on #596
Increasingly off topic, but based on the work I did above, it is then possible to build a _version_ of the GCMW on macOS etc. This branch substitutes console line interactions for GUIs, and only for Bitbucket so far and with no KeyChain storage etc, but other than that it compiles and runs doing everything it should be.

https://github.com/mminns/Git-Credential-Manager-for-Windows/tree/experiment-

[2018-04-17 17:52] whoisj commented on #596
@mminns meet @KirillOsenkov , I'm working with him on another project with a similar goal. He knows a ton (at least I think he does :neckbeard:) about making .NET work on Mac & Windows. I believe the ideal .NET Standard target is 1.4, but I might be wrong.

[2018-04-17 20:28] mminns commented on #596
Hello @KirillOsenkov

I'll happily admit to being pretty new to Xamrin, Standard et al, so any pointers/advice is always appreciated.

Also any opinion on whether a move to .NET Standard + Win32 first then potentially onto a cross platform GCM has any potential as a realistic goal for this official release sometime in the future or if it is likely to _always_ be a forked curiosity?

[2018-04-17 23:03] KirillOsenkov commented on #596
Hey all, there are actually two options if you want to pursue getting this library to work on a Mac. One is .NET Core, and another is Mono. Unlike .NET Core, Mono supports running what we think of as "good old desktop assemblies". WPF is not supported by any of them, unfortunately, so that might be a problem.

[2018-04-18 13:10] GDineen commented on #565
This has been driving me mad all day, i eventually solved it by reverting my net framework machine.config back to defaults. I had a few changes around min/max threads that I put in a few days ago, maybe the format was wrong and the config couldnt be loaded? Not sure how this broke it but reverting fixed everything.

[2018-04-19 13:25] onovotny opened #611 "VSTS Auth doesn't show connected windows accounts"
Windows 10 can have accounts connected to Windows. The credential chooser dialog that pops up does not present that list.

I believe it needs a different overload of the call to ADAL.

[2018-04-19 16:52] mminns commented on #596
So https://github.com/mminns/Git-Credential-Manager-for-Windows/tree/experiment-master/netstandard-xplat
uses .NET core as the entry point, and all the WPF stuff is abstracted out, so its included in the main solution but excluded in the .NET Core/Standard only solution.
Fr now that has no GUI at all, just substitutes in console prompts for now.

[2018-04-21 01:54] testcafe12 opened #613 "fatal: AggregateException encountered.One or more errors occurred."
Getting  "fatal: AggregateException encountered.One or more errors occurred." after entering the username and password.
My git config has credential.helper=manager

The issue seems similar to that of #57

Please let me know how to proceed.

[2018-04-21 12:16] mminns commented on #596
I actually came across an issue during my day job that might be relevant here.

We bumped Sourcetree to be .NET 4.7.1, + .NET Standard 2.0 we've had some reports from users of Windows 10 1507 LTSB that they can't upgrade to .NET 4.7.1. So far the information I've found is not clear cut, however the .NET 4.7.1 page talks about support for Windows 10 Creators and Fall Updates and then Win 7 & etc  s

[2018-04-21 20:47] AGSPhoenix opened #614 "Installer fails with 404"
After clicking "Next >", the installer briefly shows it is downloading some files before it shows this error message:
[code]
Closing that and clicking the "Details" button reveals it failed to download `Git-2.150-64-bit.exe`.

This happens for all three available installers in the 1.15.x series (filename might be different for the older two installers).

Not really sure how to go about debugging t

[2018-04-22 20:07] whoisj commented on #614
Thanks for reporting this. I'll look into it asap.

[2018-04-22 20:08] whoisj commented on #596
@mminns I suggested a .NET Standard no higher than 1.4, because AFAIK that's the best level of support available for Mac OS.

[2018-04-22 20:09] whoisj commented on #611
Thank you so very much for this. My apologies for the late response, but I've been offline nursing a fever for several days. I should be able to give this a proper review tomorrow (EST).

[2018-04-22 20:13] whoisj commented on #613
@testcafe12 first, let me apologize for my slow response. I've been offline nursing a fever for the past few days. Now that I'm mostly recovered (yet very behind) I can reply.

I suggest enabling GCM tracing, so we can see exactly where the exception is happening. To do so, run `set GCM_TRACE=1` from your console (I am assuming CMD here, the command is different in PowerShell, and Bash). Then repr

[2018-04-23 01:15] testcafe12 commented on #613
@whoisj Thanks for the response.
Please find the error below:
06:44:52.792620 ...\Program.cs:145      trace: [Die] System.AggregateException: One or more errors occurred. ---> System.Net.Http.HttpRequestException: An error occurred while sending the request. ---> System.Net.WebException: The request was aborted: Could not create SSL/TLS secure channel.
   at System.Net.HttpWebRequest.EndGetRequest

[2018-04-23 01:56] whoisj commented on #613
Which version of the GCM is this? If it is a version pre-TLS 1.2 support, then this error would be expected since GitHub upgraded the minimum TLS support to 1.2.

You clipped off the portion that specified the version info, but the error message `The request was aborted: Could not create SSL/TLS secure channel.` leads me to believe it is the TLS 1.2 issue.

[2018-04-23 12:41] mminns commented on #596
Ah, actually my experimental branch uses .NET Standard 2.0 and does run on macOS.

[2018-04-23 23:55] tulsileathers opened #615 "Failing to authenticate when git is called from bash script"
I have the following bash script
[code]
calling that function with a valid repo name gives me this output
[code]
It uses the VSTS cli to fetch the url of a repo and then it clones that repo. I'm using the most recent git bash authenticated via a PAT. If I copy and paste the output "cloneCmd" the repository is properly cloned. My hunch is that GCM4W is not properly providing authentication to the b

[2018-04-24 03:25] whoisj commented on #615
GCM expects HTTP/S for VSTS, GitHub, and Bitbucket authorities. I clearly see clone stating: `atal: I don't handle protocol '"https'`. This seems like problem.

`git clone` itself, ought to invoke the networking layer in git.exe, which ought to reach out to `git-credential` when a HTTP401 response is encountered.  `git-credential` would then enumerate the registered `credential.helper` entries in

[2018-04-24 14:39] araemo commented on #353
I understand the logic, but this results in a distinct user experience issue when using git credential manager for internal TFS, but also connecting to external TFS that you cannot NTLM authenticate to.

Without credential manager, both work: You are prompted for credentials.

With credential manager, internal is great: NTLM single-sign-on.
External however is broken: "Authentication failed" unles

[2018-04-24 15:34] whoisj commented on #353
@araemo well git.exe decides if the authentication failed or not, and by the time git.exe has the credentials from GCM, the GCM process has exited already - so there's no good way to fallback.

That said, the GCM only only attempts NTLM if the TFS instance reports that it has NTLM support. If your TFS instance doesn't actually support NTML, your admin ought to disable the Windows Authentication op

[2018-04-24 17:09] araemo commented on #353
Thank you for the reply.

Our use case is a TFS server that supports NTLM, and from workstations joined to our domain, NTLM works fine.  However, we also access our TFS from client systems, which may be workstation systems or domain joined to a different domain.  In these cases, if credential manager is enabled, authentication fails with no prompt.  I don't understand why the behavior is so differ

[2018-04-25 13:53] whoisj commented on #353
@araemo I work on Git as well. I think this isn't something we'd be willing to touch as it's a high risk, very small reward, with a ton of effort kind of thing. I'll try and think of things we can try from within the GCM.

Perhaps the GCM ought to probe the server for access prior to returning the NTLM credentials to Git. While this sounds good, Git usually only shares the host name, protocol, and

[2018-04-25 17:45] tulsileathers commented on #615
I'll give those tools a go when I have a free moment. Thanks

[2018-04-25 21:07] #611 closed

[2018-04-26 11:49] 0x084E commented on #608
I have the same kind of problem and I'm trying to track this down for weeks now.

The only thing I've found out so far is that this problem only occurs with elevated processes. Unelevated git processes never fail to authenticate.

But also elevated processes don't fail all the time. Sometimes it helps to authenticate once with an unelevated process, sometimes not. Restarting the elevated parent pr

[2018-04-26 14:09] whoisj commented on #608
@0x084E interesting information. I wonder if that has anything to do with user impersonation or not?

One of the problems with elevation on Windows is, depending on how it is done, the actual elevated user might not be the exact same user as the non-elevated user. This means they have separate credential stores. I primarily see this issue with tools like custom shell extension, custom console exte

[2018-04-26 14:26] 0x084E commented on #608
The user I'm working with has local admin rights so unelavated user and elevated users are the same.
One thing I should probably mention is that I have turned of UAC prompts (I did have different behaviors with UAC prompts on/off while executing processes in another application in the past)

[2018-04-27 04:55] 0x084E commented on #608
Below are three traces. All git commands were run via TortoiseGit from an elevated Total Commander.

First trace: First git command after starting Windows. Ran ``git pull``, the credential dialog opened although credentials were already in credential store. I entered the **correct** password but authentication failed.

Second trace: Directly after first one ran ``git pull`` again, credential dialo

[2018-04-27 12:45] whoisj commented on #608
If you open Credential Manager elevated vs non-elevated, does the list available credentials change?

[2018-04-28 06:30] 0x084E commented on #608
Indeed there is a difference, running the command elevated  doesn't output any credential while non-elevated returns the same list as Credential Manager does.
A machine specific issues?

[2018-04-29 16:02] whoisj commented on #608
Could be - it is more likely they the account elevated and unelevated are not the exact same account. Additionally, it appears you have `[Erase] preserve = true, canceling erase request.` in our output, meaning the credentials could be expired but the GCM cannot purge and replace them.

[2018-04-30 04:57] 0x084E commented on #608
I think I've finally found the cause. During logon I start processes elevated via task scheduler. None of these processes has access to the credential store initially. But after the first elevated process which is not inherited or sub-inherited from the task scheduler accesses the credential store everything is working fine. Even task scheduler inherited processes magically start to work without r

[2018-05-01 21:47] saschwarz commented on #561
FWIW I just had the same issue reported here after installing the latest GCM (1.15.2) deleting the tenant.cache solved the problem for me.

[2018-05-02 04:02] whoisj commented on #561
@saschwarz well that's disappointing. v1.15.2 was supposed to resolve the need to delete the tenant cache manually. 😞

[2018-05-02 11:30] Nerwo1100 commented on #488
I installed GCMW-1.14.0.exe and the issue is gone. https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases/tag/v1.14.0

[2018-05-03 02:51] whoisj commented on #614
@AGSPhoenix the only items the installer attempts to download are the NetFx runtime (if you do not have support for NetFx 4.5.2 or better) and Git for Windows (if the installer cannot find it already installed). Do you meet the bar for either of those? If so, then we likely know the 404 culprit.

[2018-05-03 10:14] craig-acutest commented on #488
Installing GCMW-1.14.0.exe works correctly, but make sure to restart your machine, as didn't work until i did so.

[2018-05-03 17:15] Aralicia commented on #614
Just downloaded the installer to update the manager. Same error than AGSPhoenix. (see screenshot below). The previously installed version of the manager still work (1.12.0), so requirements might not be the cause of the issue.

![image](https://user-images.githubusercontent.com/4456212/39591897-79b2bce2-4f05-11e8-840c-17f04acb4e3e.png)

[2018-05-03 18:07] whoisj commented on #614
d'oh! good catch - thanks!

[2018-05-03 18:35] #614 closed

[2018-05-03 18:39] #565 closed

[2018-05-03 18:41] whoisj commented on #603
Resolved by #604

[2018-05-03 18:41] #603 closed

[2018-05-03 18:42] whoisj commented on #610
Resolved by #604

[2018-05-03 18:42] #610 closed

[2018-05-03 18:45] whoisj commented on #441
Resolved by #541

[2018-05-03 18:45] #441 closed

[2018-05-03 18:47] #607 closed

[2018-05-03 19:36] AGSPhoenix commented on #614
@whoisj Any timeframe for when this fix will be released?

[2018-05-03 19:44] whoisj opened #628 "Publishing symbols for releases packages is a good idea."
The GCM needs to start publishing the symbols produced from its official builds. This ought to be simple with our new VSTS Pipelines backend, just need some build + project adjustments.

  - [x] Add `[Ss]ymbols/` to ".gitignore".
  - [x] Add a common target for copying symbols to a new symbols folder.
  - [x] Make sure only non-test projects copy symbols to the new folder.
  - [ ] Setup symbol ind

[2018-05-03 19:46] #628 closed

[2018-05-04 03:44] whoisj commented on #614
@AGSPhoenix asap. Just need to get the nupkg signing to work, then get some preview evaluation of the v1.16.0-preview build. Then, assuming no major bugs are reported, I'll release the v1.16.0 package. Likely time-frame is some time mid-May.

[2018-05-15 20:44] NinoCapo opened #637 "[GeneratePersonalAccessToken] ! an error occurred: A task was canceled."
I recently noticed that I cannot create a new connection to VSTS from my git command line. I get the generic "Logon failed, use ctrl+c..."  message. I'm not positive but I believe my recent update to Visual Studio 15.7.1 may have started the problem.   I also tried cloning the repo from my Visual Studio Team Explorer and I again receive the generic "Error encountered while cloning the remote repos

[2018-05-16 01:59] lizzyhuang commented on #57
I use the git push with RStudio. It worked nicely before this March. Now I've run into this issue, my first time. I don't use command line and am on Windows 10. So this has been a headache for me. Every time I push things, it will show this error, the will ask me for Username and password. Then says "username or password" incorrect, even though I'm sure I use the right user name and correct passwo

[2018-05-16 14:07] whoisj commented on #637
@NinoCapo thanks for the report. I'll try and parse these logs. Next time, I recommend using a tool like Notepad++ to open files which use `\n` instead of `\r\n` as line-endings.

I'll update this thread once I've managed to actually read the logs 😏

[2018-05-16 14:25] whoisj commented on #637
Actually, given the proxy issues in previous releases: @NinoCapo can you download, install, and try [v1.16.0 Preview 3](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases/tag/v1.16.0-preview.3). Let's see if the restructured networking code doesn't handle things a little better for you.

[2018-05-16 14:28] NinoCapo commented on #637
The logon seems pretty normal...  The GCM window pops up with the Microsoft login.  I use my work email address and it redirects to our company login portal and then just closes as usual.

I did see something like this once before, but that was because I forgot to include "http://"  in my proxy value.  I'll give v1.16.0 a try.

[2018-05-16 14:30] whoisj commented on #637
Oh and @NinoCapo are you using Git for Windows new-ish Secure Channel option? If not, I highly recommend it - especially since you're using a HTTP proxy in your setup.

[2018-05-16 15:09] #637 closed

[2018-05-16 19:28] whoisj commented on #476
@wesleychinnapper @coyot I've learned a lot about HTTP proxies and ADAL authentication since starting this project, and that has enabled me to make several important architectural changes to the GCM's most recent (preview) version which I believe will help resolve these issues for you.

If you wouldn't mind, please download and evaluate the [GCMW-v1.16.0-preview.3](https://github.com/Microsoft/Git

[2018-05-16 19:29] whoisj commented on #435
This issue should be generally resolved in v1.16.0.

[2018-05-16 19:29] #435 closed

[2018-05-23 11:49] k-quigley opened #642 "2FA Authentication using SMS code - to Github: No SMS received"
Installed https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases/tag/v1.16.0 on two separate PC's.  Two separate users, both had Github SMS 2FA enabled.

The credential manager pops up - asking for login.  Once this completes, it requests the SMS code.
The code is never received on the mobile.  The code can be received if we use 2FA login for the same account on Github, on a sepa

[2018-05-23 14:26] whoisj commented on #642
/CC @shiftkey for assistance here (unless he's busy relocating, in which case hopefully @Haacked can assist)

[2018-05-24 11:58] dwightdc commented on #559
Refactored and documented code in api.py, messages.py and sw.py
Added test_messages.py to test messages.py
Updated sw.py by renaming sendAPI() as send_front_end() added url parameters for StrategyWorker
Updated engine.py to sync with the changes in sw.py

[2018-05-25 10:23] Lybecker commented on #642
I have the same problem.

[2018-05-25 10:40] shiftkey commented on #642
For issues with GitHub SMSes not being delivered, please [contact GitHub support](https://github.com/contact). I don't believe this is related to the GCM for Windows, and if an authentication app is working fine with GCM it suggests there's also a workaround.

[2018-05-25 10:48] Lybecker commented on #642
It is. When I try to sign in via cmd prompt I never receive a text message(sms), but as soon as I try via a browser I receive it instantly.

[2018-05-25 10:55] shiftkey commented on #642
@Lybecker I suggest GitHub Support because they'll be able to help with troubleshooting that the flow is correct - it seems that after providing your username/password that GCM receives a response that the 2FA challenge is required, which seems like the correct behavior.

[2018-05-25 12:07] shiftkey commented on #642
I've tested this again on my SMS 2FA'd account on Git for Windows 2.17.0 - GCM 1.15.2 does trigger the SMS, but 1.16.0 does not. I skimmed the logs generated by doing this from a private repository:

[code]

The log shows that it detects and waits for the SMS code until I cancel the dialog:

[code]

@k-quigley @Lybecker if this is a blocker I'd recommend rolling back to 1.15.2 for the moment.

@wh

[2018-05-25 12:14] vcx commented on #488
Had the same issues today, turned the flags and saw the same logs described here: **https://github.com/Microsoft/Git-Credential-Manager-for-Windows/issues/488#issuecomment-328410270**

Looks like the issue returned. I was running both Git (2.17) and GCM (1.16) latest in a fresh install of Windows 10 1803 in a AAD-joined machine. Connecting to the VPN once (so it could try to locate the domain cont

[2018-05-25 13:44] whoisj commented on #642
@shiftkey thanks for  that. I've submitted a patch to fix the "X-GitHub-OPT" header being appended when empty.

I'll try to see if I can temporarily switch from app based 2FA to SMS based 2FA (or find somebody who's already SMS based 2FA) to validate this fix.

[2018-05-25 13:57] whoisj commented on #488
@vcx would you capture a [Fiddler](https://www.telerik.com/fiddler) trace of the problem?

Is your Git configured to use Secure Channel (aka `http.sslbackend=schannel`)? If not, you'll likely want to experiment with that option as well.

[2018-05-25 21:38] whoisj commented on #642
This issue is fixed in the next release of the GCM. I wanted to get it out today, but got distracted by other issues. Hopefully I'll be able to get it out with in the next 24-hours.

[2018-05-25 21:38] #642 closed

[2018-05-25 22:12] ddfridley opened #646 "SSL certificate problem: self signed certificate in certificate chain"
I am unable to push to git.  I see that there have been changes and I've been upgrading to catch up, but I'm really stuck.  I'm sorry to post this, I've been trying to figure it out.

This use to work, but I understand github has gotten more strict about SSL. Fine.  But I can't seem to delete the old certificate and create a new one.

On Windows 10 (Home Version 1709 OS Build 16299.431)  when I go

[2018-05-29 18:36] Synaccord commented on #646
Hi, first let me contribute that for anyone else who can't get their Certificate Manager to come up (and I see others have had this problem and people don't understand what your talking about) I can't say why or how to fix it, but here's a direct way to bring it up:
<windows button>-R "control /name Microsoft.CredentialManager"

Then I deleted the credential for above, but I still get the same err

[2018-05-29 21:04] Synaccord commented on #646
When I use schannel I get the error:
fatal: unable to access 'https://github.com/Synaccord/synaccord.git/': schannel: next InitializeSecurityContext failed: Unknown error (0x80092012) - The revocation function was unable to check revocation for the certificate.

github has this document:
https://github.com/desktop/desktop/blob/master/docs/known-issues.md#certificate-revocation-check-fails---3326

[2018-05-29 21:45] NinoCapo commented on #637
@whoisj Think I may have found my root cause but I don't know how to fix it.

If I run "git config --system --list" my output is:
C:\temp> git config --system --list
http.sslbackend=schannel
diff.astextplain.textconv=astextplain
filter.lfs.clean=git-lfs clean -- %f
filter.lfs.smudge=git-lfs smudge -- %f
filter.lfs.process=git-lfs filter-process
filter.lfs.required=true
credential.helper=manager

I

[2018-05-30 02:37] shiftkey commented on #646
@Synaccord could you run this command and attach the output to see what certificates you are getting? On my side this is what I see - it'd be nice to see how yours differs.

[code]

[2018-05-30 03:05] ddfridley commented on #646
@shiftkey -- interesting this is what it said:
openssl s_client  -connect www.github.com:443
CONNECTED(000001E4)
depth=1 O = AO Kaspersky Lab, CN = Kaspersky Anti-Virus Personal Root Certificate
verify error:num=19:self signed certificate in certificate chain
---
Certificate chain
 0 s:/businessCategory=Private Organization/jurisdictionC=US/jurisdictionST=Delaware/serialNumber=5157550/C=US/ST=Cali

[2018-05-30 03:31] Synaccord commented on #646
@shiftkey So if I go into Kaspersky / settings / protection  and turn off Web Anti-Virus then it works! I am able to push to github.com

Thank you!

[2018-05-30 03:45] shiftkey commented on #646
@Synaccord thanks for confirming the workaround - @ddfridley would the same trick work for you?

[2018-05-30 03:53] NinoCapo commented on #637
@whoisj  I figured it out.... I completely forgot about the config file in C:/ProgramData/Git.  I guess I just don't understand why 2.17.0 ignored the setting.  Anyway, I'm sorry for wasting your time.

[2018-05-30 03:56] ddfridley commented on #646
@shifkey yes thanks!

[2018-05-30 13:48] whoisj commented on #637
@NinoCapo well, things were improved in v2.17.1 - and there's a chance that the work @dscho did to minimize the impact of `CRLF` line-endings after the libcurl update got lost in the patch-juggling-song-and-dance being the maintainer of Git for Windows can be. :neckbeard:

Anyways, glad to hear you got yourself unblocked. Btw, in the future you can use `git config --list --show-origin` to see all

[2018-05-30 13:49] whoisj commented on #637
@NinoCapo this `http.https://.visualstudio.com.proxy=http://proxy.com:80` concerns me. Does Git need this to work when you're using `http.sslbackend=schannel`? In theory it should not. Can you check for me? As I'm trying to understand the full effect of the libcurl Schannel implementation

Thanks!

[2018-05-30 13:52] whoisj commented on #646
Thank you (again, and as always) @shiftkey for your vast knowledge and willingness to help. 😄 🙇

[2018-05-30 13:52] #646 closed

[2018-05-30 13:53] whoisj commented on #615
@tulsileathers I'm closing this issue due to lack of activity. If your issue is continuing, let me know and I'll happily re-open the issue.

[2018-05-30 13:53] #615 closed

[2018-05-30 14:19] NinoCapo commented on #637
@whoisj Before late Feb, early March, this wasn't needed.  Since then, we get this error from within our company network.
fatal: unable to access 'https://mysite.visualstudio.com/NinoTest/_git/NinoTest/': Failed to connect to jtestdev1-cat-com.visualstudio.com port 443: Timed out

Since then, we've had to set the proxy anytime we try to reach VSTS from within the company network.  This also impact

[2018-05-30 16:40] NinoCapo commented on #637
We are a very large organization, and I can safely say that it doesn't or didn't matter whether you were using schannel or openssl.
My LAN settings are set to "Automatically detect settings" and no proxy is defined, but it's hard know for sure what corporate policies they push down to us.

[2018-06-01 09:04] domisginger opened #647 "Git for VSTS via Azure AD 401 for endpoint ServiceDefinitions/LocationService2"
Using VSTS connected to our Azure AD.
Had to update GCM so it doesn't assume its a Microsoft account.
Modal now asks what account type and when I select Work or school account I am taken correctly to my organisation login page.
But I get 401 calling ServiceDefinitions/LocationService2 endpoint
`TF400813: The user &#39;mycorrectemail@notreal.net&#39; is not authorized to access this resource`

from

[2018-06-01 13:54] whoisj commented on #647
Hrmph. So it sounds like the new ADAL identity picker flow isn't working out for you.

The most interesting part is that when I manually query `https://phntt.visualstudio.com` I get a 404 Not Found error.

Is your clone URL correct?

[2018-06-01 14:16] domisginger commented on #647
Sorry I'd changed my URL intentionally. You can remove the 2nd its just phnt.

[2018-06-01 14:34] whoisj commented on #647
Thanks, the edited URL works.

Performing a tenant query on the working URL show two tenants being returned:

  * `00000000-0000-0000-0000-000000000000` this is a MSA account.
  * `93a9bf81-dc73-40d9-87f3-b377dc60e0d6` this is an AAD account.

Which identity are you attempting to authenticate with? Is it an AAD or MSA account?

[2018-06-01 15:14] domisginger commented on #647
The AAD account.

I initially get a Microsoft Sign in page.
Entering my email I get to pick between 'Work or school account' (AAD) or 'Personal account' (MSA).
Selecting Work or school takes me to my organisation login page (NHSmail).
Logging in then closes and continues into the error.

Side note, selecting my MSA account (which also has access for now) gives me the same issue, and still says `to

[2018-06-01 19:05] whoisj commented on #647
That would be expected, as the tenant is the access controller assigned to your organization. This is likely the situation you want to have. The real problem is here: `[GetAuthentication] MSA authority detected` but its tenant identity is the empty guid, not `9cd80435793b4f48844b6b3f37d1c1f3`.

Hmph. Which version of the GCM are you running?

[2018-06-04 06:36] domisginger commented on #647
Sorry for delay.
It was whatever came packaged with Git-2.17.1.2-64-bit. But have just updated to **GCMW-1.16.1** with same issue.

[2018-06-04 13:51] Scepheo opened #648 "Proxy settings from PAC file fail because of missing "http://""
If the proxy settings come from a PAC file, they will never include the "http://" protocol in front of the url. As the proxy setting from this is checked first, there is no way to override this setting (e.g. by setting the HTTP_PROXY environment variable), making GCM unusable with a PAC file.

[2018-06-04 17:02] whoisj commented on #648
What is a "PAC file"? Sorry, I'm rather in the dark without this information.

[2018-06-04 17:04] whoisj commented on #647
`Git-2.17.1.2-64-bit` comes with `GCMW-1.16.1`, so I'm glad you're seeing identical results.

That said, I'm sorry to hear that your issue isn't easily resolved. I'll reach out to the VSTS server team and see if they can help shed any light on this.

[2018-06-04 22:29] suwatch opened #649 "GitHub/Bitbucket authentication does not honor credential.helper"
Wonder if this is by design.   Months ago, we used to be able to override the credential popup by providing below `credential.helper`.   This no longer seems to work.  It always pops up and, when cancelled, then it executes the custom credential.   If this is by design, is there a way to override the popup?   We tried both local and global config - none seems to work.  The ugly workaround is to re

[2018-06-05 09:07] domisginger commented on #647
Fixed it for my instance. I had the empty MSA Guid in cache so it wasn't re-querying the tenants.
Running GCMW locally and disabling the cache caused it to pickup that it was AAD.

[code]

Just deleting this cache file works `C:\Users\USERNAME\AppData\Local\GitCredentialManager`.
Not sure the nicest way to avoid in future? Could there be an info message in the log that if its detecting MSA but you

[2018-06-05 13:38] Scepheo commented on #648
It's a [Proxy Auto-config File](https://en.wikipedia.org/wiki/Proxy_auto-config). Windows can be configured to download/read such a file for the OS-level ("Internet Options") proxy settings.

[2018-06-05 13:52] whoisj commented on #649
The behavior of Git has been evolving. Which version of Git, which version of GCM?

Finally, why are you using a bash-macro as your credential helper?

[2018-06-05 14:48] whoisj commented on #648
What so you mean by this? Setting the `HTTP_PROXY` environment variable will cause the GCM to attempt to work with the proxy, but any URL will require a schema prefix (i.e. "https").

[2018-06-05 14:50] whoisj commented on #647
@domisginger, in theory, should delete the tenant cache whenever it deletes a credential.

Glad you found the resolve, but it does sound like we have a bug.

[2018-06-05 14:50] #647 closed

[2018-06-05 14:52] gistofj opened #650 "Azure Tenant Cache isn't being purged when credentials are deleted"
It seems the azure tenant cache is not correctly being purged when credentials are deleted.

Found via #647

[2018-06-05 17:29] suwatch commented on #649
Both workarounds work great!

git version is 2.16.2.windows.1.   GCM is 1.14.0.0 (came with git).

This is [App Service Editor](https://channel9.msdn.com/Series/Visual-Studio-Online-Monaco) where git operations are provided via Web Application.

[2018-06-05 18:07] whoisj commented on #649
Makes sense now.

Please upgrade to 2.17.1.windows.2 as soon as possible, as it contains at least one security fix.

[2018-06-05 18:07] whoisj commented on #649
Does this mean I can close the issue, and you're happy?

[2018-06-05 19:00] suwatch commented on #649
Closed.

[2018-06-06 13:02] Scepheo commented on #648
It only checks for the `HTTP_PROXY` environment variable if the previous check (in [LoadOperationsArguments](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/0c1af463b33b0a0142f36f99c49ca8f83e86ee43/Shared/Cli/Functions/Common.cs#L515)) fails. Because the first check succeeds, none of the other options are checked, so it's impossible to use them.

A PAC file unfortunately never

[2018-06-06 14:13] whoisj commented on #648
Wait, are you saying your remote url looks like
[code]
instead of
[code]

[2018-06-07 10:21] hbuckle opened #651 "Bitbucket - Specified argument was out of the range of valid values."
Authentication against bitbucket is failing with the following error

[code]

OS is Windows 10 1803. Authentication using the same credentials is working on an older machine running 1607

[git.log](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/files/2079992/git.log)

[2018-06-07 10:38] mminns commented on #651
Hi, just looked into this there is a bug in 1.16

here: https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/master/Bitbucket.Authentication/Src/Authority.cs#L72

`if (resultType != AuthenticationResultType.Failure && resultType != AuthenticationResultType.Success && resultType != AuthenticationResultType.TwoFactor)

                throw new ArgumentOutOfRangeException(nameof(resu

[2018-06-07 10:46] mminns commented on #651
Looks like it went in here https://github.com/Microsoft/Git-Credential-Manager-for-Windows/commit/6bbf76f0#diff-29794b0c5f9cbdaec04a38c131925562L340

I didn't pick it up when I was doing my re-brand work as I branched before then. Unfortunately I didn't pick up on it after it was all merged as I was a bit out of the loop after that.

Working on a fix....

[2018-06-07 11:11] hbuckle commented on #651
Great, thanks. The 1607 machine already has the credentials stored in the vault so it wouldn't hit that code whereas the 1803 is a fresh install.

[2018-06-07 12:10] mminns commented on #651
Yes, that was why I hadn't picked up on the same issue until today

[2018-06-07 14:55] #651 closed

[2018-06-08 18:36] Scepheo commented on #648
No, my remote url looks fine. It's the *proxy* url that looks like `domain.tld:8080` instead of `http://domain.tld:8080`. This seems to cause GCM to derive the protocol as `domain.tld`, instead of `http`.

[2018-06-08 18:45] whoisj commented on #648
oh... hmm. Thanks, not sure what can be done but I'll try and see if there's a way to continue to leverage the NetFx proxy support and work without a URI-scheme.

[2018-06-11 03:10] danzanity commented on #613
@whoisj I used these steps and was able to bypass the error, I'm on 2.50.99.19 build of git extensions.
1. Navigate to repository folder
2. Type: set GDM_TRACE=1
3. Do a git command: git push origin
4. The system will ask for username or password.
5. There will be errors but the command should proceed.

[2018-06-11 16:31] Scepheo commented on #648
Thanks, I appreciate any effort spend on this, even if it turns out to be too difficult (or ugly) to solve. There is always the workaround of not using Git Credential Manager, so it's not a world-stopping issue.

[2018-06-12 11:30] tiliarou commented on #431
Could be... I'm using standard git behind a proxy and it's working fine. I'm not using the microsoft git credential manager. Not sure this is the same issue of the OP here...

[2018-06-12 13:15] whoisj commented on #431
@AdrianNg please see our [FAQ](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/master/Docs/Faq.md#q-why-doesnt-the-gcm-work-with-servicepointmanager). It may provide a helpful answer.

[2018-06-14 10:04] savolkov commented on #488
Had same error on version 2.14.1, updated to 2.17.1 and now everything is fine. Maybe it'll help someone out

[2018-06-15 11:59] DigitalAssasin opened #660 "Git failed with a fatal error. Authentication failed"
Hi gentlemen,

I browsed the issues of the credential manager repository but none of the tipps and solutions helped us so far.

We have an on-premise installation of TFS 2018 running. On all but one workspaces we can work fine with the TFS-Git repository. On one workplace there is an issue with authentication.

While cloning the repository from Visual Studio, Team Explorer shows this error:

Git f

[2018-06-15 14:14] whoisj commented on #660
Which version of Visual Studio are you using?

[2018-06-15 14:16] DigitalAssasin commented on #660
We are using Visual Studio Enterprise 2017 15.7.3 on all developer workstations.

[2018-06-15 14:18] whoisj commented on #660
15.7.3 <sigh/>

Yup, we've found a bug in the Git for Windows package that we shipped in Visual Studio (VS does not use your installed Git, but instead contains its own Git package) that affects users using Secure Channel.

If you look at `Visual Studio` > `Team Explorer` > `Settings` > `Global Settings`, what does the `Cryptographic network provider` down-down menu show?

[2018-06-15 14:23] DigitalAssasin commented on #660
On both working and not working workstation the option is set to "Löschen / Delete(?)". We are working with the German version of Visual Studio.

[2018-06-15 15:20] whoisj commented on #660
"Delete"?! Maybe "Unset"? Hmm - wonder if we have a translation failure here.

If unset, it should be defaulting to OpenSSL. Why not try OpenSSL and/or Secure Channel and see if one unblocks you?

[2018-06-18 06:00] rockit666 commented on #660
Hi, I have the same issue here. VS 15.7.3 german version, Windows 10. I'm connected via VPN and also use a private server with http connection. I tried to repair VS, reinstall GIT, OpenSSL and secure Channel. Different configurations. Nothing works. (it works with browser) Every time the same message:

Fehler beim Abrufen: Git failed with a fatal error.
Authentication failed for 'http://lomoofsv09

[2018-06-18 06:14] DigitalAssasin commented on #660
A better german translation for "Unset" could be "Nicht festgelegt" or something like that...

But anyhow: We alread tried to switch the Cryptographic network provider settings as we found this as a common tip on stackoverflow. But this doesn't work either.

Any other ideas?

And one important thing: Thank you so much for your commitment and that you try to help us in this case!

[2018-06-18 06:42] rockit666 commented on #660
that's strange.. I tried different things..
I'm using now the IP address of the server and it works.

@DigitalAssasin : It's maybe also a solution for your ?

[2018-06-18 06:44] DigitalAssasin commented on #660
Ok... I think, this is a thing we haven't tried. We will try this and report.

Thanks!

[2018-06-19 07:30] chucklu commented on #481
@whoisj  I encounter the same problem again, however it will not block the push action.

It will continue the push task and do it successfully.

I have checked the proxy configured , it was set with http

[2018-06-19 11:16] DigitalAssasin commented on #660
Hi together,

this issue persists also with the latest Visual Studio 2017 Enterprise Release 15.7.4.

But an other interesting thing: It seems that the error is caused by anything around the user account. If we use other account information on the same workstation, the cloning works great.

Maybe this is more a TFS user account management related issue.

We will research further and report our fut

[2018-06-19 13:40] DigitalAssasin commented on #660
OK, we figured it out.

The cloning problems were cause by a special character in the domain accounts passwort of my colleague. His password contained a '#' character which prevented him from cloning the repository. We changed his password and now everything is working fine.

Do you think this behavior is relevant for the Windows Credential Manager? Or is it more a Git issue?

[2018-06-19 14:49] whoisj commented on #481
This is the .NET Framework `System.Uri` giving me heartburn. Seriously becoming a non-fan of that type.

Thanks for the report, I'll try to look at the code this afternoon and see if there's anything I can do to work around `System.Uri` limitations.

[2018-06-19 14:53] whoisj commented on #660
Um... whoa! THAT SHOULD NOT HAPPEN.

I'm guessing that this is a bug in libcurl (Git component). I think the real solution here is to ask your TFS admin to enable NTLM authentication to the server. This will avoid entering your username + password when accessing the server, and instead rely on NTLM to handle everything for you.

[2018-06-19 20:50] Chiliyago opened #662 "Git clone from TFS = Authentication Errror"
I am getting authentication failed errors trying to clone a repository from my TFS server.  This is new as I have never had a problem like this before. I have downloaded and updated Git and installed v2.18.0-rc2.windows.1 but the problem persists.   How can I fix this?

`c:\_TFS>git clone http://servername:8080/tfs/ProjCollection/_git/Project.com
Cloning into 'Project.com'...
fatal: Authentication

[2018-06-19 22:40] amalatesta commented on #57
Hi, I have the same problem, when start in my window bash (windows 7) I get the same error:
---------------------------------------------------------
$ git pull
fatal: TaskCanceledException encountered.
   Se cancel▒ una tarea.
Already up to date.
---------------------------------------------------------
But, when i try in the same window for second time it work
$ git pull
Already up to date.
----

[2018-06-20 05:11] DigitalAssasin commented on #662
Did you read issue #660 ? Does the information there solve your problem?

[2018-06-20 05:11] #660 closed

[2018-06-20 16:18] whoisj commented on #57
@amalatesta that sounds like a transient network problem, could it be?

[2018-06-25 08:01] rockit666 commented on #660
Hi all,
well.. It's was necessary to change my password. Now I have the same problem again.
The authentication hell is back.

[2018-06-25 13:52] whoisj commented on #660
@rockit666 can you collect trace logs of the problem?

1. Open Command Prompt.
2. Run `setx GIT_TRACE %UserProfile%\git.log`.
3. Run `setx GCM_TRACE %UserProfile%\git.log`.
4. Restart Visual Studio.
5. Reproduce your issue.

Once you have the logs, please share them here. Of course, please [redact](http://www.dictionary.com/browse/redact) the logs for any private, secret, or personally identifiabl

[2018-06-25 17:42] Chiliyago commented on #662
Yes I have tried this but it appears something is not quite right with the latest version. After reverting my version back to 2.16.1.windows.4 I am able to authenticate again.  The newer versions never popped up the login dialog.

[2018-06-25 18:46] whoisj commented on #662
@Chiliyago Git for Windows v2.16.1(4) and v.2.18.0 have differing versions of the GCM packaged with them. Could you please collect some trace logs for me?

To do so...
 1. Open Command Prompt
 2. Run `setx GIT_TRACE %UserProfile%\git.log`
 3. Run `setx GCM_TRACE %UserProfile%\git.log`
 4. Close and re-open any console or IDE which relies on Git + GCM.
 5. Reproduce your issue.

Once you completed

[2018-06-25 19:40] Chiliyago commented on #662
what version of git do you want the logs from?

[2018-06-25 21:05] whoisj commented on #662
The version that fails. 😏

[2018-06-25 23:28] Chiliyago commented on #662
after all that uninstalling and reinstalling all seems working as expected now on version 2.18.0.windows.1

[2018-06-26 14:21] #662 closed

[2018-06-26 21:01] garretwilson opened #665 "sudden "fatal: TaskCanceledException""
I'm using Git for Windows 2.18.0.windows.1, recently updated this weekend, with `credential-manager` version 1.16.2. I have had no Git password issues for a year or two. Git has been working fine all weekend after the upgrade. I'm currently on a plane using the GoGo Internet service, which drops occasionally.

I went into a repository and did a `git pull` and got the latest version of `master` (ma

[2018-06-26 21:05] garretwilson commented on #665
I just tried again and it says:

[2018-06-26 21:29] garretwilson commented on #665
I just tried with TortoiseGit 2.6.0.0, and the pull happened with no problems. (It appears that TortoiseGit used the command `git.exe pull --progress -v --no-rebase "origin"`.)

I went back to the command line, and now `git pull` completes with no messages!

Either some sort of connection issue resolved itself for all Git clients, or TortoiseGit reset something that fixed the problem.

In any case

[2018-06-27 04:38] whoisj commented on #665
@garretwilson the issue, likely, is that one of the round-trips the GCM needs to do to determine state, provider, etc. failed due to network flakiness. The GCM usually retries a couple of times, but it'll eventually give up and you'll see the `TaskCancelledException` message.

You see the dual attempt because Git does that now - not quite sure when that changed.

[2018-06-27 15:21] ignaciosolergarcia commented on #481
Hi, same issue here with the proxy. Using a localmachine px proxy to automatically login a company NTLM authenticated proxy.

Everything was working fine until I updated today Git for windows, since then I have the same issue:

[code]

Using http made no difference to me but logs changed:

[code]

In case it helps ...

[2018-06-27 15:33] whoisj commented on #614
This is no longer true. I lost access to the nuget.org package, and therefore can no longer update the package. 😞

[2018-06-27 17:06] whoisj commented on #481
Notice `http.proxy = 'http://127.0.0.1:3128'.` vs `http.proxy = '127.0.0.1:3128'.`.

What changed in your environment to cause the `http://` protocol to be removed from your proxy address?

[2018-06-27 20:14] ignaciosolergarcia commented on #481
Sorry if it was not clear last time. I always worked with proxy set as 127.0.0.1:3128. When today I upgraded to the latest version of Git I found out the error about error parsing so after reading this post I added the http:// to the url. Then it stopped complaining about the parsing but it failed anyway with the 407.

Then I posted here in case it helps finding out what's going out.

[2018-06-28 01:39] chucklu commented on #481
@ignaciosolergarcia   It's weird, after I upgraded the git for windows to version 2.18.0.
Now the parse proxy error disappeared.

[2018-06-28 07:04] ignaciosolergarcia commented on #481
@chucklu really weird because it started happening to me when I updated to windows version 2.18.0.windows.1 To be honest I'm not sure which version I was using before as I'm not a fan of upgrading versions ... and this confirms that not upgrading is the way to go in most situations ... as I really don't had a need to do it ¬.¬

[2018-06-28 14:37] whoisj commented on #481
@ignaciosolergarcia @chucklu the lack of a protocol in the URL would cause the GCM to fail to parse the string value and recognize it as a URI (NetFx `Uri` type requires a protocol or scheme to be specified).

The most likely reason that the GCM began having problems after the upgrade was that, prior to v1.16 many of the network operation paths failed to correctly use the proxy information at all.

[2018-06-28 16:16] ignaciosolergarcia commented on #481
@whoisj I'm using global git config.

If the GCM was skipping the proxy configuration how is that it was working properly cloning and so on? Is that even possible? We're using authenticated proxy here and there is no other way to access VSTS.

[2018-06-29 18:07] JustMaier commented on #665
I just had the same issue. I was using my home wifi connection. Everything with the connection seemed fine.

I was only able to resolve the issue after switching from the 5ghz band to the 2.4ghz band. Once I successfully pushed, I was able to get back to normal even after switching back to the 5ghz band. Very weird.

[2018-06-29 19:06] ahmetertem commented on #57
I had same issue and updated `git` as @ctolkien said. It's okay now.

Thanks

[2018-07-05 05:14] MandyJCho commented on #56
Running into similar problems here. GCM has stopped working for me so I installed the latest version of Git (2.18.0) and GCM 1.16.2. I even went as far as deleting my previously cached credentials in my OS's (Windows) credential manager when trying to debug this myself.

Running `git config -l` yields in
`credential.helper=manager`

However, I am still running into
`git: 'credential-manager' is no

[2018-07-05 13:20] HendricksonJS commented on #607
Sorry I'm late in responding, but you gave a full and complete answer to my question! Thanks a bunch.

FWIW, it would still be very nice if it did support Kerberos, like tfvc does, but I now understand why GCM and Git on Windows do not.

[2018-07-05 14:37] whoisj commented on #56
@MandyJCho can you

 1. Open a console.
 2. Run `SET GIT_TRACE=1`
 3. Run `SET GCM_TRACE=1`
 4. Run `git version`
 5. Run `git credential-manager version`
 6. Reproduce your issue

The copy-paste the console session into a text file, and share the output? Thanks.

[2018-07-05 20:38] nbstrat opened #670 "Installation Error - An error occured when updating the local system"
While updating my versions of Git and Git Credentials Manager for Windows in an attempt to correct the "HttpRequestException encountered.  An error occurred while sending the request." messages, I get the following message when installing Git Credentials Manager for Windows.

Microsoft Git Credential Manager for Windows
Fatal: An error occured when updating the local system.

I of course continue

[2018-07-06 13:55] whoisj commented on #670
@nbstrat let's try this. Open "Add or remove programs" from Windows "Settings" app. Locate the Git Credential Manager and click "Uninstall". This should remove the bulk of the GCM, however there may be bits left behind that we want to expunge.

 1. Open Windows Explorer
 2. Remove any GCM files from  `%UserProfile%\bin` that may exist.
 3. Remove `%localappdata%\GitCredentialManager`.

Now downloa

[2018-07-06 17:07] nbstrat commented on #670
GCM would not uninstall from the Settings interface - I was presented with the standard prompts asking if I am sure that I wanted to uninstall,  but the program remained in the Settings interface and the related files in my UserProfile remained.

As an alternative, I performed the following:
I manually removed all registry keys related to "Microsoft Git Credential Manager for Windows".
I did not h

[2018-07-06 18:16] whoisj commented on #670
@nbstrat from the a console try the following...

 1. Run `git config --list --show-origin`

Do you see a `credential.helper=manager` entry? Do you see any other `credential.helper` entries?

[2018-07-06 19:02] nbstrat commented on #670
There are two credential.helper=manager entries.

1) file:C:/Users/1287921639E/.gitconfig
2) file:C:/Program Files/Git/mingw64/etc/gitconfig

[2018-07-06 19:12] whoisj commented on #670
Ok, so that means the GCM ought to be being invoked. Let's see if it is:

 1. Open Command Prompt
 2. Run `SET GIT_TRACE=1`
 3. Run `SET GCM_TRACE=1`
 4. Run `git fetch --all`

Then please share the output generated, of course please redact any secret, private, or personally identifiable information before sharing.

[2018-07-06 19:21] nbstrat commented on #670
$ GIT_TRACE=1

$ GCM_TRACE=1

$ git fetch --all
Fetching origin
14:18:18.720250 ...\Common.cs:665       trace: [Main] git-credential-manager (v1.16.2) 'get'
14:18:18.773674 ...\Git\Where.cs:343    trace: [FindGitInstallations] found 1 Git installation(s).
14:18:18.773674 ...Configuration.cs:222 trace: [LoadGitConfiguration] git All config read, 72 entries.
14:18:18.773674 ...\Common.cs:471       t

[2018-07-06 20:12] nbstrat commented on #670
I suspect that you are correct in that it is related to the TLS1.2 issue. I have read the information from the helpful topic on Developer Community link (multiple times) and have applied the two machine-wide registry keys for the .NET framework as indicated but still have the same issue and am at a loss. Other machines where the installation did not generate an error during the installation succes

[2018-07-06 21:01] whoisj commented on #670
@nbstrat using a tool like Fiddler (from Telerik) you can montior your HTTPS traffic and verify if the issue is TLS1.2 related for not.

The GCM sets the TLS1.2 flags early in its startup, so I know that it'll use TLS1.2 if available - this means that for some reason your machine is unable to meet the TLS1.2 requirement set forth by GitHub.

I believe TLS1.2 (on Windows) requires Vista or newer, .

[2018-07-07 16:05] Pritchard commented on #476
@whoisj How do I set this up? Having continual issues with Visual Studio saying it cannot find git-askpass.exe even though authentication and pushing to my git repo was working again yesterday!

[code]

This is still the case even though recent versions of Visual Studio have apparently solved the issue: https://github.com/github/VisualStudio/issues/949

I have tried clearing all credentials from W

[2018-07-08 03:31] MandyJCho commented on #56
![debug](https://user-images.githubusercontent.com/16763902/42416491-6562fe4c-8235-11e8-8fc3-0f86a0472d9a.png)

Same results.

[2018-07-08 03:42] MandyJCho commented on #56
![debug](https://user-images.githubusercontent.com/16763902/42416531-bb8ece8a-8236-11e8-9503-7c7f8c63565d.png)

Everything after the last trace deals with pushing my changes to GitHub.

[2018-07-08 19:15] blackbird-98 opened #672 "VS Code Github configuration"
VS Code Version: 1.25.0
Commit: 0f080e5267e829de46638128001aeb7ca2d6d50e
Date: 2018-07-05T13:11:58.697Z
Electron: 1.7.12
Chrome: 58.0.3029.110
Node.js: 7.9.0
V8: 5.8.283.38
Architecture: x64
Git Version 2.18.0.windows.1 @ C:\Program Files\Git\cmd\git.exe
I keep getting this error when trying to push to GitHub from VS Code's menu. `Git: git@github.com: Permission denied (publickey).` I have install

[2018-07-08 19:40] shiftkey commented on #672
@blackbird-98 Git Credential Manager is for authenticating to HTTPS remotes only. I'd recommend looking at the GitHub guides for setting up SSH: https://help.github.com/articles/connecting-to-github-with-ssh/ and in particular [Working with SSH key passphrases](https://help.github.com/articles/working-with-ssh-key-passphrases).

[2018-07-08 21:53] dscho commented on #672
OpenSSL != OpenSSH. Very different beasts.

[2018-07-08 22:04] shiftkey commented on #672
@blackbird-98

I'll point you to #25 which was an earlier request for this and in particular this comment  https://github.com/Microsoft/Git-Credential-Manager-for-Windows/issues/25#issuecomment-208755973 about why it's currently out of scope for GCM to be handling passphrases for SSH keys.

[2018-07-09 02:54] whoisj commented on #476
@Pritchard the downloadable GCM package is not designed to override the GCM package that ships with Visual Studio (yes, GCM ships as part of Visual Studio - cool huh?). The latest update to VS should include GCMW v1.16.0 - which is  not the latest, but there will be at least one more patch (probably many more) of VS and that future version will contain v1.16.2.

Best way to see what is happening w

[2018-07-09 02:57] whoisj commented on #56
OK that's bonkers. It appears that Git cannot find the `git-credential-manager.exe` for some reason.

Can you run `where git` and see what returns? Also, `%PATH%` will help us understand the results of `where`. Basically, I'm wondering if the Git you're using is not the Git you think you're using.

[2018-07-10 11:21] roelfveldhuis opened #674 "Readme: Incorrect installation instructions about Setup.exe"
The Readme says: "To use the GCM, you can download the latest installer. To install, double-click Setup.exe and follow the instructions presented."

After clicking the link 'latest installer' I was redirected to a download page where I had to choose a file to download.

I chose to download the file 'gcmw-v1.16.2.zip' (hopefully it's the right one), but there's no setup.exe in the file.

[2018-07-10 11:46] shiftkey commented on #674
@roelfveldhuis the other file in the release (the `.exe`) is the installer that you are probably looking for (the `.zip` just contains the files and assumes you know where to put them on disk). But this is a good point about the docs, it's no longer a generic `Setup.exe` in the listing.

[2018-07-10 14:08] whoisj commented on #674
Thanks for that, I'll look at updating the docs asap.

[2018-07-12 08:03] MattMe99 opened #675 "Dio cane"
porco dio

[2018-07-12 11:59] VasuInukollu commented on #662
I am having this exact problem with Git & TFS. Below is the git.log file content.

16:37:30.816580 exec-cmd.c:236          trace: resolved executable dir: C:/Program Files/Git/mingw64/bin
16:37:30.821217 git.c:415               trace: built-in: git pull
16:37:30.825901 run-command.c:637       trace: run_command: git fetch --update-head-ok
16:37:30.846685 exec-cmd.c:236          trace: resolved exe

[2018-07-12 15:21] whoisj commented on #662
@VasuInukollu can you try the v1.17.0-Preview and see if that helps? I has better NTLM/TFS detection capabilities. Thanks!

[2018-07-12 19:58] #675 closed

[2018-07-13 15:51] #674 closed

[2018-07-17 18:24] vwroad87 commented on #665
I'm having similar issues.  Git is trying two times, no modal login and then I get the command prompt to login:

C:\Users\david.p\Projects\shopify-sap-docker>git pull origin develop
fatal: TaskCanceledException encountered.
   A task was canceled.
fatal: TaskCanceledException encountered.
   A task was canceled.
Username for 'https://github.com':

Here is the relevant logs info:
git version 2.18.0

[2018-07-17 21:10] whoisj commented on #665
@vwroad87 I thinking that this is a time out issue - there's a 30 second limit on the HTTP interactions in the GCM. If you know how to compile and deploy C# code, then I suggest you try recompiling the GCM with `Microsoft.Alm.Authentication.Global.RequestTimeout` set to 5 minutes or something, and see if that resolves the issue for you.

[2018-07-18 13:59] whoisj commented on #665
Looks like the correct code snipit. I'd just change the `15 * 1000; // 15 second limit` to `300 * 1000; // 5 minute limit`, recompile (Release) then run the `GCMW-v1.17.0.exe` that should be placed in the solution's `Deploy/` folder.

[2018-07-18 21:59] whoisj commented on #665
The *.dll and *.exe contents of `"{solution_root}\Cli\Manager\bin\Debug\"` can be manually copied over their equivalents in `"{path_to_git}\mingw64\libexec\git-core\"` and you'll have a working version.

[2018-07-18 22:55] vwroad87 commented on #665
Okay so this is a different issue,  check the log and see the long timeouts,  I set the timeout to 1 minute to test instead of 5.   The wtire exception is gone and the pull completes without me having to put in credentials.

[git.log](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/files/2207602/git.log)

[2018-07-19 03:07] whoisj commented on #665
@vwroad87 @JustMaier @garretwilson I'll get a fix ready for the v1.17.0 preview, and hopefully you can all validate that the issue is resolved.

@vwroad87 thanks so much for doing the leg work on this - very much appreciated!

[2018-07-19 04:17] whoisj opened #683 "Method to override or provide `TargetUri.ActualUri` values."
There needs to be a way to set or override the value that would be provided by the `ReadGitRemoteDetails` function. Ideally, an environment variable.

/CC @jrbriggs

[2018-07-19 12:41] psw58 commented on #57
I had same issue updated to the latest version of GIT for windows accepting all defaults. and git push then opened git login instead of windows credential manager.

[2018-07-19 15:35] whoisj commented on #57
What does this even mean? I'm sorry, I'm not grokking your statement.

[2018-07-20 11:38] amcossu commented on #24
Thanks @whoisj this command solved my problem!

[2018-07-20 18:43] #683 closed

[2018-07-22 02:05] nilnul commented on #665
I encountered the same issue and a search directed me here. Glad you guys have already pinned this down. Where or when I can download the patched version?

[2018-07-22 03:29] whoisj commented on #665
@nilnul I do not have a signed build ready yet, a few issues were reported in the current preview and I'd like to get them all ironed out before releasing the next preview. My hope is to have the next (and please let this be the final) preview releases on Mon 23 Jun 2018 (EST).

[2018-07-22 19:50] thargenediad commented on #178
On a Windows Server 2016 Datacenter VM in Azure, I had to use wincred, to get authentication to work with my company's TFS 2017.

`git config --global credential.helper wincred`

[2018-07-23 17:41] whoisj commented on #178
Unfortunately, `credential.helper wincred` means Windows Credential Helper, not the Git Credential Manager for Windows, so there's no real way to help you.

You're looking for `credential.helper manager` to utilize GCM.

[2018-07-23 19:50] thargenediad commented on #178
Understood, but I was forced to use Windows Credential Helper when Git
Credential Manager never popped up to ask me for my credentials.

On Mon, Jul 23, 2018 at 12:41 PM, J Wyman <notifications@github.com> wrote:

[2018-07-23 21:26] vwroad87 opened #694 "V1.17 taking 2.5 minutes for a basic pull request?"
While no errors are reported in the log taking 2.5 minutes for a pull / push ... transaction makes git unusable in windows IMHO

[git.log](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/files/2221088/git.log)

[2018-07-24 14:05] whoisj commented on #694
@vwroad87 agreed, and if this is a GCM specific issue then it needs to be resolved asap.

Thanks for the report!

[2018-07-24 14:11] whoisj commented on #694
@vwroad87 locally tested this on multiple machines, the time to run the query was well under 1 second.

[code]

[2018-07-24 14:15] whoisj commented on #178
@thargenediad have you tried manually deleting the credentials from the Windows Credential Manager?

1. Press `Start`.
2. Search for `Manage Windows Credentials`.
3. Find an entry like "git:https://github.com".
4. Click `Remove` link to delete it.

[2018-07-24 18:25] jpers36 opened #695 "GCMW not properly interacting with Bitbucket+Git Extensions"
I'm having an issue with Git Extensions and its interactions with Bitbucket and I believe I've narrowed the issue down to GCMW.  I've tried all the recommendations I've found online but nothing is working to address the issue.

I changed my Windows password yeterday morning.  Since then, whenever I attempt to interact with the Bitbucket repository from within Git Extensions (pull, push, fetch all

[2018-07-25 00:03] Pritchard commented on #476
Thank you for your detailed response...

We began having the same issue with Atlassian's own software, SourceTree using BitBucket HTTPS connections. We've quickly moved our teams to use SSL only from hereon. This is resolving the issue across all teams - some using Visual Studio, some not.

I will debug next time we run into a an issue isolated to Visual Studio environments, but I consider this re

[2018-07-25 11:21] hjzech commented on #660
I solved the authentication issue by removing the GIT credentials from windows account manager (control panel). After this Windows asks for credentials during the next GIT session and stores them again in cedential manager.

[2018-07-25 11:57] jpers36 commented on #695
[redacted_git.log](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/files/2227790/redacted_git.log)
Redacted log should be attached.

[2018-07-25 12:59] mminns commented on #695
Hi @jpers36

Thanks for the log loiking at it my initial guess is that is the GCMW is validating your username/password against Bitbucket successfully, but then it is trying to compare your username against _example-username_. Obviously this fails, the GCMW is then saving your _good_ credentials as example-username@bitbucket.org in the Windows Vault. So when the GCMW tries later to find these cred

[2018-07-25 14:00] whoisj commented on #695
oooh this aligns nicely with issues I've had setting up capture & replay tests for Bitbucket.

I kept getting `"example-username"` in the data for some reason. 🤔

[2018-07-26 10:02] ahutcheson opened #696 "Long delays in remote git operations"
I am experiencing frequent long delays (30-120s) when performing remote git operations (clone, fetch, pull, push etc.). It doesn't seem to be a network issue, as others on the same network (using mostly identical development environments) don't have any issues. Also, we recently made the switch from TFVC to git, and I've never had similar issues with either TFVC or TFS in general.

The delays only

[2018-07-26 12:39] mminns commented on #695
Ah. I believe the problem is in here
https://github.com/Microsoft/Git-Credential-Manager-for-Windows/commit/6bbf76f0b85f5f7c79d4702da22e4105ac585dff

Here: https://github.com/Microsoft/Git-Credential-Manager-for-Windows/commit/6bbf76f0b85f5f7c79d4702da22e4105ac585dff#diff-72e68931e036e9bb4365eb9ac68333c1R29
It is no longer appending and trying to talk to the /2.0/user REST resource, rather its tal

[2018-07-26 13:00] mminns commented on #695
FWIW I believe this is the fix https://github.com/Microsoft/Git-Credential-Manager-for-Windows/compare/master...mminns:issue/695?expand=1
Bit 'd like to add some tests to avoid future regressions.

[2018-07-26 13:46] whoisj commented on #696
@ahutcheson thanks for the trace log, I agree the outlier is here:

[code]

This looks like anti-malware intercepting the process to me. Either Git or GCM is being heavily scanned by your anti-malware. Since I would never recommend removal of anti-malware, I'll make alternative suggestions:

1. Ensure that you have exclusions for folders where you keep Git repositories and you source code.
2. Ensu

[2018-07-26 13:48] whoisj commented on #695
@mminns you're the best, thanks! I'll get this fix in as soon as you have it ready.

Yes please, and hopefully you can enjoy the new capture and replay testing framework!

[2018-07-26 14:38] ahutcheson commented on #696
Thanks for the response. I'm not able to add any exclusions myself, but I've put in a request to have them added. I don't know whether they will be added though.

I am somewhat skeptical that it's the anti-malware. I do see relatively high CPU utilization from our anti-malware while doing git operations, however when it hangs, the CPU utilization also drops down to (near) 0%. Also, I have a around

[2018-07-27 05:08] nilnul commented on #665
glad to hear so. and can I just make this configurable? Just asking.

[2018-07-27 09:35] mminns commented on #695
I created a PR, but sadly didn't have time for tests before I go on holiday. :( Apologies.

[2018-07-27 13:45] whoisj commented on #696
@ahutcheson a [procmon](https://docs.microsoft.com/en-us/sysinternals/downloads/procmon) trace is always useful for knowing, with better fidelity, what is actually happening.

[2018-07-29 02:34] obiwantotobi opened #700 "credential manager not being called at all"
I have installed the credential manager and Git for windows, but when i do a pull I get an error, and when enabled the trace, it seems that the credentials helper is not being called at all.

`23:26:00.550359 git.c:344               trace: built-in: git pull origin
23:26:00.550359 run-command.c:640       trace: run_command: git fetch --update-h
ead-ok origin
23:26:00.570359 git.c:344

[2018-07-30 12:08] obiwantotobi commented on #700
It seems that I had the http.cookiefile configured in my git

[2018-07-30 12:08] #700 closed

[2018-07-31 06:46] akuukka commented on #665
Should this issue be fixed in v1.17.0-preview.5?

I'm still suffering from this and it's really annoying because my auto builder scripts are useless now.

[2018-07-31 13:51] whoisj commented on #665
@akuukka yes, is should be.

[2018-08-02 15:15] jpers36 commented on #695
Just installed 1.17.0 and it works great. Thanks!

[2018-08-02 15:15] #695 closed

[2018-08-02 16:50] whoisj commented on #696
Thanks @vwroad87 for sharing that! Let's examine a couple of events from the git.log file.

[code]
... and ...
[code]

You'll notice that in both cases the `[CreateAuthentication]` event is taking far too long. Below I've zero'd out the value to show the delta. It is taking 42 seconds (in the example below) to validate that `https://github.com/` is the correct authority.

[code]

Looking at the so

[2018-08-02 17:36] vwroad87 commented on #696
After running that command this occurred on the CLI?

C:\Users\david.p\Projects\FP-shopify-docker>git pull origin develop
fatal: TaskCanceledException encountered.
   A task was canceled.
fatal: TaskCanceledException encountered.
   A task was canceled.
Username for 'https://github.com':

Still have the long delay.   Here is the new log.

On Thu, Aug 2, 2018 at 9:50 AM, J Wyman <notifications@gith

[2018-08-02 18:49] whoisj commented on #696
The value wasn't picked up by the GCM (not sure why), otherwise we would have seen the values being set immediately after `trace: [LoadGitConfiguration] git All config read, 34 entries`.

[2018-08-03 17:34] HEHenson commented on #57
I found that updating my git on the local machine fixed the issue

[2018-08-04 06:31] VasuInukollu opened #703 "Credentials prompt not working when passwords are changed"
Git version **1.18.1.windows.1** having problems when the passwords are changed. It is not auto prompting for new password. It used to work fine in **1.16.2.windows.1**

[2018-08-04 06:33] VasuInukollu commented on #703
The repository in question is hosted on **TFS Version 16.131.27701.1** and uses ssl

[2018-08-04 14:55] whoisj commented on #703
By SSL you mean HTTPS and not SSH? Have to check here as GCM does not cover SSH (without a lot of special case setup and hand holding).

The failing version is GCM v1.17.0, or Git for Windows v1,18.1.windows.1?

Have you tried GCM v1.17.0? The credential handling code as well as the service detection code was improved significantly, especially with regards to TFS on-premises.

[2018-08-05 17:00] elbal opened #704 "Bitbucket logon failed"
I signal a bug similar to #695 with the Bitbucket autentication.
When accessing the remote repository I'm asked with the username and pasword but they seem not to be working leding to: "Logon failed, use ctrl+c to cancel basic credential prompt.". Then the manual password prompt takes place and the same password works just fine.
On a curious note the plain Git intall (after uninstalling both git a

[2018-08-06 07:05] nilnul commented on #665
this exception happens more often for bitbucket.org; and generally no such exception for other servers such as gitlab. Does this mean connection with bitbucket takes more time?

[2018-08-06 11:01] omatrot opened #705 "Asks for username and password each time I want to push and/or pull"
I need help for troubleshooting the following issue on Windows 10.

I'm using VSCode and Git-CMW to connect to a VSTS repo.

Each and every time I need to push or pull from the remote repo, I'm asked for my credentials again and again. But wait, there's more.
In fact I'm asked two times :
- The first time I have the edge popup window.
- The second time I need to ender credentials in VS Code.
This

[2018-08-06 14:01] whoisj commented on #705
🤔 puzzling, not heard this one in a long time.

Could you provide some additional information?

 * Which version of Git for Windows are you using? Run `git version` to find out.
 * Which version of the GCM are you using? Run `git credential-manager version` to find out.
 * Please collect some trace logs, they'll help us see what is happening internally...
    1. Open Command Prompt
    2. Run `set

[2018-08-06 14:03] whoisj commented on #665
That's not a bad idea. Would you mind filling an issue for the feature request?

Yes. For whatever reason, Bitbucket is noticeably slower for me as well (though, not quite as slow as reported here).

[2018-08-06 14:11] whoisj commented on #704
@mminns @foda this is the n-th person with a problem similar to this - is there a responsiveness issue with the 2FA setup? Perhaps a bad telco route or something? Several users have reported that they're getting request timeouts during credential validation requests (other users have provided logs).

@elbal  could you provide trace logging of the issue?

1. Open Command Prompt.
2. Run `setx GIT_TR

[2018-08-06 16:32] sonakpatel commented on #705
Facing very similar issues here on a fresh Win 10, at least SSH auth via command line. I can login and auth on Git Bash/Powershell etc., but have to type my password in every time. I've never witnessed any credential prompts outside of the terminal.

Through VS Code's Git extension, when doing a `git pull` it fails to find or prompt for any authentication:
[code]

**Git versions**
`git version`
gi

[2018-08-06 16:40] whoisj commented on #705
@sonakpatel thanks for sharing, however I do not see any `GCM_TRACE` output in your trace log. Did you set `GCM_TRACE`? In fact, I do not see any `git remote-https`  commands. Is your "remote" branch actually a local branch?

[2018-08-06 18:09] sonakpatel commented on #705
@whoisj I did indeed run the GCM trace the first time around and my only remote on this repo points to GitHub (fresh clone)

Here are the commands I've set/run and the equivalent git.log:

- Only set GCM trace with `setx GCM_TRACE %UserProfile%\git.log`
- `git remote` = _origin  git@github.com_
- ` git config --global credential.helper` = _manager_
- `git pull` multiple times and multiple p/w requ

[2018-08-06 18:15] nbstrat commented on #670
I have confirmed that the connection is being made with TLS1.2 using Fiddler and have since upgraded my version of Visual Studio per the recommendations in the links provided (and confirmed that I have the latest .NET framework), but continue to have the same problem.

I continue to receive the "fatal: HttpRequestException encountered. An error occurred while sending the request." message on every

[2018-08-06 18:47] elbal commented on #704
Hi @whoisj, thank you for the tip.

Here is the log:

20:13:31.968538 exec-cmd.c:236          trace: resolved executable dir: C:/Program Files/Git/mingw64/bin
20:13:32.233738 exec-cmd.c:236          trace: resolved executable dir: C:/Program Files/Git/mingw64/bin
20:13:32.233738 git.c:415               trace: built-in: git rev-parse --git-dir --is-inside-git-dir --is-bare-repository --is-inside-wo

[2018-08-06 19:58] whoisj commented on #704
@mminns @foda I think the important part of the trace is here:
[code]
Notice the number of times `[ValidateCredentials]` is invoked during this single execution. Any idea what is happening here?

[2018-08-06 20:04] whoisj commented on #670
Are you still seeing the same error messages?

[code]

[2018-08-06 20:08] whoisj commented on #705
What is the output of `git config --list --show-origin | findstr /I credential` and `git config --list --show-origin |  findstr /I github.com`?

[2018-08-06 20:09] whoisj commented on #705
I should have see this sooner:
[code]
It appears you're using SSH. The GCM is not involved with SSH, so there's no much I can do for you here.

[2018-08-06 20:34] nbstrat commented on #670
Yes, same error message.

[2018-08-07 07:39] jaouharDAHMOUL commented on #705
Hi i'm talking for omatrot,
git version : git version 2.18.0.windows.1
GCM:Git Credential Manager for Windows version 1.17.0

there is my log file:

[code]

[2018-08-07 09:24] ph55 commented on #705
Same issue.
VSCode + Bibucket.

Need to type password twice
1. Bitbucket pop-up
![image](https://user-images.githubusercontent.com/1386622/43767021-a6289602-9a3c-11e8-8b8a-bf6cd660dbd7.png)

2. VSCode
![image](https://user-images.githubusercontent.com/1386622/43767098-d884109a-9a3c-11e8-8a7d-e1e4097b677e.png)

[2018-08-07 10:25] danielsjf commented on #613
I'm having the same issue. Could it be due to 2FA? I never had to use my 2FA during login.

[2018-08-07 11:01] MatteoOreficeIT commented on #704
Version: 1.17.0

We receive __Logon failed__ error when :

[code]

But removing username the login succesfully happens  and credential are stored in windows credentials :

[code]

Why there are so many changes for final user in a the last few week ?

[2018-08-07 12:36] jciechowski commented on #670
Just run into the same issue today. I am using git version 2.18.0.windows.1 and Git Credentials Manager for Windows version 1.16.2 on a Windows 10 as well. Only difference is that I'm using Bitbucket.

[2018-08-07 12:54] jciechowski commented on #670
Had the same problem after updating to 2.18.0.windows.1 today which comes with GCM 1.16.2. Installed GCM 1.17 and it disappeared.
Hope it will work for you as well.

[2018-08-07 13:19] JohnyWS commented on #660
Not to tell too much about your password, but I'm pretty sure # isn't the issue but ¤ is on the other hand. I had to change password for the exact same reason... :-/

[2018-08-07 14:03] danielsjf commented on #613
Had a lot of issues with this one. In the end I managed to fix it slightly. I tried the following steps:
* According to [this issue](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/issues/559), the problem is that Github updated to TLS 1.2 and older versions don't support this. Therefore I've upgraded to the latest version of Git for Windows.
* I also had a proxy configured which g

[2018-08-07 14:05] TJSoftware commented on #705
Additional information. The above logs were from a new install. I first thought that it could have been something that I did incorrect, however, when I got to a machine that had previously been working (no password requests) I received a prompt.

**git version**
git version 2.18.0.windows.1
**git credential-manager version**
Git Credential Manager for Windows version 1.16.2

I did not update the c

[2018-08-07 14:29] whoisj commented on #704
With the fix suggested by @Foda, hopefully you will not have to.

[2018-08-07 14:34] whoisj commented on #670
Well, then the host is, most likely, refusing your connection. I have no way of knowing why.

@shiftkey any chance you, or another Githubber, have any insights into what is happening with @nbstrat here? On the surface it appears to be the TLS1.2 issue, but they report having done everything necessary to using TLS1.2. They even report having used Fiddler to confirm TLS1.2. So now I'm at a loss, any

[2018-08-07 15:25] whoisj commented on #705
@TJSoftware your issue appears to #704 which already has a pull-request up for review to resolve it.

@jaouharDAHMOUL the failure reported is a failure to look up the Identity Service using VSTS Location Service. Since the Identity Service is what the GCM uses to exchange the access token granted from Azure logon for the VSTS personal access token, the GCM is forces to abort.

Not finding a servic

[2018-08-07 15:46] jaouharDAHMOUL commented on #705
@whoisj
Thank you for your response!
https://helloword.visualstudio.com is a replacement.
my real URL works fine !

thanks in advance

[2018-08-07 17:41] garretwilson commented on #665
Oh no, suddenly this is happening with me connecting to Bitbucket with an 80Mbps fixed connection using version 2.18.0.windows.1. I can't even push now.

[2018-08-07 19:03] whoisj commented on #705
Wait, what? Now I'm confused 😕 please explain. Is your issue resolved, or still happening?

[2018-08-07 19:04] whoisj commented on #665
@garretwilson can you report the output of `git version` and `git credential-manager version` ?

If your GCM version is less than v1.17.0, could you try the v1.17.0 release?

[2018-08-07 19:07] whoisj commented on #665
@mminns @foda since yesterday, we (Visual Studio and GCM) have been seeing a ton of issue reported with Bitbucket authentication either timing out or failing due to connections being closed by the host. Do you know if anything has changed with Bitbucket or it network provider recently?

[2018-08-07 19:30] akuukka commented on #665
Not sure what's going on with Bitbucket, but recently I'm having authentication trouble with them even on Linux and especially with git lfs.

[2018-08-07 19:51] Foda commented on #665
@whoisj I ping'd the Bitbucket team -- will let you know if I find out anything.

[2018-08-07 22:17] garretwilson commented on #665
* git version 2.18.0.windows.1
* Git Credential Manager for Windows version 1.16.2

I don't have time to manually install a different GCM version right now.

I'm still unable to push to Bitbucket. I note that https://status.bitbucket.org/ still says that there are no problems.

I understand when a connection is bad and times out, but… this is only 2–3 seconds! This is surprising for two reasons:

[2018-08-07 22:30] Foda commented on #665
@garretwilson BB team doesn't have anything to report -- but I encourage you to file an issue with them and see if there an additional problem with your connection.

[2018-08-07 22:31] garretwilson commented on #665
Ack! I can't even pull the latest code from my client! I will file a ticket with Bitbucket immediately, thanks.

[2018-08-07 23:03] garretwilson commented on #665
Now the BitBucket rep says s/he was wrong about the notification at https://github.com/Microsoft/Git-Credential-Manager-for-Windows ; this was irrelevant. Now s/he says that there is some "bug" in GCM for Windows. But s/he hasn't explained to me yet why my Git client is working for GitHub and not for Bitbucket.

I get the feeling that a buck is being passed. Harumph.

[2018-08-07 23:17] Foda commented on #665
@garretwilson there was a nasty bug with Bitbucket support in v1.16.2. It was fixed [via this issue](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/issues/695) in v1.17.0, but if you're using 2FA you'll have to [wait a few days for the next fix](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/pull/706)

[2018-08-07 23:35] garretwilson commented on #665
Is there some sort of Bitbucket authentication token that perhaps only expired yesterday, requiring actual authentication renewal to only happen now? (I'm just trying to understand what's going on, because it doesn't make sense to me yet.)

[2018-08-08 05:02] rochurain commented on #705
I have the same problem,But it's solved now.

[2018-08-08 05:36] rmandvikar commented on #704
@whoisj Hitting this since yesterday. What's the eta for fix? I have gcm 1.17.0 but still.

git version 2.18.0.windows.1
git credentials manager 1.17.0
windows 8, 10
https

[2018-08-08 05:40] omatrot commented on #705
@whoisj What @jaouharDAHMOUL was trying to say is that the real url xxx.visualstudio.com works fine in the browser, the authentication is OK. The problem with Git is not resolved.

[2018-08-08 09:30] retsetman commented on #476
I have three computers running VS 2017. One has Windows 10 and version 15.7.5 of VS 2017 the other two run on Win 7 and have version 15.7.6 of VS 2017. When I try to push or pull to bitbucket all of them show this message:

HttpRequestException encountered.
   An error occurred while sending the request.
cannot spawn /C/Program Files (x86)/Microsoft Visual Studio/2017/Community/Common7/IDE/CommonE

[2018-08-08 10:03] sr01 commented on #704
I found no other way then going back to file based store.

as described here: [https://agilewarrior.wordpress.com/2017/09/25/how-to-setup-git-credential-store-in-windows/](url)

[2018-08-08 10:32] MatteoOreficeIT commented on #704
Omit username in remotes

Il mer 8 ago 2018, 12:03 sr01 <notifications@github.com> ha scritto:

[2018-08-08 13:09] alecrt commented on #476
Same problem with Bitbucket as @retsetman

[2018-08-08 13:32] leppie commented on #704
Make sure you use `https://username@bitbucket.org` and not just `username` in the bitbucket login prompt.

[2018-08-08 15:08] elbal commented on #704
@Foda This is interesting, using: "https://username@bitbucket.org", as suggested by @leppie, instead of "username" in the Git Credential Manager seems to be working better as it takes me to a 2-factors autentication page.

Strange thing is I do not recall of setting up a 2-factors autentication procedure and as soon as I authorize the next page, the one that should confim the autorization has been

[2018-08-08 15:56] Pack4Duck commented on #476
same problem witrh bitbucket too

[2018-08-08 16:12] leppie commented on #704
@elbal I built GCMW from source from the rel/1.17 branch (build attached). Not sure if that fixed it for me. I didnt have issues granting access and authenticating after.
[gcmw-v1.17.0-bitbucket-fix.zip](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/files/2270974/gcmw-v1.17.0-bitbucket-fix.zip)

[2018-08-08 16:49] garretwilson commented on #665
Pushing to Bitbucket is still failing today, so I went ahead and upgraded to GCM for Windows 1.17.0. I then tried pushing, and I got a dialog asking for my Bitbucket credentials. I logged in using my Bitbucket username and password. Now the command line says:

And the `git` CLI is hung. What do I do now?

[2018-08-08 16:51] garretwilson commented on #665
Apparently the CLI was hung because the Bitbucket authentication window popped up again, but behind all my other windows.

Nevertheless, I enter my Bitbucket username and password, and it still says my logon failed.

[2018-08-08 19:45] garretwilson opened #710 "v1.17.0 fails to authenticate with BitBucket"
I'm stuck here. I can't push or pull from my company's repositories or my client's repositories.

Originally I was using the following versions:

* git version 2.18.0.windows.1
* Git Credential Manager for Windows version 1.16.2

Yesterday suddenly I was unable to authenticate with Bitbucket, even though everything was working fine the day before, and my configuration hasn't changed in months. (Th

[2018-08-08 20:15] whoisj commented on #665
@garretwilson  see #710 , #711, #712 . We're working on it! 😁

[2018-08-08 20:17] whoisj commented on #710
Should be resolved by #712, well as soon as it is merged, a build is ready, signed, released... 🤪

[2018-08-08 20:18] whoisj commented on #704
All, @foda and are working on the fix as quickly as possible. My goal is to patch both v1.16 and v1.17 this week. (#711, #712, #713).

[2018-08-08 20:55] whoisj commented on #613
@danielsjf remember, your proxy needs to support TLS1.2 as well. If it doesn't, the stream to GitHub will get interrupted.

[2018-08-09 01:35] chrisjpalmer commented on #710
Thanks guys. I too am experiencing something like this.

I can push to bitbucket BUT it never remembers my password and I got the 'fatal: HttpRequestException' errors as well.

[2018-08-09 05:33] omatrot commented on #705
@whoisj @jaouharDAHMOUL is an intern that works with me. I opened the case to make him learn GitHub. I'm personally working on a Mac no problem here.

[2018-08-09 08:02] razvangoga commented on #476
Same problem here. I've starting encountering this issue after updating to 15.7.6 and installing the latest Resharper for VS2017. Can you share the cause? Only crashes when working with git from Bitbucket. Git from Github or TFSO works ok.

[2018-08-09 09:26] dampee commented on #710
Can't wait for the release

[2018-08-09 13:44] garretwilson commented on #710
Can someone at least give an estimate on when to expect it? From @whoisj 's earlier comment, I thought it would have been the same day, since I assume that it's stopping all these huge corporations in their tracks that are using Bitbucket with HTTPS and need to get work done. Or am I somehow the only one of a few affected?

In case it helps others, I found a workaround: a coworker suggested I use

[2018-08-09 13:50] jaouharDAHMOUL commented on #705
@omatrot @whoisj
when i work with my public account github there is no problem, im asked for my password just ONE time for my first push or pull !! I think the problem is with my account visualstudio team. Maybe is a configuration's problem?!!

[2018-08-09 14:12] randygrolemund opened #719 "Magically does NOT work!"
NOPE!
![image](https://user-images.githubusercontent.com/8581255/43904381-1acc0c96-9bb4-11e8-9cab-fb11adff1b57.png)

Further configuration is required...... mine did NOT magically work as described. Instructions?

Host key verification failed. fatal: Could not read from remote repository.  Please make sure you have the correct access rights and the repository exists.

I have access..... I own it.

[2018-08-09 14:21] randygrolemund commented on #719
You can close this. I did it the old fashioned way, and it works perfectly. Removing your software, thanks anyhow.

[2018-08-09 15:05] jasoncouture commented on #476
I am also encountering this issue, I will attach my git.log from the setx commands when I get home.
It's complaining that bitbucket closed the connection before the response was read.

[2018-08-09 15:33] whoisj commented on #705
@omatrot thanks for the backgrounder.

@jaouharDAHMOUL public repositories on GitHub do not require authentication to fetch or pull from. Only push to. Private repositories require authentication both ways.

With Visual Studio Team Services [VSTS] everything is private, so authentication is necessary both ways. Can you provide the URL to your VSTS account? With that I can look at the service logs

[2018-08-09 15:43] whoisj commented on #476
@razvangoga looking at the pull requests (which are fix) should help point to the cause. 😏

[2018-08-09 15:44] whoisj commented on #476
This particular fact has been rather troubling to me. @Foda, does the fixes so far cover this issue? Normally we see errors where the host closes the connect abruptly around TLS, DNS, and other networking issues - not with authentication directly.

[2018-08-09 15:47] whoisj commented on #710
@garretwilson ETA is ASAP. Waiting on @Foda to confirm that things are indeed fixed as it rather difficult for (Microsoft) to perform exhaustive test validation against Bitbucket (Atlassian). Ideally, we'll see the green light today and I'll get a signed update out today (09 Aug 2018) or tomorrow (10 Aug 2018).

[2018-08-09 15:52] whoisj commented on #719
@randygrolemund I'm sorry things did not work perfectly for you. Unfortunately you did not provide quite enough information for me provide much assistance.

Potentially, as on Linux I assume you would use SSH and not HTTPS making this mostly a non-issue. 😕

Sure, no problem.

[2018-08-09 15:52] #719 closed

[2018-08-09 16:15] razvangoga commented on #476
What i meant (maybe was not too clear) was "should i start uninstalling / downgrading stuff or wait for a fix because it's unrelated". But thanks for the GTFO and RTFM style answer @whoisj.

[2018-08-09 18:51] whoisj commented on #476
Hey no problem 😉.

Seriously though, I don't have an answer to your actual question was. We're working on a fix as quickly as possible. It's not as quick as you might hope given the need to actually test and validate everything, but progress is being made. We're still hoping on getting a release out today, or at latest tomorrow.

[2018-08-09 20:43] whoisj commented on #710
[v1.17.1 Preview 1](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases/tag/v1.17.1-preview.1) is available.

[2018-08-09 20:43] #710 closed

[2018-08-09 20:44] whoisj commented on #704
[v1.17.1 Preview 1](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases/tag/v1.17.1-preview.1) is available.

[2018-08-09 20:44] #704 closed

[2018-08-09 20:45] whoisj commented on #705
To those hitting the BitBucket authentication issue, [v1.17.1 Preview 1](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases/tag/v1.17.1-preview.1) ought to resolve your issues.

[2018-08-10 00:41] mesbahamin opened #725 "Prompted Every Time for Bitbucket Credentials"
## Summary

- I have to manually enter my credentials 3 times every time I clone my
  repository from bitbucket.
- Windows appears to store the entered credentials, but they do not seem to be
  used.

## Details

### Context

[code]

### Steps

Credential manager shows no credentials related to bitbucket:

[code]

I set up logging and clone my repo:

[code]

I had to enter my credentials 3 times.

[2018-08-10 00:44] mesbahamin commented on #725
I suspect this might be related to #705

[2018-08-10 00:47] garretwilson commented on #710
`GCMW-1.17.1-preview.1.exe` allows me to push and pull now. Thank you!!!

[2018-08-10 03:14] whoisj commented on #725
@mesbahamin do you know what this is for?
[code]

With `interactive = 'never'` you should not be prompted at all. Additionally, how certain are you that these prompts are coming from Git and not Git-Lfs? It looks like Git-Lfs is referring to bitbucket.org as www.bitbucket.org, and those are different credential sets (from Git's point-of-view).

OK so let's break this down.

1. `built-in: git clone

[2018-08-10 07:25] jaouharDAHMOUL commented on #705
@whoisj  This is my URL "https://stillinprogress.visualstudio.com/"
Thanks in advance !

[2018-08-10 13:05] dampee commented on #710
I had the same issue.  Tested the update.  And everything works fine again.

[2018-08-10 15:48] PierreRoudaut commented on #710
Thank you so much !

[2018-08-10 23:30] mesbahamin commented on #725
Perhaps this is #704 and #710 arising from the depths even after #720 ?

[2018-08-13 13:53] dhawk opened #729 "Installer attempts to install 64 bit version of Git for Windows on 32 bit machine"
Should check OS bitsize first and then install appropriate Git For Windows package

[2018-08-13 14:08] whoisj commented on #729
I agree, and I'd happily accept a PR to add that functionality. 😉

[2018-08-13 14:40] dhawk commented on #729
Fair enough, should be low priority.  Can I just go ahead and install the stock 32-bit Git for Windows or have you made modifications to it for the purposes of this project?

[2018-08-13 14:56] dhawk commented on #729
Forgive my ignorance – what is a “PR”?

Dave

From: J Wyman <notifications@github.com>
Sent: Monday, August 13, 2018 10:09 AM
To: Microsoft/Git-Credential-Manager-for-Windows <Git-Credential-Manager-for-Windows@noreply.github.com>
Cc: dhawk <dhawk@ccil.org>; Author <author@noreply.github.com>
Subject: Re: [Microsoft/Git-Credential-Manager-for-Windows] Installer attempts to install 64 bit version o

[2018-08-13 17:54] whoisj commented on #729
GCM works fine with both 32- and 64-bit Git for Windows, the installer just does not know how to download and install the 32-bit version of Git for Windows.

[2018-08-13 23:43] mesbahamin commented on #725
@whoisj And thank you for taking the time to help me get to the bottom of this
:). This comment is a lot of text, but hopefully will contribute.

### More Tests

I did some more tests to try and clarify what's happening and remove even more
irrelevant variables. I found that it made a difference whether or not my git
configuration included,

[code]

, which, if present, causes me to be prompted fo

[2018-08-15 01:50] benyaminl commented on #725
I can't even authenticate with bitbucket.. they screw everything lately without any notice...

[2018-08-15 09:06] codekaizen commented on #725
Git 2.18 broken for me, too in the same way. I reverted to git 2.16.3 and I can sign in with the Atlassian credential dialog via GCW.

[2018-08-15 11:37] ahutcheson commented on #696
I ran a procmon trace, but given the duration of the issue it was far too large to include. There weren't any operations with long durations in the trace, which would point to a large number of short durations, but I wasn't able to find anything that seemed relevant.

I have ruled out anti-malware, as I (temporarily) disabled all anti-malware on my machine, and the issue still occured. I've also t

[2018-08-15 14:06] whoisj commented on #696
@ahutcheson thanks for the analysis. Unfortunately, I've no immediate hunches on what the issue might be.

[2018-08-15 14:54] whoisj commented on #725
/CC @foda @mminns

@benyaminl and @codekaizen could you capture trace logs similar to what @mesbahamin was kind enough to provide? They are invaluable when attempting to resolve issues for you.

[2018-08-15 15:03] nilnul opened #733 "make network connection time-out configurable"
re:  https://github.com/Microsoft/Git-Credential-Manager-for-Windows/issues/665#issuecomment-410718942

Currently the time-out value is hard-coded in https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/30a13695289a50832d66005056d60c6302909c7b/Microsoft.Alm.Authentication/Src/Global.cs#L40

Can we make this value configurable? And even better, the configuration can be finetuned by

[2018-08-15 15:30] ahutcheson commented on #696
From what I can tell it's an issue with sh.exe or bash.exe combined with something that seems to be limited to my machine.

After toying around with sh.exe I've noticed it happen on some other commands as well. For whatever reason it only triggers on 'git credential-manager get' when performing git operations.

I've now implemented a really stupid work-around by creating a scheduled task that call

[2018-08-15 16:39] whoisj commented on #696
@ahutcheson do you have any kind of Fusion!Log or .NET tracer stuff enabled? Those can impact JIT times, and given your statement:

I'm wondering about JIT times.

Thanks, and best of luck tracking down the root cause. If you do ever find out, I'd be very curious to know what it was.

[2018-08-15 16:39] #696 closed

[2018-08-15 16:53] mesbahamin commented on #725
@whoisj In an attempt to answer some of the questions I listed in my last post, I cloned and built Git Credential Manager for Windows locally and told git to use this local build as its credential helper.

Unfortunately I didn't quite manage to get to the point where I could step through the code in VS when git invoked GCM. I may be able to put more time into this, and will report here if I find a

[2018-08-15 17:06] whoisj commented on #725
@mesbahamin if you set `GCM_DEBUG=1` the GCM will reach out to your debugger for help.

Of course, this works best with a debug build of the project, so using your local built GCM is likely the best solution if you plan to debug the project.

Thanks so much for your continued patience and effort! 🙇‍♂️👍

[2018-08-15 17:27] Ghasan commented on #710
In case someone here like me using native Windows OpenSSH, the issue is because urls have changed. Please check this document: https://docs.microsoft.com/en-us/vsts/repos/git/use-ssh-keys-to-authenticate

Here is an excerpt:

    Important

    SSH URLs have changed. Old SSH URLs will continue to work through December 1, 2017. If you have already set up SSH, you will need to update your remote URL

[2018-08-15 17:33] michaelblyons commented on #725
FWIW, I also had trouble until GCM 1.16.3. Now I have saved auth working with the modals, but I had to go through the modal auth process twice for a single fetch for it to stick. I also have 4 entries in Credential Manager, where I used to have 3:

- `git:https://bitbucket.org`
- `git:https://bitbucket.org/refresh_token`
- `git:https://BitbucketRefresh@bitbucket.org/refresh_token` This one is new

[2018-08-16 00:10] benyaminl commented on #725
@whoisj It's working after useing GCW 1.17.1 (Sorry for not looking the release, I've seen that there's problem on milestone, thanks for fix it for user like us). I use busybox git version, the very minimal version of git on windows

[2018-08-16 03:48] VivaLaRobo commented on #476
Any update on this? I just ran into this issue when it was working perfectly fine just the other day. Nothing has changed except suddenly it says "Logon failed, use ctrl+c to cancel basic credential prompt." This only happens when running "git clone" through Jenkins. and again it was working perfectly fine 3 days ago and we haven't changed anything. Not sure what to do here.

[2018-08-16 11:42] whoisj commented on #725
@benyamini please be aware that Minimal Git for Windows is not designed to be used directly by people. It is intended to be used as part of a GUI application. For example : Visual Studio ships with and exclusively uses Minimal Git for Windows.

You can make it work on the command line, but you're on your own if / when things fail.

[2018-08-16 11:44] benyaminl commented on #725
@whoisj Yep I just told by other developer the same way. I use it with VS Code :) Anyway it's working for now (I hate git with very big footprint on memory, that's why I use MinGit, and It's portable :))

[2018-08-16 16:29] whoisj commented on #476
@VivaLaRobo you'll likely need to capture trace logs for me to help. To do so

1. Open Command Prompt
2. Run `setx GIT_TRACE %UserProfile%\git.log`.
3. Run `setx GCM_TRACE %UserProfile%\git.log`.
4. Restart any Git clients (consoles, Jenkins, Visual Studio, etc.)
5. Reproduce the issue with Jenkins.

Once you have captured the issue, share the data captured in `%UserProfile%\git.log`. As always, r

[2018-08-18 23:55] steevcoco opened #736 "Cannot Perform ANY Git Activities: Authentication Fails!"
I have a completely blocked situation: no activities will succeed! I have a clean install of Git for Windows: 2.18.0.windows.1. I am trying to connect to a VSTS account: MY_ORGANIZATION.visualstudio.com and all activities fail. I installed with the Git Credential Manager.

My complete .gitconfig file is:
[code]
I have visited Windows Credential Manager and deleted everything with visualstudio or g

[2018-08-19 04:51] steevcoco commented on #736
I found a way to make SOME progress: I created a new Personal Access Token in my VSTS account, and I used Git on the command line to clone: I used the access token's name as the username, and the token itself as the password, and that worked. I don't see any credentials added to Windows Credential manager ... And I can't log in "normally" with my email and password ...

However: a Push from Visual

[2018-08-19 05:30] zahra-soltaninejad commented on #646
i have this problem and it solved by turning of my VPN

[2018-08-19 05:31] zahra-soltaninejad commented on #646
i had this problem and it solved by turning off my VPN

[2018-08-19 23:54] cchen146 commented on #435
still having the same issue with v.1.16..2
git push --set-upstream origin codedeploy
fatal: TaskCanceledException encountered.
   A task was canceled.

[2018-08-20 07:37] SamiHK commented on #424
@bobbytait  that worked like a charm.

[2018-08-20 14:14] whoisj commented on #435
@cchen146 could you collect trace logs relevant to your issue? To do so, run `SET GCM_TRACE=1` prior to running the Git command that fails. Thanks.

[2018-08-20 14:18] whoisj commented on #476
@VivaLaRobo that is a very partial log, and none of the GCM_TRACE information is present.

When you're connected via SSH, which users are actually running as? And, does that user have access to the credential store you expect? Remember that, on Windows, credential stores are not permissions based, instead they're cryptographically secured to prevent system administrators from having access to your

[2018-08-20 14:27] whoisj commented on #736
@steevcoco this looks like you're running into network timeouts.  The message `[WriteException] ! error: 'A task was canceled.'.` is indicative of this happening. As to why this is happening I'm not certain.

My best suggestion would be to download the .zip package from [v.1.17.1](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases/tag/v1.17.1). and follow [this suggestion](ht

[2018-08-20 17:42] steevcoco commented on #736
Wow ... OK I have solved it! @whoisj Thanks for the help.

What I had to end up doing was all of the following:

1. "Totally" uninstall Visual Studio --- uninstalled, removed the Installer, ran the "TotalUninstaller" tool.
2. Remove ALL cache folders: identity, all VS AppData folders, and all Git folders, and my git config.
3. Remove all Personal Access Tokens from the VSTS server.
4. Remove all "

[2018-08-21 07:06] razvangoga commented on #476
So i'm attaching 2 logs with my situation.
Since my last message I've updated all i can. I'm using:
- VS 2017 v15.8.1
- Github extension v2.5.4.3349
- Windows 10 Pro Version 10.0.17134 Build 17134
- git v2.18.0 (installed via Chocolatey v0.10.11 if it makes any difference)
- i always run VS as administrator

I've attached 2 logs one with and without the saved bitbucket Windows Credential.
The only

[2018-08-21 13:18] VivaLaRobo commented on #476
For me, windows does save the credentials. I can seethe credentials stored when I open up the credential manager within windows. However it does not work when connected over SSH or through Jenkins. Interesting that it doesn't work with bitbucket based repos, but it works with others according to @razvangoga ^ wonder if this is the same issue I am seeing.

[2018-08-21 17:21] reidca opened #739 "How to update version for VSCode"
I am having some issues with VSCode constantly prompting for credentials for BitBucket. This is driving me mad!

To try to fix this I have updated both "Git for Windows" and "Git Credential Manager for Windows" however for whatever reason the update does not seem to have applied.

If I run >>git credential-manager version
It always returns:

If I look in the installed program list however it shows

[2018-08-21 18:50] mesbahamin commented on #725
After some additional time spent investigating this (with he help of `GCM_DEBUG`
and the Visual Studio debugger), I think I may have some useful observations.

## Username vs. Email Address

First, some words about the current state of Bitbucket authentication.

Bitbucket has the concept of an account with a username and an email. In the
following discussion and logs, I will use `"my_bitbucket_use

[2018-08-21 21:41] whoisj commented on #739
VS Code, I believe, uses the Git found on %PATH%, so it should be using the updated one.

However, I'm not sure - I recommend opening an issue on the Code issue tracker (also on GitHub)

[2018-08-22 04:05] whoisj commented on #725
@mminns @Foda this is some amazing debugging detective work on behalf of @mesbahamin for you. 🤩🔎

[2018-08-22 10:46] mminns commented on #725
@mesbahamin thanks. I'll take some time to read it in more detail.

I will just mention that the Bitbucket code _should_ store credentials under **git:https://username@bitbucket.org** when the **username** is included in the repository's remote url.
If the remote url does _not_ include the username then the credentials _should_ be stored as **git:https://bitbucket.org**.

Whether that is happening

[2018-08-22 11:11] rorymacleod commented on #703
I'm having the same problem accessing TFS. I run `git push` and it gives me the error, "fatal: Authentication failed for 'http://server:8080/tfs/project/_git/repo/'".

This repo used to work but I haven't used it in a few weeks. It uses Active Directory authentication and I have changed my password since I last accessed it.

TFS version is 15.105.25910.0. Git for Windows version is 2.18.0.windows.

[2018-08-22 14:17] whoisj commented on #703
@rorymacleod would you be willing to capture a trace log of the failure?

To do so...
1. Run `SET GIT_TRACE=1`
2. Run `SET GCM_TRACE=1`
3. Reproduce the issue.

The log should be dumped to the console as the operation progresses. Thanks!

[2018-08-22 19:50] razvangoga commented on #476
@whoisj strange... i first encountered the problem when i was still on 15.7.6 (when i blew a gasket a few posts up.. sorry for that). Maybe the problem was from the 15.7.5 to 15.7.6 update?

Anyway, if you say it's VS related, i'll wait for the update. I can manage with the command line - which I was doing anyway until the vs git integration extension became so handy :))

Thanks,
Razvan

[2018-08-22 20:50] whoisj commented on #476
@razvangoga we all blow a gasket from time to time, no harm done 😄

The bug is in the GCM, but the GCM that ships with the Git for Windows package that ships with Visual Studio. Hence we need to wait for VS to issue an update to fix it. Apologies for the wait, but at least the fix is forth coming. Thanks for being understanding 😊

[2018-08-22 22:33] mesbahamin commented on #725
## Verifying Our Expectations

@mminns I tested whether GCM's behavior conforms to our expectations. These
2 tests were done with GCM checked out at tag `v1.17.1-preview.1` (commit
91d2120c0684694c382b737e3b4f9bb23d5ed0ef), and with this in the gitconfig:

[code]

### Expectation 01

This appears to be happening as we expect. See [Test 01](#test-01-(username-in-url)).

### Expectation 02

This doe

[2018-08-23 00:01] mesbahamin commented on #725
A natural question to ask is:

"Why is initial value of the `targetUri` parameter of `SetCredentials()`
`"https://my_bitbucket_username@bitbucket.org/"` when I enter my creds in the textual
prompt, but `"https://bitbucket.org/"` when I enter the exact same creds in the
modal window prompt?"

Some digging revealed that the username is injected into the URI [here](https://github.com/Microsoft/Git-Cr

[2018-08-24 11:45] mminns commented on #725
I'm intending to look into this next week.

[2018-08-27 21:31] jgorgolewski opened #741 "Error 407 when proxy credentials are URL encoded"
If proxy credentials have characters that require URL encoding (like \ or @), then TryGetUser fails with error 407 from proxy server. Code in Authentication.Network.GetHttpWebProxy does not decode those characters before creating NetworkCredentials for WebProxy which results in incorrect credentials sent to proxy server.

Instead of this:
[code]

something like this should be used:
[code]

[2018-08-28 08:31] reidca commented on #739
Tried opening an issue on the VSCode issue tracker but am getting nowhere. They say that VSCode just calls git.exe. How does Git know which version of the credential manager to use? Despite having the latest version of the credential manager installed GIT still uses the old version - that must be a setting somewhere in Git but I cannot find it.

[2018-08-28 14:27] whoisj commented on #739
@reidca VSCode invokes the first Git it finds on your `%PATH%`. Git uses `git config --list` looking for `credential.helper=...` and calls the first one registered.

Your best bet is to run the `git config --list --show-origin` command and validate the `credential.helper =` values listed. Running from the root of the repository will include any local repository configuration values as well.

[2018-08-28 14:30] whoisj commented on #741
The problem with this approach is that URL decoding is not safe. If the user has a `%` character in their username or password, then everything goes sideways.

@mminns what is your opinion? Most of the user-info stuff (yes, I know not for proxies, but ...) is Bitbucket related, giving you the most experience in this area.

[2018-08-28 16:08] jgorgolewski commented on #741
If credentials for proxy are passed on as URL, then they should be URL encoded. Most systems will allow you to have '@' in your password and if you don't URL encoded it in proxy URL, the URL is no longer valid. If you have '%' in your password, you should encode it as well. This issue might be especially problematic for organizations that use windows usernames for proxy in following format domain\

[2018-08-28 18:45] mminns commented on #741
No pressure then.... :)

Just reading.

[2018-08-28 20:30] whoisj commented on #741
No idea. @dscho might have an answer, but this may be too obscure for even his depths of Git knowledge.

[2018-08-29 13:15] dscho commented on #741
I can find out, as soon as I understand what parameter you are talking about... I do not see any mention of `_httpProxy_parameter` in Git's, nor in GCM's, source code...

[2018-08-29 15:54] whoisj commented on #741
Perhaps he meant _httpProxy_ parameter ?

[2018-08-29 21:37] mminns commented on #725
Hi, so no fixes yet but I've been doing some research.

Briefly these are my results:

|      | Authentication | Credential.Interactive | Url                            | Authentication Prompts when cloning twice | WCM credentials |
|------|----------------|------------------------|--------------------------------|-------------------------------------------|-----------------|
|      | 2fa

[2018-08-30 09:35] razvangoga commented on #476
Looks like the 15.8.2 also fixed my issue

[2018-08-30 14:07] mminns commented on #725
OK, a bit more research, a surprise or 2 for me.

I had assumed, incorrectly, that when the GUI is _off_ , i.e. interactive=never, the command line username/password prompt would come from GCMW, but it doesn't it is Git itself doing the prompt.

Hence the GCMW GET fails -> GCMW GET fails -> Git command line prompt -> GCMW Store process seen in the logs when using interactive=never for Bitbucket ur

[2018-08-31 14:26] #476 closed

[2018-08-31 15:15] mminns commented on #725
That is what I am seeing and what I'd expect.

So ultimately I think the actual change coming out of this discussion will be to update Bitbucket flow so _interactive=never_ has the same outcome as _modalPrompt=false_ i.e. to run a non-modal console flow for GET calls.

I will make a start and put a PR when its ready.

[2018-09-03 16:01] mminns opened #742 "The Bitbucket login screen does not correctly grab focus."
Although the password window appears to be selected and has a flashing cursor it is not actually in focus and hence does not collect a user's typing until the dialog window is explicitly selected.

[2018-09-04 13:38] whoisj commented on #742
Hmm - any idea how to fix that? I am a WPF newb. 😞

[2018-09-04 14:10] pat1st commented on #660
thanks @hjzech this solved my issue!!
I was even able to edit my recently changed password directly inside of "Control Panel\Credential Manager"

[2018-09-04 15:26] mminns commented on #725
@whoisj Once again I'm probably missing something obvious, but can you assign this to me?

Thanks

[2018-09-04 16:13] whoisj commented on #725
Apparently, I cannot. 😖
![image](https://user-images.githubusercontent.com/11578325/45043702-e832c300-b03b-11e8-8750-23a517545fd0.png)

[2018-09-05 04:02] Xingkong1112 opened #743 "更新后仍然无法推送"

[2018-09-05 13:59] JamesFenton opened #744 "Proxy Authentication with Visual Studio Team Services"
Hi there

Our team is having problems connecting to Visual Studio Team Services from our corporate network.

I set my git proxy with `git config --global http.proxy http://proxy.company:8080`
I can then clone from github, eg `git clone https://github.com/Microsoft/Git-Credential-Manager-for-Windows.git` works fine.
Pushing to GitHub also works fine (the GitHub login windows pops up and I can login

[2018-09-05 18:17] chantisnake opened #745 "chocolatey package for Git-Credential-Manager-for-Windows is deprecated"
I was the maintainer for the [chocolatey](https://chocolatey.org/) package for Git-Credential-Manager-for-Windows.
  I am deprecating the chocolatey package for Git-Credential-Manager-for-Windows because I no longer have time to maintain it.

  I have requested for another package maintainer here: https://github.com/chocolatey/chocolatey-package-requests/issues/420
  The chocolatey package page fo

[2018-09-05 19:41] #743 closed

[2018-09-05 19:43] whoisj commented on #745
Thanks for all your efforts. Please remember that the GCM comes free with the Git for Windows Chocolatey package, so a separate GCM package may be unnecessary.

[2018-09-05 19:51] whoisj commented on #739
So when Git sees a naked work like "manager" it assumes you're looking for "git-manager", except in this case because it is "git-credential" running it assumes "git-credential-manager". It then does a look up based on its internal logic for precedence and comes up with "$GIT_INSTALL\mingw64\libexec\git-core\git-credential-manager.exe".

Git will then pass that path to `CreateProcessW`.

[2018-09-06 06:08] JanTuck commented on #705
I have a similar issue with IntelliJ and a private repo on Github. It prompts me 3+ times on pull. Then says i don’t Have access. Going to terminal and pushing prompts me with GCM once, fails and prompts me with in terminal password requests.

All begin to happen after i changed my password.

[2018-09-06 07:54] reidca commented on #739
Thank you for explaining that. This explains why when I run "git credential-manager version" it returns
"Git Credential Manager for Windows version 1.16.2"

It seems that when I install the latest version of "Microsoft Git Credential Manger for Windows" which is 1.17.1 it installs into "C:\Users\[username]\AppData\Local\Programs\Microsoft Git Credential Manager for Windows". This is clearly not go

[2018-09-06 13:39] whoisj commented on #739
You can just copy the files from `%LocalAppData%\Programs\Microsoft Git Credential Manager for Windows` to `$GIT_INSTALL\mingw64\libexec\git-core\`, overwriting any files in the destination. That should get you unblocked.

Now for my real question: why is anything installing GCM to `%LocalAppData%`?!

[2018-09-06 13:43] whoisj commented on #705
@jaouharDAHMOUL @JanTuck we've started seeing issues with proxies and Azure Identity authentication start appearing again. Proxies have, historically, been our Achilles's Heel and this time it is no different. The best suggestion I make is to capture as much data as possible so it can analyzed.

To capture trace logging...

1. Open Command Prompt.
2. Use `cd` to get the root of your Git work space

[2018-09-06 13:49] reidca commented on #739
Is there not a way to tell Git to use the version installed somewhere else? How is this working for anyone else? I have not made any unusual changes. I just installed Git for Windows, then VS code, then Git Credential Manager. Not sure what else I could have done to make the new version used by Git?

This is the location that is used by the installer (https://github.com/Microsoft/Git-Credential-Ma

[2018-09-06 19:18] mminns commented on #725
I'm actually having second thoughts about making _interactive=never_ and vdo the same thing.

Logically  _interactive=never_ seems to imply _never ever show a prompt_ where as _modalPrompt=false_  implies _if_ you are going to prompt the user then do it vai the command line.

Personally I have no use case for _interactive=never_ but I wouldn't be surprised if there is one out there.

That being th

[2018-09-07 13:51] JamesFenton commented on #744
It seems like the Microsoft.IdentityModel.Clients.ActiveDirectory library needs to be configured to use a proxy. I found [this](https://github.com/AzureAD/azure-activedirectory-library-for-dotnet/wiki/with-proxy).

I added the following line to the constructor in `Adal.cs` in the `VisualStudioTeamServices.Authentication` project
[code]
I recompiled, copied into `C:\Program Files\Git\mingw64\libexe

[2018-09-07 13:55] whoisj commented on #739
Yes you can replace `credential.helper = manager` with `credential.helper = /c/Users/[username]/AppData/Local/Programs/Microsoft\ Git\ Credential\ Manager/git-credential-manager.exe` but YMMV.

[2018-09-07 13:57] whoisj commented on #744
@JamesFenton would you consider submitting a PR?

[2018-09-07 13:58] whoisj commented on #725
One word: automation. 😁 No, seriously that is what it is for. If a user is in a setup where an interactive prompt would effectively create a deadlock scenario (because there's no human to answer it), they should be using `credential.interactive=never`.

[2018-09-07 14:57] JamesFenton commented on #744
I could, however I'm not familiar with this project, so I'm not sure if there will be any side effects.
I'm worried that it might stop working for people in different network/proxy configurations.

[2018-09-07 18:37] VasuInukollu commented on #662
It didn't work with the new version. I just ran into this issue again.

D:\Repos\ICT>git pull
00:05:04.122564 exec_cmd.c:236          trace: resolved executable dir: C:/Program Files/Git/mingw64/bin
00:05:04.122564 git.c:344               trace: built-in: git pull
00:05:04.122564 run-command.c:640       trace: run_command: git fetch --update-head-ok
00:05:04.138200 exec_cmd.c:236          trace: r

[2018-09-07 18:40] whoisj commented on #662
This `https://vasu@domain.com@server.domain.com/` looks like a huge problem as that is not a valid URL format. @VasuInukollu is that the same URL reported when you run `git remote -v` from that repository?

[2018-09-08 17:33] mminns commented on #725
Sorry you are 100% correct. 👍

But I think my, re-phrased and corrected, question still stands:

That being the case @mesbahamin does setting **interactive=Auto** and **modalPrompt=false** solve your problem?

If so then I don't think there is anything to do here.

[2018-09-10 11:44] JamesFenton commented on #703
Our team has the same problem with on-premises TFS. I changed my Active Directory password, and now I get `Authentication failed`:

[code]
Relevant entry from `cmdkey /list`
[code]

[2018-09-10 14:12] oledid commented on #565
`<system.Net>` instead of `<system.net>` in machine.config was the culprit here. I guess we have probably read the same article @GDineen ...

[2018-09-10 15:49] quasarea opened #747 "VS Code old installer expected"
Current git installer is not picking up vs code installed in new way

At https://code.visualstudio.com/updates/v1_26:

![image](https://user-images.githubusercontent.com/10334982/45308297-0eaf9d00-b519-11e8-87ec-566bdac208e2.png)

[2018-09-10 16:01] shiftkey commented on #747
This is the wrong place to submit this issue. See https://github.com/git-for-windows/git/issues/1795 and https://github.com/git-for-windows/build-extra/pull/200 for more details.

[2018-09-10 16:32] mesbahamin commented on #725
@mminns I will test today and report back.

[2018-09-10 23:39] PaulDotNet commented on #725
Maybe this info can help somebody.
I had annoying problem using Git with Atlassian SourceTree. I had to re-enter bitbucket credentials again and again. Then I replaced default installation of Git Credentials Manager with compiled debug version and encountered timeouts every time cred manager tried to validate credentials from UI. Here is the rough stack trace of situation:

    Network.HttpGetAsyn

[2018-09-11 14:20] #747 closed

[2018-09-11 18:14] mminns commented on #725
From a personal point of view I don't think the documentation is explicitly wrong, it just needs expanding to explain some more of the nuances.

[2018-09-11 18:43] mesbahamin commented on #725
Yes I agree. Perhaps it could say something about needing to get the necessary credentials stored in Windows credential cache *before* turning on `interactive = never`. Does that seem reasonable? If so, maybe I can submit a PR.

And can we safely conclude that GCM is behaving as it should? I'm still not certain about that, so I would like to hear your thoughts. Are there any lingering questions or

[2018-09-11 18:56] mminns commented on #725
I don't think @PaulDotNet 's issue is directly related. Perhaps you could raise a separate issue Paul?

I think the GCM is behaving as intended, i.e.

- Use modalPrompt=false if you, potentially want to input credentials, and store for later use, via the GCM, but do not want the GCM to use the modal GUI.
- Use interactive=never if you want to be able to read credentials via the GCM but you never w

[2018-09-12 06:31] JerryGoyal opened #749 "How to store credentials for two different github accounts?"
I have 2 github accounts (work & personal) for which I want to store credentials in my Windows 10 (in secure way).

`git config --global credential.helper manager` command sets only single username & password which conflicts between personal repo and work repo in my machine. Both repo are cloned using HTTPS.

I want to store and access different credentials probably based on repo username. Is it p

[2018-09-12 12:08] X-Guardian commented on #703
I am experiencing the same issue with on on-premise GitLab repository. You can re-create it by entering incorrect credentials when GCM first prompts. From then on, GCM will not prompt again, and the invalid credentials aren't deleted from the Windows credential store.

[code]
It looks like it is trying to erase the cached credentials once the authentication has failed, but fails as it is trying to

[2018-09-12 18:26] whoisj commented on #725
agents were silently deadlocking with a prompt for credentials. I read the
documentation for this project, which recommended use of interactive = never
in such a scenario.

I highly recommend __not__ relying on a credential manager for automation situations. Instead, I recommend using SSH or HTTPS with the `-c "http.extraHeader=Authorization: BASIC {base64encoded("{username}:{passwrord}")}"`

[2018-09-12 18:54] ranadeep-sharma opened #750 "GCM is not prompting for updated password"
Versions installed

1. Executed command `git config --global credential.helper wincred`

2. Executed command `git pull`

`remote: Invalid username or password.
fatal: Authentication failed for 'https://github.myOrg.net/Repos/MyApp/'`

3. Captured below logs.

**14:41:45.945538 exec_cmd.c:236          trace: resolved executable dir: C:/Program Files/Git/mingw64/bin
14:41:45.976750 git.c:344

[2018-09-12 22:30] whoisj commented on #750
Looks like your service is setup with NTLM support, is broadcasting it, and thus the GCM is attempting to invoke cURL's NTLM support. Are you not expecting NTML support?

What kind of authentication scheme are you expecting?

... and wincred is another tool. 🤷🏻‍♂️

[2018-09-13 14:07] victor-ponce commented on #670
Me and my co-worker are also getting the same error with Bitbucket. Also confirmed with Fiddler that I'm using TSL 1.2.

[2018-09-13 14:20] shiftkey commented on #670
@whoisj oops, I missed this ping.

For GitHub-related infrastructure queries, I'd reach out to [GitHub support](https://github.com/contact) - if you're able to put Fiddler in between GCM and the network and find a `X-GitHub-Request-Id` response header that will greatly help with troubleshooting on our end. But I suspect if the TLS handshake is being rejected then that's going to occur _before _ we

[2018-09-13 15:42] ranadeep-sharma commented on #750
Thanks for the prompt response.

I think NTLM is not used for accessing my corporate Github site, since I always get prompted for my Windows username/password on a designated login web page of corporate Github site in my web browser, after I login successfully into my Windows OS. Once the web session expires, I will be prompted again while I re-visiting the site.

However, I have also unable to se

[2018-09-13 15:44] victor-ponce opened #751 "Repeatedly asks for Bitbucket password"
Me and my co-workers all get this error. I have an "app password" set up, which is just a token.

`PS C:\work\code\simple\onboarding-api> git fetch
fatal: HttpRequestException encountered.
   An error occurred while sending the request.
fatal: HttpRequestException encountered.
   An error occurred while sending the request.
Password for 'https://victor-ts@bitbucket.org':
PS C:\work\code\simple\onb

[2018-09-13 17:55] gistofj commented on #751
Looks like v1.16.2, which is/was broken. Please upgrade to v1.16.3 or v1.17.2 for the fix.

[2018-09-14 16:14] rendmath opened #752 "No prompt for NTLM TFS on non-joined computer"
## Descriptoin

I'm currently trying to clone the same TFS Git repository from two machines that have recently been installed with the exact same software. Only difference between the two: one is joined to the same domain as the TFS server, while the other isn't.

Cloning the repository from the Visual Studio Team Explorer works on both machines, and creates a new entry in the Windows Credential M

[2018-09-14 17:31] michaelblyons commented on #749
Does [`useHttpPath`][1] help you?

[code]

You'll end up with a login for each repo in GitHub (not each username), but at least you won't have conflicts.

[1]: https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/master/Docs/Configuration.md#usehttppathhttps://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/master/Docs/Configuration.md#usehttppath

[2018-09-16 11:27] BrilliantTechie commented on #751
Where v1.17.2

[2018-09-17 00:17] BrilliantTechie commented on #751
may be he mistakenly write 1.17.2

[2018-09-17 14:49] gistofj commented on #749
@gouravsamsung the `credential.useHttpPath` is the "correct" way. Another option for GitHub and Bitbucket authorities is to prefix the URL with a username.

Example:
`https://account1@github.com` and `https://account2@github.com` should be seen as different accounts by the GCM. You will have to remember, however, to ensure that your repository remote's URL in the expected format: `{protocol}://{us

[2018-09-17 15:03] michaelblyons commented on #749
@gistofj I must have misunderstood #363. I thought what you said above only worked in Bitbucket.

[2018-09-17 16:04] gistofj commented on #749
I may have been too vague, my apologies. The username@ should always work with Bitbucket, in-fact it is basically required by them. The username@ should work with GitHub, because there's no reason it should not - but there is also no guarantee (unless @shiftkey or @Haacked wants to make one 😉). Unfortunately, this isn't something Azure DevOps can support at the moment as they've cooped the usernam

[2018-09-17 16:16] shiftkey commented on #749
Yeah, this should work fine (I've seen usage of this in the wild and I don't think we'd break the HTTP world in that way).

[2018-09-18 06:43] JerryGoyal commented on #749
adding username at git repo does work but only for storing username, i still need to input the password each time. As I mentioned before I want to store both username and password  so that github won't prompt me for this. thanks.

[2018-09-18 07:17] rmjoia commented on #660
Same here! Thanks @hjzech!

Did it in Control Panel\Credential Manager => Windows Credentials

[2018-09-18 14:10] gistofj commented on #749
@JerryGoyal the GCM does store the username + password... I mean, that's really all it does. Is your system configured correctly?

Can you share the output of `git config --list --show-origin` ?

[2018-09-18 18:51] jeschu1 opened #756 "devops: update requestUri to get correct tenant"
When running the GCM without git-remote-https the full URL is unavailable and the azure authority is unable to acquire the correct tenant authority.

[2018-09-18 19:10] jeschu1 opened #757 "build: binlog generation not working"
The gcmw-{build}.binlog file is not being generated correctly.

[2018-09-18 19:30] #757 closed

[2018-09-18 19:31] #756 closed

[2018-09-18 20:06] jeschu1 opened #759 "build: nuget restore failing"
Incorrect quoting on arguments

[2018-09-18 21:00] PaulDotNet commented on #751
Having the same problem today. Calls to bitbucket just time out here.

https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/430bc00458c16dfbbd7635b70288502998a3eea0/Microsoft.Alm.Authentication/Src/Network.cs#L373

I tried the same call with curl and it worked fine. Had no problems for more than a week until today. Could it be update Tuesday?  I guess I'll just reboot but in any

[2018-09-19 19:45] #759 closed

[2018-09-20 15:16] gistofj commented on #752
@rendmath a GIT_TRACE + GCM_TRACE would be very useful. If you're willing to add a GIT_TRACE_CURL to that mix it would be even better. Please remember to [redact](https://www.dictionary.com/browse/redact) any private, personally identifiable, or secret information from the trace before sharing. Thanks!

[2018-09-20 23:57] PaulDotNet commented on #751
There must be something wrong at the system level. I notice this problem when computer resumes from hibernation. After restart everything is fine. Used to have the same problem with Edge too. No problems with Edge now.

[2018-09-21 03:38] CaptainN commented on #751
It's so wide open! What can be done to diagnose and fix it? Is the problem that I'm not using Edge as my default browser (I have suspected that that could be a problem for other reasons). I updated everything to the latest versions (again) and now I get the login prompt for BitBucket/Atlassian less often, but I'm still getting it.

[2018-09-21 04:01] PaulDotNet commented on #751
Edge has nothing to do with it. I only speculate that Edge had the same problem and it was somehow fixed. In GIT cred manager case HttpClient.GetAsync call just times out when credential manager tries to contact bitbucket. After timeout it just assumes that password was bad and asks for it again.
I also looked at framework reference source but did not find any clues there either.

[2018-09-21 18:44] #650 closed

[2018-09-21 18:58] #733 closed

[2018-09-21 19:15] PaulDotNet commented on #751
Now I think that there are two problems. First is that unexplainable HttpClient.GetAsync issue.
The second one is weird logic that interprets network problem the same way as failed credential check. This is the one thing driving people nuts!

[2018-09-21 19:35] PaulDotNet commented on #751
I tried playing with timeouts but eve 35 seconds did not help. Same query from browser replied in less than a second.

[2018-09-21 20:36] PaulDotNet opened #765 "Network timeouts should not require password"
When credential manager uses HttpClient.GetAsync to check credentials and call times out it is interpreted as failed authentication check which requires password to be entered by user. The reason why this timeout happens is not clear but in any case credential manager should not ask for password again failure is at network transport level.
The consequence of this flawed logic is a stream of unexpl

[2018-09-22 00:40] gangsthub commented on #651
happening again?

[2018-09-22 20:49] gistofj commented on #765
Git's credentials sub system has started asking twice for credentials. Is this what you're seeing?

[2018-09-22 22:30] PaulDotNet commented on #765
Yes, I see asking twice quite frequently. Some tools like SourceTree access repository periodically and can also cause these password dialogs to appear. At first I could not figure out what was going on. I would close SourceTree app and password dialog would just stay there. Then the second dialog would pop up asking for password again.
After debugging git and GCM I finally found out that when I c

[2018-09-24 12:06] JerryGoyal commented on #749
@gistofj sorry for late reply. here's the output:
[code]

[2018-09-24 18:14] CaptainN commented on #751
Just a note - some of us are using this with GUI tools like SourceTree - and it's even more baffling there, since there's no feedback in any terminal. We just get the same login screen again and again. I did with the latest update finally get some of the redirects (to some localhost URL) to work, where they previously did not work. But it still can't seem to remember my login for BitBucket (GitHub

[2018-09-24 21:03] PaulDotNet commented on #765
Here is the minimal code that reproduces network timeout on my machine.
When VPN is connected then this call times out. Without VPN everything works fine.

        static void Main(string[] args)
        {
            var httpClient = new HttpClient();
            httpClient.Timeout = TimeSpan.FromSeconds(15);
            var httpMessage = httpClient.GetAsync("https://api.bitbucket.org/2.0/user").

[2018-09-24 22:05] PaulDotNet commented on #765
More fun with VPN.

When VPN is not active Dns.GetHostEntry("api.bitbucket.org") returns 3 IPv4 addresses.

When VPN is active then returned list contains 3 IPv6 and 3 IPv4 addresses. Connections to  IPv6 addresses time out and IPv4 still work OK. So here in my case workaround is to use IPv4 for connection. It would be interesting to know if others have the same problem too. Is it VPN client probl

[2018-09-25 03:37] gistofj commented on #765
@PaulDotNet that a bit like comparing a complete IDE to a text editor. The .NET Framework provides a lot of functionality, but if we want to develop a web browser we'll have to actually develop one. I'm no longer working on the GCM project, but my suggestion is to use a tool like Fiddler to look at the low level interactions between Edge and the host, and GCM and the host. That might highlight the

[2018-09-25 17:29] PaulDotNet commented on #751
There is a "show full output" checkbox on the push window in SourceTree. Chech it to see some output. Not much by default but your can always compile GCM in debug mode and see more. Not really helpful for this problem though.

[2018-09-25 22:51] JefferyHus commented on #710
finally it works :'(

[2018-09-26 13:38] jeschu1 opened #768 "Path should get priority when sent"
If the user supplies the path, give it priority for setting for setting `TargetUri.ActualUri`.
Needed for DevOps urls which require host/path[0] to authenticate

[2018-09-27 19:43] #768 closed

[2018-09-28 01:35] oliverjanik opened #769 "Is this your bitbucket popup? How can I trust this with my password?"
This pops up way too often on my machine. Random window at random times asking for a password.

Nope.

I'm not putting my password into random window that pretends to be Atlassian. How can I verify this is actual Atlassian website?

Ripe for phishing attack.

![image](https://user-images.githubusercontent.com/2280140/46183013-4177d480-c312-11e8-92d5-0203aded09c6.png)

Also how do I make this go aw

[2018-09-28 13:01] shiftkey commented on #769
This feels similar to #751

cc @mminns

[2018-09-28 13:27] glrcoder commented on #660
My problem, too.  Thanks!

[2018-09-28 14:48] PaulDotNet commented on #769
If you really want to know then check that it is from Git credential manager process.

[2018-09-28 15:17] PaulDotNet commented on #751
The root of the problem could be windows DNS. In my case using VPN most of the time adds IPv6 addresses for the bitbucket.org. Those addresses are unreachable and when GCM tries to connect to bitbucket it just times out. Then GCM incorrectly assumes that timeout was actually login failure and asks for password again.

[2018-09-28 20:03] mminns commented on #769
Hi
That is the Bitbucket GUI from the Git Credential Manager, I wrote it.

As a genuine question what would you hope to see with it that would reassure you as to what it was?

I'm guessing it is appearing due to a regular background process, perhaps from Sourcetree that is trying to work with a Bitbucket repository, but does not have valid credentials

[2018-09-28 20:07] mminns commented on #751
Hi
Thanks for the information @PaulDotNet I'm not experiencing this at the moment, but I will try and investigate further.

[2018-09-28 20:46] mminns commented on #765
@PaulDotNet I'm not sure changing the timeout behaviour would solve the whole problem.

If the GCM detected a network failure/timeout and just returned the existing credentials Git would try to use them and fail. I don't know exactly what would happen at that time, but if Git thinks it has _bad_ credentials it will normally instruct the GCM to delete/erase those bad credentials. So if Git treated

[2018-09-28 23:18] PaulDotNet opened #770 "Use Fast Fallback/Happy Eyballs to work around IPv4/IPv6 issues"
This relates to the issues #751, #725, possibly #705 and #694.
In environment where DNS returns IPv6 and IPv4 addresses for the server but router does not fully support one of the protocols.

In my case it was bitbucket.org address that could be reached using IPv4 but not IPv6 address. With VPN disconnected DNS returned only IPv4 addresses which were all accessible.

With VPN connected DNS returne

[2018-09-28 23:34] BrilliantTechie commented on #751
Solved by installing Git 2.19 & Git Credentials Manager 1.17.1

[2018-09-29 01:45] PaulDotNet commented on #751
Ssh may solve the problem. Fixes by GCM upgrades most of the time are just random coincidences.

[2018-10-01 16:47] oliverjanik commented on #769
Can you perhaps open the browser so that I can verify the SSL cert?

[2018-10-01 17:28] westerdaled commented on #744
I have a similar issue to @JamesFenton  . I am behind a corporate proxy but I am happy to test any PRs . My details are as follows

I tried both
`git config --global http.proxy http:/myproxy.com:80`

`git config --global http.proxy http://myadfsemail:mypassword@myproxy.com:80`

[2018-10-01 20:46] narration-sd commented on #188
Kind of unbelievable  that this issue remains in Sept  2018, isn't it??

This is a _big_ problem. Mike Minns offered a year ago a quite extensive set of facts and suggestions.

To have multiple, floating, anonymous prompts coming up every ten minutes or so that you can't successfully answer is absolutely maddening.

It's especially so since I am also completely able to use all the repos....using S

[2018-10-02 14:03] cmhrpr commented on #188
@narration-sd it's October, Clive

[2018-10-02 16:36] xepher opened #772 "VS30063 error when i use GraphHttpClient.ListMembershipsAsync()"
Background:
We use Microsoft.Alm.Authentication library to request Personal Access Token(CodeRead | CodeWrite | CodeManage | WorkRead | WorkWrite).
This PAT is used for libgit2sharp to access VSTS(Azure DevOps now). It works well for git.
Now, we want to reuse this PAT in GraphHttpClient(Microsoft.VisualStudio.Services.Graph.Client library).
I can use the PAT that I create manually on VSTS with al

[2018-10-03 22:53] sylvaincaillot commented on #424
In my case, after trying everything, unchecking "Allow Sourctree to manage my credentials via the Git Credential Manager" in Tools -> Options --> Git made the job.

[2018-10-04 07:48] obivandamme opened #773 "Failed to find Identity Service for https://dev.azure.com via location service [401]"
Hey everyone,

I am using an azure devops repository and whenever I want to fetch, pull or push to it git asks for credentials. I activated the trace as you described in some of the other Issues and found the following lines

It seems like the authorization against the location service fails, even though the credentials for azure devops are ok. I tried wrong credentials and this failed in the brow

[2018-10-05 19:18] PaulDotNet commented on #765
Maybe it is bitbucket specific issue or maybe I just see dead people.
Thank you for your help.

Using my own GCM fork now.

[2018-10-05 19:18] #765 closed

[2018-10-05 19:19] #770 closed

[2018-10-06 18:54] nilnul opened #774 "after upgrading git for windows today, amazon logon resulted in "NullReference" exception"
It used to work fine as of today, when I clicked the popped out "would you like to upgrade" now button of the git for windows upgrading reminder. (I regret that I just clicked too quick).

I'll try to locate the issue and report any further details.

[2018-10-06 19:12] nilnul commented on #774
![image](https://user-images.githubusercontent.com/3081124/46574953-be740f80-c9de-11e8-8882-74aea962db57.png)

[2018-10-06 19:14] nilnul commented on #774
Shall I try to downgrade?

[2018-10-07 08:08] nilnul commented on #769
GCM is great and the developers make that happen.

The issue in question seems a general/broad issue not specifically for this app.

For an application in browser, use can check the url again phishing.
For an application out of browser, maybe the OS should provide something like the url, may be in the upper-left system icon down-drop menu?

[2018-10-07 08:13] nilnul commented on #774
How to downgrade? Shall I just install v1.16.3  or shall I uninstall the newer version first before installing v1.16.3 ?

[2018-10-07 11:17] masterged commented on #774
I uninstall GCM, and install old. GitForWindows is last version.

[2018-10-08 00:45] nilnul commented on #774
I uninstalled the upgraded GitForWindows(not GCM); I don't know whether the uninstalling of GitForWindows would also uninstall GCM. And then I reinstalled the old version of GitForWindows (I don't know whether the reinstalling would also reinstall GCM).

Now every thing works fine. (The NullReferenceException when logging onto amazon now doesn't pop up anymore).

So I guess the problems are borne

[2018-10-08 06:48] oliverjanik commented on #751
I'm a little lost. Will there be an update that fixes this?

[2018-10-08 06:52] oliverjanik commented on #769
Here's the thing I work withing SourceTree or Sublime Merge or whatever and this window comes up. How do I know which app opened it? How can I trust this? If I find the window handle and trace the process It does say Git Credential Manager.

So the 2 issues are:
1) Can you make it clear this is Git Credential Manager?
2) Why do you need my full Bitbucket credentials? I just want to git push. I don

[2018-10-08 11:21] robbaman opened #775 "fatal: Authentication failed"
I see multiple issues with this description, but none seem to provide a solution for my specific situation. I apologize if I've missed it.

After a reinstallation of my computer I keep getting the "fatal: Authentication failed" error when trying to clone a git repo from a Team Foundation Server Git repository. Note that at no point does it provide me with a dialog to provide login details.

Attach

[2018-10-08 13:37] htmlandreza commented on #660
It happened to me too, because I configured another git / github account and windows saved on the credentials, when I noticed the error I changed only in gitconfig but windows continued with the other stored account and this caused several conflicts in my VS2017.

After removing all credentials from git, VS ran normally.

[2018-10-08 15:35] PaulDotNet commented on #751
Apparently not because technically it is not a GCM problem. I just use my own fork of GCM right now :)

[2018-10-08 15:59] PhilipOakley commented on #774
the new release [Comes with Git Credential Manager v1.18.0.](https://github.com/git-for-windows/git/releases/tag/v2.19.1.windows.1) (ignore the first 'comes with'..)

[2018-10-08 18:22] jessehouwing opened #776 "Logging in from Sourcetree and Tower results in oauth pop-up even when using PAT or basic creds"
I've installed Tower and Sourcetree. I've generated a PAT and "Git Credentials"

When I add an account to either application on my trainer account `psd30@devops.azure.com/psd30` and supply either the PAT or the basic credentials I also get a pop-up for the oauth credentials.

It doesn't matter which credential I enter here or whether I just close the window or hit cancel, both Tower and Sourcetree

[2018-10-08 19:01] jeschu1 commented on #773
@obivandamme please email me at jeschu@microsoft.com and we'll gather more information

[2018-10-08 19:04] jeschu1 commented on #772
@xepher please repost your question on [developer community](https://developercommunity.visualstudio.com/spaces/21/index.html).   Good luck!

[2018-10-08 19:04] #772 closed

[2018-10-09 08:00] badbredren opened #779 "fatal: NullReferenceException (Azure DevOps + local Bitbucket)"
Hi,

since 2 days I have the problem that the GCMW is not able to get or store credentials anymore.
It happens at least for Azure DevOps and our company internal Bitbucket.
The exceptions for both are located in different places in the code but seems to be connected to the Http headers used.

Azure DevOps:
[gcm.log](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/files/2459368/gcm.

[2018-10-09 09:40] ViceIce commented on #774
Same here v1.17.2:

[code]

and v1.18.0

[code]

[2018-10-09 09:48] ViceIce commented on #779
See #774

[2018-10-09 11:04] badbredren commented on #779
Thanks for referencing this issue. Must have missed it.
I think this one here can be closed then :)

[2018-10-09 11:11] bert2 commented on #774
I uninstalled the previous of version as suggested here and it resolved the issue: https://github.com/git-for-windows/git/issues/1868#issuecomment-427952656

I did not uninstall the previous version. I just ran the installer.

[2018-10-09 11:51] PhilipOakley commented on #774
looking at @ViceIce report, the difference shown by V1.17.2 is that the creds are for 'basic' with 'NTLM=Auto', but that it never gets that far with V1.18.0.

I remember that there was a lot of discussion historically on the Git List about some 'problems' in this area (with libcurl I think), so there is a lot of hackery in that region.

Have a look at https://public-inbox.org/git/?q=NTLM+basic+aut

[2018-10-09 17:47] jeschu1 opened #782 "Null Ref when No Parameter exists"

[2018-10-09 17:48] #782 closed

[2018-10-09 18:04] mastercoms opened #783 "Credentials take a long time"
Starting with v1.17.0, I have noticed that `git credential fill` and `git credential approve` take a very long time:

[code]

with v1.16.2:

[code]

With the things taking the longest time being:

[code]

[code]

[2018-10-09 19:11] jeschu1 commented on #779
@badbredren  can you please verify the issue is fixed in the latest release https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases/tag/v1.18.1

[2018-10-09 19:12] jeschu1 commented on #774
@nilnul can you verify the issue is fixed in this release https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases/tag/v1.18.1

[2018-10-09 21:04] PaulDotNet commented on #705
I wrote a small .net core tool that checks if there are no IPv4/IPv6 DNS issues that may result in timeouts, repeated password entries and long push or pull times.  If anyone interested it is here:

https://github.com/PaulDotNet/How-Is-My-Dns

[2018-10-10 04:40] dafergu2 commented on #773
I'm having the exact same issue.

Please note that I recently renamed my organization.  I'm not sure if that caused the issue or not, but when setting up a new clone under the new url, this exact issue happened for me.

I also encountered a null reference exception and was forced to manually install 1.18.1 which fixed the NRE but not the authentication issue.

[2018-10-10 06:08] badbredren commented on #779
@jeschu1 It works perfectly fine for both Azure DevOps and Bitbucket.
Thank you very much.

[2018-10-10 06:08] #779 closed

[2018-10-10 06:37] oliverjanik commented on #751
You forked GCM and presumably fixed it in the fork, right? Can you contribute back?

Otherwise what is the workaround?

[2018-10-10 12:32] MrNonsense commented on #774
I was encountering the same NullReferenceException after updating Git for Windows (with the annexed new credential manager), and updating the credential manager to this version fixed it for me.
(thanks to @jeschu1 for the suggestion)

[2018-10-10 13:03] steevcoco commented on #736
... I can add another comment in case someone is still watching: I had another instance of authentication breaking ...

Git for Windows downloaded and installed its own update --- now at 2.19.1. This BROKE my authentication again! Couldn't log in from Visual Studio, and couldn't push from Git.

I had to download and install the newer Git Credential manager --- 1.18.1. Now it's "just working" again

[2018-10-10 15:00] PaulDotNet commented on #751
My pull request #771 was rejected. Explanations in comments of the pull request.

[2018-10-10 15:17] jeschu1 commented on #774
@sageliu, Please

1. set GCM_TRACE=1
2. run your clone

I want to verify GCM 1.18.1 is being picked up.

[2018-10-10 18:54] patryksuchowierski opened #786 "git credential-manager is very slow"
I'm experiencing delays when performing git operations. Any idea what is going on? I spent a lot of time on this, played with antivirus, firewall and so on - with no success.

[code]

[code]

[2018-10-10 20:32] jeschu1 commented on #786
@patryksuchowierski can you confirm what version of GCM you are on?

[2018-10-10 20:38] jeschu1 commented on #783
@mastercoms this is interesting, can you try running both with GCM_TRACE=1 on and see if there an obvious spot where the delay is coming from?

[2018-10-10 21:14] patryksuchowierski commented on #786
1.18.1

[2018-10-10 22:16] PaulDotNet commented on #786
Try  `nslookup  xxxx.visualstudio.com` command to see if you have a mix of IPv4 and IPv6 addresses.

If you do then you could have a usual case of bad routing.

[2018-10-10 23:34] voltagex commented on #774
Windows 10 1803, Git for Windows 2.19.1
[code]

[2018-10-11 02:35] nilnul commented on #774
@sageliu ,

to my knowledge, by changing the helper to "store", you may have switched off "manager", aka GCM, which stores password in vault where MS claims safe.

[2018-10-11 04:40] georgemakapane commented on #660
Removing my Git Credentials from Credential Manager solved my issue...

[2018-10-11 05:05] mastercoms commented on #783
`GCM_TRACE=1` did not produce any additional output. I also tried `git config --global credential.writelog true` but `.git/credential.log` is empty.

[2018-10-11 06:36] oliverjanik commented on #751
Rejected on technicality but I still have not seen a fix for the underlying issue from the maintainers.

[2018-10-11 10:50] Big-al commented on #775
I have this exact issue as well. Clean reinstall of windows 10, clean reinstall of Git and credential manager, but no prompt when trying to clone and just a fatal error for authentication.

[2018-10-11 10:58] robbaman commented on #775
Glad I'm not the only one... not so glad there's nobody able to help :(

@Big-al for me using SourceTree does somehow work. Totally not sure why, but I guess it doesn't use the credential manager the same way. So if you're completely stuck you can try using that until we get some help.

[2018-10-11 12:05] Big-al commented on #775
I solved the issue by manually adding my info to the Windows credential manager.

**This is an easy fix:**
1. On you PC, go to Control Panel -> User Accounts -> Credential Manager -> Windows Credentials
2. Under Generic Credentials click "Add a generic credential"
3. Fill in the details:
Internet or network address: This is your tfs repo address, in my case a local TFS instance for security purpos

[2018-10-11 13:13] jeschu1 commented on #783
@mastercoms setting the env variable to GCM_TRACE=1 should be giving us additional output.  Strange that didn't work.  Can you please try again?  Before running please do a dump of the env variables and double check GCM_TRACE=1 is there.

[2018-10-11 13:40] jeschu1 commented on #751
@oliverjanik Bitbucket wrote a blog about their IPv6 changes here: https://confluence.atlassian.com/bbkb/recent-ipv6-changes-840796883.html

At the bottom of the page they offer a solution for your PC by updating the hosts file. This redirects your machine to IPv4 for bitbucket.org.

However, if you are experiencing connectivity issues the best person to follow-up with is your network administrato

[2018-10-12 06:55] ppedvStefanO opened #787 "Since SSL Git failed with a fatal error"
Visual Studio 15.8.7 Community
TFS 2018 Update 3

Since i published my TFS via https i get every time when i want to clone or push something this Error.
Git failed with a fatal error.
Authentication failed for 'https:// …

Visual Studio is able to Show me all my Repositories, im able to reconnect the TFS. But Git Shows me every time the error. Ive already deletet all the Git Entries within the Win

[2018-10-12 06:56] robbaman commented on #775
@Big-al Thanks for the update. As I tried to test out your solution I noticed it now just works. Without explicitly changing anything in the credentials manager or git configuration all git operations on the server now just work. Perhaps it was a reboot or something.

Not so happy not to know what made it work, but happy it works... that's something I guess.

[2018-10-12 06:56] #775 closed

[2018-10-12 09:16] dscho commented on #736
So it is fixed. Please do not reopen the ticket, this just adds more burden to the people who work on your fixes. Git Credential Manager v1.18.1 is already in the pipeline for the next Git for Windows release. (And yes, the intended thing for people experiencing bugs in a Git Credential Manager version that is shipped with Git for Windows is for them to upgrade Git Credential Manager on top.)

[2018-10-12 09:16] #736 closed

[2018-10-12 13:29] RobertoBorges commented on #660
The same thing to me, removing my Git Credentials but in French : Gestionnaire d'identification

[2018-10-12 14:21] steevcoco commented on #736
@dscho OK ... sorry; it just seemed to be a reasonably big problem ....

[2018-10-12 14:31] jeschu1 commented on #787
@ppedvStefanO , since the error is only in Visual Studio the best place for the question is https://developercommunity.visualstudio.com/spaces/8/index.html

FYI, VS ships with it's own version of Git which may/or may not have the same settings as the command line.  You may want to double check the TE -> Settings -> Cryptographic network provider setting.

Good Luck!

[2018-10-12 14:31] #787 closed

[2018-10-12 15:09] DonkeyTable opened #788 "Windows credential manager issue on Windows 10"
Installed git and the credential manager.  We are behind a corporate proxy.

Set git up to use the helper manager (Ive checked it is in the config).
Set up the Windows Credential as user [user]
git:http://[user]@10.21.300.426:8080
No funny characters in the username and password, no domain in front of username,
Set the proxy in git config:
[http]
	proxy = "http://[user]@10.21.300.426:8080"

The co

[2018-10-12 15:35] dscho commented on #736
@steevcoco it is reasonably big, I agree! But I think installing Git Credential Manager separately *just this time* is a reasonable fix, too ;-)

[2018-10-12 17:51] sergiopereira opened #792 "Hangs on delete command"
When I try to run `git-credential-manager.exe delete http://my-tfs2018.blah.com:8181/tfs/mycol/myproj/_git/MyRepo/` it just hangs indefinitely. I'm using version 1.18.1 on Windows 10. I tried from admin prompt too, same problem. Tried with and without the full URL path. Also tried via git, e.g. `git credential-manager delete ...etc..`.

The process uses a good chunk of CPU (24%) but it doesn't see

[2018-10-12 18:31] jeschu1 commented on #786
@patryksuchowierski  please try the pre-release https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases/tag/v1.18.2 and let me know if it improves performance.

[2018-10-12 18:32] jeschu1 commented on #792
Please try
1. set GCM_TRACE=1
2. run your command
send the trace redacting any personal information

[2018-10-12 18:36] jeschu1 commented on #773
@dafergu2, please email at jeschu@microsoft.com and we can dig more

@obivandamme 's issue was most likely user specific and he is following up with support.  GCM appears to be doing the right thing however he is getting 401's back from the server.  Others at his company can connect using the same GCM.

[2018-10-12 18:57] sergiopereira commented on #792
Here it is:
[code]

[2018-10-12 20:09] jeschu1 commented on #792
Thanks for the report @sergiopereira! [This looks like a bug](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/2c42ca6421ff1fabbb768b62501667c92661c68c/Microsoft.Alm.Authentication/Src/BaseAuthentication.cs#L42)

Unfortunitely the bug goes back several releases from what I can see.  While we work on the fix you can manually delete credentials using "Credential Manager" from the

[2018-10-13 00:54] Restaldt commented on #646
This worked for me as well

[2018-10-15 06:53] patryksuchowierski commented on #786
@jeschu1 The problem does not seem to be occurring anymore (1.18.1). I have performed entire PC scan with my AV (McAffe) and then the delay was gone. Perhaps, it was the the cause? Maybe GCMW binaries were marked 'unscanned' by AV and each time GIT called them, it caused delays? Just guessing...

[2018-10-15 07:27] obivandamme commented on #773
After days of trial and error I finally found out what the Issue was. Maybe this works for you as well if you face the same Issue.

When I entered my E-Mail Address in the login prompt I was asked if I want to use my Company / School Account or my Personal Account. If I selected company account the login in the prompt worked, but the login in git failed, because the repository was linked to my per

[2018-10-15 11:29] #788 closed

[2018-10-15 11:32] DonkeyTable commented on #788
The issue was because the Windows 10 environment variable for HTTP_PROXY was missing the protocol http://.  I had been editting the proxy text while I worked on a Docker issue.  Result was my proxy began with my username, not the protocol.

Returned the http://donkeybrains   and away it went.

[2018-10-15 13:46] jeschu1 commented on #786
@patryksuchowierski thank you for the response!  Yes, virus scanners will definitely cause delays.  We have seen that before.

Note there was a speed regression in the last few versions of GCM, but only for non visualstudio.com users.  I released 1.18.2 to address that on Friday,

[2018-10-15 13:46] #786 closed

[2018-10-15 13:54] jeschu1 commented on #783
@mastercoms can you try cloning a small repository with GCM_TRACE=1 on, and see if you get extra GCM logging?  Thank you!

[2018-10-15 13:56] sergiopereira opened #793 "GCM does not recover from reset password"
Me and a few others that work together have been experiencing a recurring authentication problem when using GCM. We use TFS 2018 hosted inside our corporate network. Pretty much every time we have to change our network password we start getting authentication errors from TFS, sometimes even after removing every entry from the Windows Credential Manager (WCM) that contained a reference to the TFS s

[2018-10-15 15:52] michaelblyons commented on #765
FWIW, my minimal tests of [v1.8.2][1] seem to suggest that the problem is fixed. I wonder if the network people on my VPN treat `HEAD` requests with suspicion.

[1]: https://github.com/Microsoft/Git-Credential-Manager-for-Windows/compare/v1.18.1...v1.18.2

[2018-10-16 17:37] jeschu1 commented on #793
Here is the workflow and it's an interesting problem:

For NTLM, GCM doesn't validate or store credentials.  It requires on your OS to manage NTLM connections.
Git then "fails" and tells GCM erase the credentials (which it never stored).  At this point there is no notion of it being NTLM, it's just a host url.

NTML isn't valided in GCM (nor is easy to validate for all cases).  We believe the time

[2018-10-16 17:44] lukemwillis commented on #751
Forcing IPv4 with the hosts file change fixed it for me.

[2018-10-16 17:57] CaptainN commented on #751
My network admin is Spectrum (Time Warner Cable) - at my office we just use a router with default settings provided by Spectrum connected directly to the net, and at home I have changed the SSID and WPA2 password, and that's it. Still seeing this. I'm not sure there's anything to change in either of these locations.

[2018-10-16 18:11] michaelblyons commented on #751
Hardcoding the IP in `hosts` did not work for me, but installing the v1.8.2 pre-release did.

[2018-10-16 19:12] sergiopereira commented on #793
Wouldn't it be reasonable for GCM to try basic authentication after NTLM
failed?

On Tue, Oct 16, 2018, 12:37 PM jeschu1 <notifications@github.com> wrote:

[2018-10-16 20:06] hbsis-fernandomedeiros commented on #773
Same issue here, although GCM doesn't ask me if my account is Personal or Company/School.

Log:
14:16:43.994254 ...\Authority.cs:375    trace: [GetIdentityServiceUri] failed to find Identity Service for 'https://dev.azure.com/[team]/_apis/ServiceDefinitions/LocationService2/951917AC-A960-4999-8464-E3F0AA25B381?api-version=1.0' via location service [401].
14:16:43.995252 ...\Authority.cs:136    tra

[2018-10-16 20:09] jeschu1 commented on #773
@hbsis-fernandomedeiros that's useful.  GCM appears to be pinging the correct url there.  Next steps would be verifying the account exists and you have access.  I would followup with DevOps support.

[2018-10-17 11:30] mastercoms commented on #783
Yes, I do get GCM logging with git clone.

[2018-10-17 13:43] fabercs commented on #660
Please somebody tell me what the cli equivalent of this resetting credentials, because in a company domain I have no permission to reach that panel.

[2018-10-17 17:15] jeschu1 commented on #793
For a "Get" call, GCM just returns your NTML credentials.  It doesn't try to use them and doesn't see the fail.
The fail occurs when git tries to use the credentials.

[2018-10-18 02:10] oliverjanik commented on #751
@jeschu1 As a user I do **not** care where the problem is. Your product is defective and you have some decent work-arounds available, but you're choosing to take ideological stand.

In the real world you have to compromise as there are things that are out of your users' control.

[2018-10-18 06:06] CaptainN commented on #751
Hardcoding the IP in hosts actually broke bitbucket even in the browser. Worse than not working.

[2018-10-18 07:47] jpluimers commented on #774
Like many people in https://github.com/git-for-windows/git/issues/1868 , I downgraded from https://github.com/git-for-windows/git/releases/tag/v2.19.1.windows.1 to https://github.com/git-for-windows/git/releases/tag/v2.19.0.windows.1 (x64 version) which "resolved" the symptom: no more "NullReferenceException" during https pull or push.

This narrows down the commit range where the issue was introd

[2018-10-18 13:01] michaelblyons commented on #751
@CaptainN Did you hardcode it to the value from the [sample Workaround][1] or to something that you got from `nslookup bitbucket.org`? I can't reach the one from the sample at all. Picking one of the IPs I _can_ reach didn't make the problem worse, but it didn't make it any better, either.

I still do not think that the troubles I'm having are IPv6-related. I think they're some network security st

[2018-10-18 15:10] jeschu1 commented on #751
@mminns  can you advise how to best help the users that appear to be having trouble with ipv6/Bitbucket?

@michaelblyons can you open a separate issue and supply a GCM_TRACE log of what happens in your scenario (redacting any personal info)?  The top issue here shows git trying 'get' 3 times, which calls GCM 3 times, resulting in 3 popups.

[2018-10-18 15:22] dscho commented on #751
@oliverjanik you will find it quite counterproductive to pounce on the same people you are asking to do all the work. *Quite* counterproductive.

[2018-10-18 17:46] CaptainN commented on #751
I tried it by putting the ip address from the linked Atlassian page in my hosts file - that ip address appears to be invalid. If I ping bitbucket.org (without changes to the hosts file) I get the ip address 18.205.93.0 - if I put that into my hosts file, things seem to improve. I'll let you know if that continues to work for more than a few minutes.

[2018-10-18 17:50] PaulDotNet commented on #751
@CaptainN GCM calls api.bitbucket.org which has different IP addresses. Try adding both bitbucket.org and api.bitbucket.org

[2018-10-19 03:57] zvilius commented on #705
I am having this issue (or similar) when trying to work with a git repo hosted on Azure DevOps using Git for Windows from the Command Prompt. I used Visual Studio to clone the repo for this example.

I created a Personal Access Token by hand in the Azure project portal and I can enter that password and get the git command to function. But this is not the expected user experience .. for example as

[2018-10-19 19:12] AdamBryantSkybox opened #797 "Could we please have the option of expanding GitHubCredentialScope?"
Is there already a way to do this? I can't find it. Trying to add org permissions without web.
The only two ways to do this are:
- To log in with GCM, then modify through the web interface
- Use the 2FA api path to re-authenticate again in order to send an auth/scope to add orgs. (As you cannot use an access token to access the /authorizations API.)

Thanks,

[2018-10-19 20:52] jeschu1 commented on #773
@obivandamme , we're using Adal's library for auth.  Thats the picker you are seeing here.

If you've got thoughts on how it can be improved please do pass it on to them!

[2018-10-22 14:14] jeschu1 commented on #773
Affected users have been updated via email or on the thread.  If not the case feel free to reopen.

[2018-10-22 14:14] #773 closed

[2018-10-23 14:22] mminns opened #799 "GCM v1.18+ fails where the Environment Variables contain duplicate, different case, keys"
Disclaimer: I'm struggling to come up with an easily repeatable scenario for this, but I have seen it _in the wild_

There are scenarios where the Environment Variables contain duplicate entries using different case keys.

Using a modified copy of GCM v1.18.2 which will log out the entries when they are being processed, see https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/maste

[2018-10-23 14:24] mminns commented on #799
FWIW looking at older code, I can't currently see why this issue has suddenly appears as the code doesn't appear to have significantly changed, just moved

[2018-10-24 12:34] mminns commented on #799
I added https://github.com/Microsoft/Git-Credential-Manager-for-Windows/pull/800 showing the issue and how it could be fixed, it is **not** a production ready fix as the test requires a hack in the main code as you will see.

But it does show the very simple fix in action.

[2018-10-24 19:03] mminns commented on #769
@oliverjanik
_Is it possible to just log in using git credentials? Why do I need to sign into entire Atlassian?_

This dialog is just asking for your Git Credentials, for example you could use an App Password if you preferred. These credentials are the same for both Git and REST. The GCM does use the supplied credentials essentially to check they are valid before passing them back to Git.

Additio

[2018-10-24 20:12] jcbeck37 commented on #773
Also having the same issue.

- On DevOps, created alternate credentials.
- Added these to Windows Credential Manager
- When I issue git commands (i.e. fetch) from terminal, I get prompted for Active Directory credentials. I enter and check remember.
- **Each additional command triggers another prompt**

I'm using the latest GIT and GCM. I cleared GCM's tenant.cache, which was necessary to at least

[2018-10-25 09:13] petethacker commented on #57
i was getting this issue when doing anything, even cloning.

using windows i was on git version git v2.17.1.2. after i updated to version v2.19.1 the problem went away.

[2018-10-25 16:59] gnattwc commented on #774
works great after downgrade to 2.9.0.
[Releases section of the repository on GitHub](https://github.com/git-for-windows/git/releases)

[2018-10-25 19:08] psimoneau22 commented on #774
I am getting the same thing.

[code]

[2018-10-25 23:14] oliverjanik commented on #769
Ah, that makes a lot more sense. Thanks for clarification.

Can the window perhaps say Git Credential Manager? It would not look that random and it would be clear what process it belongs to.

[2018-10-26 07:55] nilnul opened #801 "remote: HTTP Basic: Access denied \n fatal: Authentication failed for 'https://gitlab.com/sb/somerepo_.git/'"
It used to work fine.
But since yesterday, whenever I try to push to gitlab, I get the following error:

remote: HTTP Basic: Access denied
fatal: Authentication failed for  'https://gitlab.com/sb/somerepo_.git/'

(no problem pushing to other remotes)

I tried:
(1) purge the credential in Vault; as the result I have to key in the username /password
(2)specify username and/or password in URL in the

[2018-10-26 14:55] awbmansour opened #802 "GCMW 1.18.0 breaks Sourcetree (all versions) and can not interact with Bitbucket nor VSTS (Azure DevOps)"
![image](https://user-images.githubusercontent.com/5840054/47574612-472bfe80-d940-11e8-961f-0555fef31ac3.png)

git -c diff.mnemonicprefix=false -c core.quotepath=false --no-optional-locks fetch origin

fatal: ArgumentException encountered.
   An item with the same key has already been added.

fatal: ArgumentException encountered.
   An item with the same key has already been added.

fatal: Argumen

[2018-10-26 18:45] #792 closed

[2018-10-26 18:48] jeschu1 commented on #797
@shiftkey  can you advise on the GitHub request?

[2018-10-26 18:50] jeschu1 commented on #801
@nilnul there isn't explicit support in GCM for gitlab.  I would followup with their support staff (especially if you haven't changed your git/gcm version).  Good Luck!

[2018-10-26 18:50] #801 closed

[2018-10-26 18:56] jeschu1 commented on #802
@awbmansour I'm wondering if this is the same error @mminns just put a PR up for [here](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/pull/800).

Are you able to replicate the error on the command line?  If so please try "set GCM_TRACE=1" and run your command so we can see the logging from GCM.

[2018-10-26 21:19] shiftkey commented on #797
@jeschu1 not sure I understand the request - @AdamBryantSkybox can you elaborate on your problem with authenticating against the GitHub API?

[2018-10-26 23:38] 3d12 opened #803 "Unable to push to enterprise repository - Anonymous access to xxxxx.git denied"
Hello! :smile:

I strongly suspect that this issue has something to do with a changed domain password, but I'm not sure. I wasn't having any issues pushing to the repository in question on the same remote prior to my most recent domain password change, if that tells you anything.

I'm using Windows 7, git version 2.19.1.windows.1, and GCM version 1.18.0.

Recently I've been getting a failed push w

[2018-10-27 03:31] nilnul commented on #774
I have upgraded git for windows (which, I think, comes with the upgraded git credential manager).

Now the upgraded version works fine.

Thank you. @jeschu1

[2018-10-27 03:35] nilnul commented on #801
Now gitlab resumes to work fine; the issue is gone now.

I think maybe gitlab noticed the issue and followup or there is some net hiccup ?

Thank you.

[2018-10-27 03:39] CaptainN commented on #751
8 days later - still no popup! This seems to do it.

[code]

[2018-10-28 22:39] AdamBryantSkybox commented on #797
Sure.
`internal static readonly Github.TokenScope GitHubCredentialScope = Github.TokenScope.Gist | Github.TokenScope.Repo;`
declares that when authenticating with github we only gain repo and gist scope in the token that is returned to us.

I am requesting the ability to specify, somehow, which scopes we would like access to. Accounts that use 2fa, whether enforced or not, must authenticate with a

[2018-10-29 03:28] testworksau commented on #774
That should be `>= 1.18.1`

[2018-10-29 07:07] ViceIce commented on #774
@testworksau: You are right, fixed my comment. 😄

[2018-10-29 10:47] shiftkey commented on #797
@AdamBryantSkybox please note that the GCM token created here is for GCM's usage.

If you tie other usages to this token you:

 - broaden the powers of this token (which already has `repo` so it has access to private repositories)
 - make it harder to revoke (because it's likely to be used for multiple reasons)

It's not clear which new scopes you would like added here, so I'm going to defer to @j

[2018-10-29 14:17] AdamBryantSkybox commented on #797
The hope is to have a way to sign on once and have access to your organization repositories. I understand why having as 100% permission generated here would be bad, but no worse than how source tree behaves when attaching an organization.

[2018-10-29 15:34] shiftkey commented on #797
`repo` scope does grant you that access. From the [docs](https://developer.github.com/apps/building-oauth-apps/understanding-scopes-for-oauth-apps/#available-scopes):

You should be fine unless your organization enables [SAML restrictions](https://help.github.com/articles/about-authentication-with-saml-single-sign-on/), in which case you need to get your [personal access token authorized](https://

[2018-10-29 16:30] shiftkey commented on #797
`org:read` might have helped you see the list of organizations you are a member of, but it doesn't affect access to repositories.

[2018-10-29 16:36] AdamBryantSkybox commented on #797
Yeah, reading the docs you linked clarifies that. Quite uncertain why I ran into issues, ah well.

[2018-10-29 16:36] #797 closed

[2018-10-29 18:12] catapultsystemsdev commented on #749
FYI: username@github.com/[rest of repo path] doesn't seem to work...

[2018-11-01 14:04] jeschu1 commented on #802
@awbmansour I would expect you can reproduce the error on the command line if you set two environment variables with different casing.  This looks like it is the bug @mminns has fixed.

Happy to hear downgrading the git version worked.  We'll let you know when the GCM with the fix ships.

[2018-11-01 14:20] jeschu1 commented on #803
Hello! Thanks for the GCM trace information.
Are you using a specific Git hosting provider like GitHub, Azure DevOps, etc..?

[2018-11-01 14:57] 3d12 commented on #803
Yes, we use GitHub Enterprise 2.13.2

[2018-11-01 17:21] jeschu1 commented on #803
@3d12 From the logs the auth it's using is basic with NTLM=Auto.  In GCM we're adding the associated auth tokens and it looks like the GitHub Server is rejecting them (hence the two erase calls git sends to GCM).

The next best step would be to reach out to GitHub.  They should be able to look at the requests git is sending, the tokens on those requests, and diagnose they're being rejected.

Good

[2018-11-01 17:21] #803 closed

[2018-11-01 18:01] jeschu1 opened #804 "DevOps: Support AAD in MSA"
Switch MSA to auth against https://login.microsoftonline.com/common instead of https://login.microsoftonline.com/live.

[2018-11-02 10:47] TobiX commented on #802
This looks like it's fixed by #800 - Any ETA for a release?

[2018-11-02 19:11] jeschu1 commented on #802
Fix is up in preview https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases/tag/1.18.3

[2018-11-02 19:12] #802 closed

[2018-11-02 19:13] jeschu1 commented on #799
@mminns I released your fix in preview https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases/tag/1.18.3

[2018-11-02 19:13] #799 closed

[2018-11-08 23:23] aryoda opened #808 "Dead link in "Configuration Options" page"
Just a small thing: In the doc page

https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/v1.18.0/Docs/Configuration.md

the link to the environment variables doc is dead:

IMHO it should be:

https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/v1.18.0/Docs/Environment.md

[2018-11-09 12:32] shiftkey commented on #808
@aryoda this seems like a chance to contribute the change as a pull request - are you interested?

I'd recommend making the change against the `master` version, rather than the tagged version of the docs: https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/master/Docs/Configuration.md

[2018-11-09 18:53] aryoda commented on #808
I just wanted to avoid a fork only to fix a little typo but no prob, here is the pull request...

[2018-11-10 19:45] darrencole commented on #646
Thank you soooo much @shiftkey, @ddfridley @Synaccord  and others! I had to switch off the firewall as well.

[2018-11-13 10:09] SupporterMan commented on #804
When this feature will be implemented?

[2018-11-14 09:09] JamesFenton commented on #703
@gistofj Would it be possible to get some action on this issue? As @X-Guardian says, it looks like a quick and easy fix

[2018-11-14 14:47] gistofj commented on #703
No, I'm sorry. I am no longer associated with Microsoft, and therefore have no role in this project. Hopefully whom ever has taken over the reigns in my absence follows up. Best of luck.

[2018-11-14 16:09] #808 closed

[2018-11-14 17:22] X-Guardian commented on #703
@jeschu1, is anyone able to take a look at this?

[2018-11-15 15:09] bheale commented on #646
Is there a security risk for your computer when you turn off the firewall? Shouldn't there be a better way then turning off your antivirus program? Thanks, any info helps.

[2018-11-15 17:22] Kirkaiya commented on #774
This also fixed the problem for me.
git version 2.19.1.windows.1

Remote is an AWS CodeCommit repo.

[2018-11-17 05:17] bheale commented on #646
trying to push to github

[2018-11-17 09:50] qslcna opened #811 "fatal: Authentication failed whlie using azure devops and msys2"
I installed GCM in msys2 envrionment via [installation-in-an-msys2-environment](https://github.com/Microsoft/Git-Credential-Manager-for-Windows#installation-in-an-msys2-environment)

 GCM works fine in msys2 when the remote is github.
however when I push another repository which remote is  azure devops  occur

I try to push via  git for windows (pure windows env, and enable GCM ) ，Successful！

I g

[2018-11-20 17:49] jrbriggs commented on #804
We're looking at picking up work on this feature early in 2019.

[2018-11-20 17:49] jrbriggs commented on #703
We're looking at picking up work on this bug early in 2019. We're also very happy to review pull requests!

[2018-11-21 22:22] mattferderer commented on #811
I'm unable to push to Azure Devops using GCM as well but I can push to GitHub & BitBucket just fine.

I just tried the latest version 2.19.2 64-bit with no luck.

[2018-11-25 16:37] AsherKa opened #812 "fatal: Authentication failed after upgrade git client to 2.19.2"
We use TFS 2018.2 hosted on-prem. Since upgrading git client from 2.19.1 to 2.19.2 (which comes with `GCM v1.18.3`) authentication stopped working.

I've enabled `GCM_TRACE` and this is what happenes:
[code]

I'm aware of the option to set the [GCM_AUTHORITY](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/master/Docs/Environment.md#gcm_authority) to `BASIC` but for now we cho

[2018-11-29 14:12] jahir commented on #750
This is probably a duplicate of #703: GCM retrieves credentials for `https://github.myOrg.net/`, git gets rejected with this data and tells GCM to erase it, but GCM now tries to delete credentials for `https://myUserId@github.myOrg.net/`, which does not exist.

A workaround is to put the username yourself in the remote URL (`git remote set-url origin https://myUserId@github.myOrg.net/`) , so that

[2018-11-29 15:13] loldot commented on #812
I'm experiencing the same issue. The trace output is identical to @AsherKa

[2018-11-30 18:45] jeschu1 commented on #812
@AsherKa can you provide the GCM output you have on the downgraded, successful, version?

[2018-12-01 07:45] ljani commented on #812
@jeschu1: Here you go:

[code]

[2018-12-03 10:51] dscho commented on #812
I do not see any relevant code changes in Git v2.19.2 relative to v2.19.1. There is however one more thing that changed between Git for Windows v2.19.1 and v2.19.2: the cURL library was updated (which is the component responsible for talking via HTTPS).

To test whether this is the culprit, could I ask you to test with a portable Git v2.19.2, replacing `mingw64\bin\libcurl-4.dll` (and if it exists

[2018-12-03 14:38] jeschu1 commented on #811
GCM is finding credentials, however when it tries to use them it fails.

To debug further I would compare the successful / unsuccessful runs with GCM_TRACE=1 and GIT_TRACE_CURL=1 and see what difference you see.

Thanks for raising this and let us know what you find.

[2018-12-03 18:39] ljani commented on #812
@dscho Spot on. Replacing `mingw64\bin\libcurl-4.dll` and `mingw64\libexec\git-core\libcurl-4.dll` with the old versions, authentication succeeds. What would be the next steps?

[2018-12-03 20:08] ljani commented on #812
@dscho There seems to be lots of data, which I'm not sure I can censor properly, but here are the main diffs I spotted:

`v2.19.2` seems to be using http/2:

[code]

When `v2.19.2` tries to authenticate, the server responds with `HTTP_1_1_REQUIRED` where as `v2.19.1` continues with business as usual:

[code]

[2018-12-03 20:19] dscho commented on #812
Okay, good, now we are getting somewhere. There are experimental patches [in flight](https://github.com/git/git/commit/d73019feb44b9cb89d9967fb36eae809e8146ace) where you can force this via the config setting `http.version`, e.g.

[code]

This feature is not supported in any official version, and not even in a pre-release yet, though.

[2018-12-04 15:24] qslcna commented on #811
[code]

[2018-12-04 15:33] jeschu1 commented on #811
Thanks @qslcna also as a quick check, does Git 2.19.1?  2.20 has some changes and i want that out.

[2018-12-04 15:37] qslcna commented on #811
Compare between the successful and unsuccessful one, I notice both receive `401 Unauthorized` response from server, however the successful on will add one more request header which make the second request return `status 200`

Host: qslcna.visualstudio.com
Authorization: Basic ***********************************************
User-Agent: git/2.18.0.windows.1
Accept: */*
Accept-Encoding: deflate, gzip

[2018-12-04 19:07] jeschu1 commented on #811
GCM hands a token back to Git to use.
In both traces, I see GCM handing back the token.

In the working instance git uses the token:
Server auth using Basic with user 'PersonalAccessToken'

In the non-working instance (sys2) isn't using the token.

You could try calling "git credential fill" on both instances and comparing the results.  That may point to something obvious.  Note that will display

[2018-12-05 14:12] qslcna commented on #811
Unfortunately I got same result by calling  `git credential fill`.
I have no experience with debug git itself. Is there another way to locate this problem?

[2018-12-06 06:35] skowronek commented on #811
Adding my $.02 to this thread. Here is my trace log from the point I enter valid VS.com creds into dialog:

23:30:34.622156 http.c:724              == Info: Connection #0 to host xxxx.visualstudio.com left intact
23:30:34.769186 ...\Common.cs:744       trace: [Main] git-credential-manager (v1.18.3) 'get'
23:30:34.825181 ...\Git\Where.cs:348    trace: [FindGitInstallations] found 1 Git installation

[2018-12-07 00:13] AskYous opened #814 "fatal: Authentication failed"
I installed git-credential-manager on my mac. I then try to make it work with my repository hosted on Azure Devops: https://dev.azure.com/yousefshanawany..., but it never pops up a UI or anything and instead prompts me for a password in the terminal.

Is that supposed to happen? Isn't there supposed to be a popup?

I then proceed to give it my Azure Devops password, but it fails and says it's wron

[2018-12-07 00:16] AskYous commented on #814
Closing this issue... though the documentation should link to the mac repository for macs.

[2018-12-07 00:16] #814 closed

[2018-12-07 13:05] dscho commented on #811
@qslcna I almost certain that this is an issue with libcurl. I fixed a bug in Git for Windows' build of libcurl a short while ago, where libcurl would want to use Bearer authentication if available, even if there was no Bearer token to work with. This was fixed in curl 7.61.1 (see https://curl.haxx.se/changes.html, in particular where it talks about "auth: only pick CURLAUTH_BEARER if we *have* a

[2018-12-07 14:02] jeschu1 commented on #811
Thanks @dscho! That makes sense as an explanation.

@skowronek yours is indeed a different issue.  In @qslcna's case GCM is successfully getting credentials in yours it seems like it can't contact location service.

My first thought is what credentials VS is using to call git (aka the login'd in user in VS) with versus the command line.  Your question would be good to post on https://developercomm

[2018-12-07 15:35] qslcna commented on #811
@dscho @jeschu1  great, It works after I update libcurl

[2018-12-07 15:36] #811 closed

[2018-12-07 22:33] dscho commented on #812
I backported it to Git for Windows' `master`, and it will be part of Git for Windows v2.20.0 (expected early this coming week) as well as a patched cURL so that you do not even have to specify `http.version = HTTP/1.1` (unless you want to).

[2018-12-08 19:37] dscho commented on #812
@AsherKa thank you for reporting, and @ljani thank you *so much* for assisting with your excellent analysis. I asked my teammates, and we all agree that you helped us prevent a major problem for lots of customers. And we all agree that we (and especially the help desk) owe you at least a 🍺 (if you drink alcohol, that is).

[2018-12-09 12:51] ljani commented on #812
@dscho No problem! Thank you and your teammates for your hard work!

I'm happy to test out a snapshot build, if you can point me to one. I saw no artifacts in the Azure Pipelines builds, but it's not the first time I'd skip over something.

[2018-12-09 19:39] dscho commented on #812
@ljani there are no snapshot artifacts yet ;-) But in a few minutes, there will hopefully be a new and shiny Git for Windows v2.20.0 for you to test out.

[2018-12-12 05:47] fowl2 commented on #744
Creating a `git-credential-manager.exe.config` (under `C:\Program Files\Git\mingw64\libexec\git-core`) with the following:
[code]
Also works.

Normally I'd just add it to the [app.config](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/fc3bebd3794eacde59df1397a38f02ce4a5fd555/Cli/Manager/app.config), but it appears to be missing from the installer (perhaps intentionally?) and

[2018-12-12 08:06] ljani commented on #812
@dscho I'm happy to report v2.20.0.windows.1 is working very well for me!

[2018-12-12 13:03] bartdekeersmaeker commented on #476
Any idea if this was re-introduced to 15.9 ? :(

[2018-12-12 13:12] bartdekeersmaeker commented on #705
Any news on this topic ?
Since it's kind of blocking ... thanks !

[2018-12-12 19:39] mmcintyre123 commented on #651
yes

[2018-12-12 19:47] mmcintyre123 commented on #651
Don't forget to update your Git Credential Manager - download and run the exe, which you can find here: https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases/tag/1.18.3

[2018-12-13 17:09] skowronek commented on #773
Same issue for me. I have a ticket with VS.com. What's the fix please?

https://developercommunity.visualstudio.com/content/problem/404040/unable-to-authenticate-against-vscom-git-repo.html

[2018-12-13 20:31] tombelljlt commented on #744
@westerdaled have you tried:

`git config --global http.proxy http://:@myprocxy.com:80

(note the : between the http:// and the @.  This is effectively saying that both the username and password are blank).  In our corporate configuration this makes GIT use default credentials for the proxy, and form what I saw reading the code for issue #741 is the normal behavior.

Note you may also want to set

[2018-12-13 21:03] obivandamme commented on #773
The Issue was that my office live account was registered with azure dev ops, but because of a previous login on my personal live account with the same username the authentication against live login worked, but the user was rejected by dev ops. you need to perform a manual logout from live.login.com so that the login prompt will ask you if you want to login with the private or company account. choo

[2018-12-13 22:09] skowronek commented on #773
Odd. My account has only ever been an Office Live 365 (Azure AD) account that was added to a client's VS.com org. Sounds like an issue with MSFT identity not being able to resolve things internally.

[2018-12-14 02:31] dayglojesus opened #817 "Github vs. GitHub Enterprise + GCM modalPrompt vs. store"
Hi,

This is a long standing issue that only surfaced for us recently.

We leverage the GCM CLI to automatically pre-populate **Github** and **Github Enterprise** credentials for some users.

Github:
[code]

GHE:
[code]

This methodology worked for us until we deployed a version `>= 1.15` where GCM introduced a new feature, #547 "Respect Usernames in Repository URLs". Prior to version `1.15`, the

[2018-12-14 21:19] danyadsmith commented on #476
I have the same question as @bartdekeersmaeker. We just updated our Azure DevOps organization to the new URL scheme and I am having this issue in all of my repositories. Connecting through Visual Studio (Manage Connections) seems to work fine, but I prefer working on the command line.

I am using version 15.9.3 of Visual Studio 2017 Professional

[2018-12-14 23:01] danyadsmith commented on #476
Update: Upgrading to Git Credential Manager for Windows 1.18.3 resolved my issues.

[2018-12-15 09:35] bartdekeersmaeker commented on #476
@danyadsmith : Thanks for the feedback !
I did change the values in the Windows Credential Manager myself. Resolved the issue as well.

[2018-12-20 01:17] mithunshanbhag opened #818 "'Logon failed' issue when using GCM with Azure devops repos"
Whenever I use GCM with my azure devops repo, I always get a 'logon failed' error. The gif below captures the error as it happens.

![gif](https://user-images.githubusercontent.com/2327905/50257767-babf2900-0422-11e9-8f74-252b95e5099c.gif)

Verbose logs (GCM_TRACE=1) are given below:

[code]

Please let me know if I can provide any more details to help you investigate this.

[2019-01-07 15:12] #804 closed

[2019-01-07 15:19] biserd commented on #57
Having the same error `fatal: AggregateException encountered.` when connecting VS Code to Git it was resolved by updating Git Credential Manager for Windows to the latest v1.18.3. Hope it helps.

[2019-01-08 18:15] davidmatson opened #821 "Feature Request: Support GitHub Enterprise single sign-on"
GitHub Enterprise supports creating and using Personal Access Tokens for authentication over HTTPS. It also supports single sign-on, such as with Azure Active Directory.

I believe the plugin for Azure Repos uses single sign-on to create and store a PAT automatically, without the need for any user interaction (except perhaps in a single-sign on dialog, for example, using corporate credentials). It

[2019-01-09 09:45] Crashdummyy commented on #744
Did have these Problems too...
We did have these Problems mostly because of windows 7, but I guess this might work for you too..

git config--global http.proxyAuthMethod ntlm
git config--global https.proxyAuthMethod ntlm

if still not working you could try

git config --global credential.helper wincred

[2019-01-09 10:59] westerdaled commented on #744
@tombelljlt  Unfortunately, I never got the chance to test your suggestion as I don't have access to the client's supplied laptop.  At the time, I was able to test on another Win 10 laptop behind the corp env and able to access the desired DevOps repo - go figure!

`git config --global http.proxy http://:myproxy.com:80`

I will keep a note of your suggestion and add it to my set up notes. Another

[2019-01-09 19:58] YawJatah opened #822 "GCM not caching username and password for GIT LFS"
Hi Guys,

Up untill GCM vs 1.12.0 , and Git 2.19, GCM will launch a poppup for both GIT and GIT LFS when run from a command line or git bash.
With the latest versions GCM doesn't generate a poppup for on prem GIT repos (in our case TFS 2018) that uses NTLM authentication. You can work around GIT by using Visual Studio Team Explorer, but GIT LFS still fails the authentication.

Using GIT_TRACE=1, f

[2019-01-10 00:47] YawJatah commented on #822
Hi Guys,
Here is the GIT_TRACE, GIT_CURL_VERBOSE, and GCM_TRACE. (this is when we don't already have credentials stored in the Windows Credential Manager)

This was the command I ran

`GIT_CURL_VERBOSE=1 GIT_TRACE=1 GCM_TRACE=1 git pull --verbose`

[code]

[2019-01-14 00:47] Eddie-Hartman opened #823 "Credential Manager not working."
StackO post: [https://stackoverflow.com/questions/54170979/git-for-windows-not-able-to-authenticate](https://stackoverflow.com/questions/54170979/git-for-windows-not-able-to-authenticate)

A colleague has installed git for Windows via the Visual Studio installed instead of installing the standalone Git for Windows. I've re-installed Visual Studio Community edition and removed the Git installation

[2019-01-15 15:42] Eddie-Hartman commented on #823
This is still happening and still needs fixed. I can no longer perform operations via the command line for our organization's repositories.

[2019-01-15 18:00] dads07a opened #824 "Using Azure Devops getting Fatal Exception on latest version of git and GCM when using dev.azure.com not visualstudio.com URL"
getting below error, using Azure Devops when using dev.azure not visualstudio.com URL, laptop is azure ad joined, no login pop up

17:57:19.435326 ...\Common.cs:765       trace: [QueryCredentials] querying 'AzureDirectory' for credentials.
17:57:20.399562 ...\Program.cs:601      trace: [Run] ! error: 'An error occurred while sending the request.'.
17:57:20.399562 ...\Program.cs:601      trace: [Ru

[2019-01-16 20:34] jeschu1 commented on #823
@Eddie-Hartman can you please contact support for DevOps?  They'd be best suited to guide you through some scenarios that will work.  It's trying to connect via MSA (first prompt), which fails and then falls back to basic auth (second prompt).  When MSA fails that is the expected workflow.  One thing to double check is that you select the correct user in the first popup that appears.  Also make su

[2019-01-16 20:41] Eddie-Hartman commented on #823
Thank you for the response. I thought trying SSH to get unblocked would work as a last resort (I did not want to have to make a doc for the whole team to follow to get switched to SSH), but was able to resolve the issue by updating to gcm 1.18.4. It will now use what seems like AAD which is the functionality that we had and wanted before switching out of the previous organization. It was driving m

[2019-01-16 20:43] jeschu1 commented on #823
@Eddie-Hartman do you if you are using AAD accounts on a MSA DevOps server.  That feature was added in 1.18.4 and would explain exactly what you're seeing.

Also is this a new setup that you got working or an existing setup that stopped working?

[2019-01-16 20:49] Eddie-Hartman commented on #823
We had an existing setup for a company and I am unaware for sure whether or not they were using AAD, but it is very likely. Our team split off to form it's own company no longer part of the larger org and so no longer in their network or Azure DevOps org. I clone mirrored our repos and uploaded them to a new Azure DevOps org that everyone cloned from. Things worked fine for about a week then we st

[2019-01-17 14:43] jeschu1 commented on #823
@Eddie-Hartman interesting.  It sounds like this may indeed be a AAD in MSA scenario.  I have had a few validations of this new flow so I'm removing the pre-release tag from 1.18.4.

You may want to followup with support regarding your general auth setup post company split.  That said if everything is working you're probably in good shape.

Thanks for the report!

[2019-01-17 14:43] #823 closed

[2019-01-22 07:37] fowl2 commented on #744
These commands only affect git - the problem is that the ADAL library [used](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/2241f78163b664122e2b67892a5b709c58bbbc8d/AzureDevOps.Authentication/Src/Adal.cs#L160) doesn't provide a mechanism* to pass proxy information, and therefore the .net default of "use system proxy, but don't authenticate" is used.

*https://stackoverflow.co