[2016-08-01 15:23] whoisj commented on #182
Fixed with #259

[2016-08-01 15:23] #182 closed

[2016-08-01 15:26] whoisj commented on #203
2+ weeks with no activity, closing issue.

[2016-08-01 15:26] #203 closed

[2016-08-01 15:26] #237 closed

[2016-08-01 15:28] whoisj commented on #188
@onovotny the Azure Authentication team (the team responsible for ADAL, the authentication library the GCM uses and one that opens the authentication dialog) has silently taken notice of this issue and are looking at options to help resolve it.

Just wanted to update you.

[2016-08-05 13:20] pfmoore commented on #80
There's no release 1.6.0 that I can see, but I've just tested and this issue still exists with 1.5.0.

I don't see a "reopen" button. Can you reopen this please? For now I've reverted to the old wincred module with cntlm, which works perfectly for me...

[2016-08-09 13:04] stuartleeks commented on #179
Just an update, this seemed to be linked to network issues. As soon as my internet connectivity stabilised the issue went away.

[2016-08-09 13:34] whoisj commented on #179
Thanks for the update.

[2016-08-09 13:34] #179 closed

[2016-08-09 14:00] gvoysey commented on #179
this was replicable for me on an internet2 university gigabit connection.

[2016-08-09 15:46] gvoysey commented on #179
I can't speak to the network specifics, but it's a reliable fast connection: I average a symmetric 275 Mbps up/down on my workstation on speedtest.net

[2016-08-09 19:21] #228 closed

[2016-08-09 19:23] #57 closed

[2016-08-10 04:27] nigurr commented on #249
@whoisj even I have gone through the code base to figure out. Since we are using Single Credential Manager, it wouldn't be easy to hack. GitManager might need to support multiple credentials.

[2016-08-10 14:35] whoisj commented on #249
Can you elaborate on this?

[2016-08-11 03:56] nigurr commented on #249
@whoisj https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/e1712db87a9b7bded112eeb7ff5f166f3e7dd8b4/Microsoft.Alm.Authentication/GitHubAuthentication.cs

Basically we are using `PersonalAccessTokenStore` to exposes single `Credential`. But the target URI is same for `single Github repository, cloned by different users`

[2016-08-11 04:17] nigurr commented on #249
@whoisj I couldn't think of proper solution to get this functionality done.

Ex:
My global `.gitconfig` has MSFT account.

But when I clone my own project, I need to tell `git-cred-manager` to use my email and invoke respective credential further down.

[2016-08-11 17:17] whoisj commented on #249
I believe the "correct" solution would be if Git reported the `username` separately from the `userinfo` when the `<userinfo>@<url>` format is used to describe the "fetch" and/or "push" values of the remote.

This would require a change to Git prior to the GCM. Got time and willingness to contribute to Git? :wink:

[2016-08-11 19:48] cgreggo commented on #229
For me, it seems resolved with 1.6. Just used a quick "git fetch" to test the remote repo at VSTS connectivity. Windows popped up to process VSTS log-in information, which was successfully processed. After that, my git commands against the remote repo are working just fine.

Thank you!

[2016-08-11 20:26] whoisj commented on #229
@hjurin can you confirm that it works for you now?
@acoberlin how about you?

[2016-08-11 20:27] whoisj commented on #235
@acoberlin please retest with v1.6.0 - thanks

[2016-08-12 04:21] nigurr commented on #249
@whoisj I wish I could write old school `C` code ;)
How about **we** maintain this information/mapping in some file and use it to refer to which account should be used for which repo.

[2016-08-12 10:47] whoisj commented on #249
The issue here isn't about per repo, because we can resolve that with remote URL + path to the repo. The issue is with more multiple remotes per repo to the same host, or multiple clones of the same repo in the same system.

I can code C happily, so I can do the work. It's time and availability which are the constraints on me. I'll see what I can cook up, just please be patient. :smile:

[2016-08-12 14:47] simonech opened #270 "No request for 2FA appear with Github"
When logging in to a github private reposity, I get the screen for entering username and password, but I do not get the screen to enter the 2FA code.
I have it working on another machine, but on this it doesn't work.
I tried enabling the logging, but nothing gets written in the .git/ folder of the repository

[2016-08-12 14:53] whoisj commented on #270
/CC @Haacked

This is a server-side issue with GitHub as the client only echos the server's requests. First for username + password, second for username + authentication code. If the server doesn't ask for the authentication code, there's no way or reason for the client to ask.

I strongly suggest that you carefully review your account settings to insure that it's not something with your settings,

[2016-08-12 14:56] simonech commented on #270
But the fact that the github screen pops up means the credential manager is correctly configured?

[2016-08-12 15:05] whoisj commented on #270
Just tried from another machine and it works fine

If you're seeing the GCM dialog for GitHub, then you're in the GitHub code for managing authentication.

Are you not seeing the 2FA dialog, but still getting authenticated?

OR

Are you not seeing the 2FA dialog, and not getting authenticated?

[2016-08-12 15:10] simonech commented on #270
I don't see the 2FA dialog and not getting authenticated

[2016-08-12 16:36] Haacked commented on #270
When you say it works on another machine, you mean the Git Credential Manager works with GitHub's 2fa for the same repository?

[2016-08-12 16:49] #213 closed

[2016-08-12 16:53] simonech commented on #270
Yes

On Aug 12, 2016 6:36 PM, "Phil Haack" <notifications@github.com> wrote:

[2016-08-12 17:05] whoisj commented on #270
Can you `git --version` and `git credential-manager version` on both systems? (the one that works and the one that doesn't?)

Thanks! :smile:

[2016-08-12 17:50] simonech commented on #270
Sorry, left office already (8pm in Europe).
Will get back to you next week.
Have a good weekend

Sent from my iPad

[2016-08-12 19:00] derrickstolee opened #271 "UriFormatException when parsing URL with port number"
I have a remote with a port number (e.g. http://examplename:8080/path/to/repo) and when I push using credential manager 1.6.0, I get an error with the following stack trace (from Event Viewer):

[code]

[2016-08-12 21:14] whoisj commented on #271
Thanks - I'll get a fix ready and published as quickly as possible.

[2016-08-13 18:28] gvoysey commented on #179
@whoisj : i have noticed something I missed before.

Right now, i have two flavors of git.exe, and they were in different orders in my user and system path.  (I noticed this when sublime text's git plugin started giving me confusing output).    One was a cygwin flavor of git, 2.7.x, and the other is 2.8.3.windows.1.    Using the latter seems to help!

[2016-08-15 07:22] cottsak commented on #178
Similar problems.

Had to use "personal access tokens" instead of "alternate authentication credentials" and then manually store creds in the Credential Manager before it worked. gah! >.<*

[2016-08-15 12:23] XhmikosR opened #272 "Fix build warnings"
From CI

[code]

[2016-08-15 12:27] XhmikosR opened #273 "1.6.0 asks for GitHub credentials again"
So, I updated to git for Windows 2.9.3 which has GCMW 1.6.0.

When I try to push I'm getting asked to enter my credentials while with version 2.9.2 which has GCMW 1.5.0 this worked fine.

[code]

[2016-08-15 12:28] XhmikosR commented on #272
And one more in another project.

On a side note, is there any particular reason for using `%25src%25` in `PostBuildEvent` scripts?

[2016-08-16 04:04] nigurr commented on #249
@whoisj May be we should plan for full fledged `SSH` support. That would be easier to read the `.ssh\config` and understand which key to use and work on? just throwing ideas ;)

[2016-08-16 07:40] simonech commented on #270
Computer on which GCM doesn't work:
git version: git version 2.9.2.windows.1
git credential-manager version: Git Credential Manager for Windows version
1.6.0

Computer on which GCM works:
git version: git version 2.8.1.windows.1
git credential-manager version: Git Credential Manager for Windows version
1.5.0

On Fri, Aug 12, 2016 at 7:05 PM, J Wyman <notifications@github.com> wrote:

--
Simone Chi

[2016-08-16 17:18] whoisj commented on #273
Yes it should. I do not have a local repro of the problem. Can you provide more information?

OS is Windows 10, Git is 2.9.3 w/ GCM 1.6.0 - got that.

Cmd, PowerShell, or Bash?

Is Git on your %path% and it this Git for Windows or Portable Git for Windows?

Also, are there any other instances of Git installed in your system?

[2016-08-16 17:22] XhmikosR commented on #273
Standard setup installation only one instance. That's why I have kept my
local repo without changing credentials.

2fa enabled if it matters.

On Aug 16, 2016 20:19, "J Wyman" <notifications@github.com> wrote:

[2016-08-16 17:26] XhmikosR commented on #273
Forgot to say normal cmd with git in PATH

On Aug 16, 2016 20:21, "XhmikosR" <xhmikosr@gmail.com> wrote:

[2016-08-17 15:46] Wedvich commented on #270
Was having the same issue when trying to push to a repository. I'm on Windows 10, with the following versions installed:
`git version` - `2.9.3.windows.1`
`git credential-manager version` - `Git Credential Manager for Windows version 1.6.0`

The first window prompting for username/password pops up. When I enter my information (doesn't matter if it's correct or not) it pauses for a couple of second

[2016-08-17 15:52] XhmikosR commented on #273
I enabled debugging and tried the same.

[code]

[2016-08-17 15:54] XhmikosR commented on #273
And with Git 2.9.2 which has 1.5.0

[code]

[2016-08-18 08:23] nintendoluk opened #276 "Version 1.6.0 ignores useHttpPath = true"
I have my gitconfig like this:

....
[credential]
	helper = !\"D:/devtools/MinGit/mingw64/gcmw/git-credential-manager.exe\"
	useHttpPath = true
....

But after saving some credentials and looking into the windows-credential-manager (of the control panel) I saw the credentials are not saved with the http path component (only the url). So the config "useHttpPath = true" is ignored completely.

If I

[2016-08-18 12:46] csware opened #277 "Stores wrong credentials / invalid passwords are not pruned"
I'm not sure whether this is the right place to report (or if this is already an git issue), but I noticed several reports that invalid passwords (e.g., after a password change) are not cleared from the credential store.

See:
 * http://stackoverflow.com/q/39016768/3906760
 * http://stackoverflow.com/q/31782090/3906760
 * http://stackoverflow.com/q/38894739/3906760
 * http://stackoverflow.com/q/35

[2016-08-18 21:07] XhmikosR commented on #273
So any news? This is pretty annoying and we should make sure we font break
compatibility. Not at least with minor version bump.

On Aug 16, 2016 20:19, "J Wyman" <notifications@github.com> wrote:

[2016-08-18 21:11] Siafu commented on #271
having this same problem

[2016-08-19 13:42] pascalberger opened #278 "Credential Manager not working with SourceTree in 2.9.3"
I've SourceTree setup to use system Git and using Git together with some repositories hosted on Visual Studio Team Service. This worked fine in 2.9.2. If I update to 2.9.4 SourceTree starts to prompt again for credentials. Credential manager is correctly set in the Git configuration and also working fine if I use git directly.

[2016-08-19 15:04] dscho commented on #273
On Thu, 18 Aug 2016, XhmikosR wrote:

I am sure @whoisj will take care of this as soon as he returns from
vacation, after this weekend.

[2016-08-22 14:13] whoisj commented on #273
compatibility. Not at least with minor version bump.

vacation, after this weekend.

Yes, I'm on it. My apologies, I was physically away from my computer on vacation with my family. I'm back now and diving back into all things credential manager related.

[2016-08-22 14:15] whoisj commented on #276
Thanks for the report @nintendoluk . It seems my decision to rely on the NetFx `System.Uri` class was a mistake. I am working on reverting this poor decision and returning all broken functionality to a nominal state as quickly as possible.

[2016-08-22 14:16] whoisj commented on #277
@csware thanks for bringing these to my attention, I'll parse through them and attempt to get fixes (where possible) in place asap.

[2016-08-22 14:17] whoisj commented on #278
@pascalberger what is the URI of your host?

I ask because there's a bug in v1.6.0 related to URI parsing.

[2016-08-22 14:22] pascalberger commented on #278
@whoisj It's with Visual Studio Team Service. So something like https://mytenant.visualstudio.com/MYTENANT/_git/MyRepo.

MyRepo contains dots (eg. App.MyApp)

[2016-08-22 14:29] XhmikosR commented on #273
No worries, I thought you were busy and forgot about it :)

[2016-08-22 15:20] whoisj commented on #278
@pascalberger thanks! I'll make sure that gets into the new set of unit tests and works as advertised.

[2016-08-22 15:47] whoisj commented on #270
@Wedvich I believe your issue is likely related to the Uri parse issue, which is resolved by #280.

[2016-08-22 15:48] #271 closed

[2016-08-22 16:48] whoisj commented on #272
It keeps the editor inside Visual Studio happy. Otherwise, not really.

[2016-08-22 17:02] XhmikosR commented on #272
There's one more warning, analyze one this time.

[2016-08-22 17:32] #229 closed

[2016-08-22 18:02] #272 closed

[2016-08-22 18:08] #276 closed

[2016-08-22 18:08] #273 closed

[2016-08-22 18:17] whoisj commented on #278
In theory #281, #282, and/or #280 should resolve this issue.

[2016-08-22 18:17] #278 closed

[2016-08-22 18:41] XhmikosR commented on #272
@whoisj: there are more errors in the post build events.

[2016-08-22 19:13] whoisj commented on #272
The `The system cannot find the file specified.` warnings are from the test binaries, because they do not have the .cmd, .md, and other non-compiled files. We can safely ignore them.

@XhmikosR are you seeing something else?

[2016-08-22 19:17] XhmikosR commented on #272
Well, they shouldn't happen. Perhaps the build order needs tweaking?

[2016-08-22 22:05] whoisj commented on #272
The binaries are built, but the files which are not part of the compilation are moved around. This is a bin place issue and doesn't affect the useful binaries (non-test).

If it is really bugging you, I suppose you could look into fixing up the bin-place post-build events to work even if the binaries are being build by the test DLLs.

[2016-08-22 22:17] XhmikosR commented on #272
Don't get me wrong, I don't mind at all. I simply believe that's harder to spot real issues if the eye is used to seeing failures instead of everything completing fine.

[2016-08-25 14:43] acoberlin commented on #235
Hi whoisj,

sorry - it took me a whole to test.
At first things looked good. But it only worked for three days. Then it began again to stuck.
The reason is: somehow GCM seems to loose the credentials. If I do a git request with credentials while some other request hangs, all the other requests worke fine then.
If not then none of the requests will be processed correctly. I could reproduce this beh

[2016-08-25 22:06] SamInWa opened #285 "GCM doesn't respect setting at the system level"
GCM doesn’t respect settings at the system level (or the “portable” level either) on Windows Server 2012 R2 machines.

It does pick up the settings on that OS from the global level. This makes it so identically configured git installs on different OS’s can have different behavior, which is less than ideal.

[2016-08-25 22:25] whoisj commented on #285
Thanks @SamInWa , I'll look into this.

Ideally, the GCM should respect any settings Git respects - unfortunately, we've not been able to rely on Git to parse the configuration files because the circular reference issues.

[2016-08-26 08:31] nick-attlee commented on #256
Just wanted to chime in on this issue, as I ran into the same problem where GCM wasn't reading the global .gitconfig I had because it was looking in the user profile.

On the configuration I have for a teaching environment, the home folder is on a networked drive as a result of group policy.  They do this using the %HOMEPATH% and %HOMEDRIVE% environment variables, which Git seems to combine if pre

[2016-08-28 06:04] mabbas64 commented on #139
what goes into the <domain> and <url_path> fields?

e.g. my repo is https://github.com/user1234/epic-project.git

[2016-08-29 08:36] nintendoluk commented on #276
I tried this using GfW 2.9.3(2), which should include your bugfixed 1.6.1 as you see here https://github.com/git-for-windows/git/releases

And useHttpPath still does not work for me :-(

[2016-08-29 08:36] nintendoluk commented on #277
I tried this using GfW 2.9.3(2), which should include your bugfixed 1.6.1 as you see here https://github.com/git-for-windows/git/releases

And wrong credentials still get stored here :-(

[2016-08-29 13:38] whoisj commented on #277
Please explain "wrong credentials". What *is* getting stored here and what *should be* getting stored instead?

[2016-08-29 13:41] whoisj commented on #276
@nintendoluk it seems like you're having serious issues with the GCM. None of which I can reproduce. The difference between our experience is likely the differences in our setups.

For example: I have two configurations, both on Windows 10 x64, using Git 2.9.3(2)

 1. VSTS multi-factor Azure authentication
 2. GitHub multi-factor

Both work for me, both use HTTP path just because I'm "eating my ow

[2016-08-29 13:46] whoisj commented on #139
The easiest to consume (IMO) documentation can be found here: https://git-scm.com/docs/git-credential

basically, a Git credential helper will be given one of three instructions: *get*, *store*, or *erase*. In the case of *get* or *erase* only the `protocol`, `host`, and `path` values are sent to the helper; with *store* command `username` and `password` are included.

Examples: *get*
[code]

Hope

[2016-08-29 15:36] nintendoluk commented on #277
As I mentioned here: http://stackoverflow.com/questions/39016768/git-credential-manager-for-windows-also-saves-invalid-credentials

...It seems like GCM should delete wrong (mistyped or changed) passwords. But GCM keeps them and you have to delete wrong credentials from the control panel (which is no problem for an IT-Guy like me, but we also have "less experienced" users)

It would be nice if cre

[2016-08-29 15:45] nintendoluk commented on #276
First of all: Thank you for your helpfullness :-)

We use the SCM-Manager (https://www.scm-manager.org/) as a Git-Repository-Server. I am pretty new to Git and dont know whats an usual setup.

When I pull from there and look into the windows credential store (control panel) the credentials are only stored for example "https://scm-manager.internalXY.com" and not like I think it should be: for examp

[2016-08-29 16:25] whoisj commented on #277
I agree! and it is the behavior I'm seeing locally on my system. :frowning:  I'll keep digging as this is a bug if it is not working for, I just need to understand why before I can fix it.

[2016-08-29 16:27] whoisj commented on #276
Thanks, this gives me an incredible amount of information to work with. First, from a GCM perspective, the https://sc-manager.internal.com/repos/my.git URL tells me that you're in the GCM's `BasicAuthority` path. Second, I can now look at if scm-manager does anything 'unusual' which could trip the GCM up.

Thanks.

[2016-08-30 05:28] nintendoluk commented on #276
btw. version 1.5.0 worked well, but it always asked for proxy-credentials, even if no proxy was set (thats why we wanted to use 1.6.x)

[2016-09-05 07:03] pascalberger commented on #278
@whoisj I tried to update to Git for Windows 2.10.0 which bundles GCM 1.6.1, but still get a credential prompt while trying to push from SourceTree to GitHub or Visual Studio Team Services.

[2016-09-05 13:51] nintendoluk commented on #277
How can I help you? Are there any logfiles I can send you?

[2016-09-05 21:59] madcampos opened #286 "Fails with "Fatal: ArgumentException encountered." on windows 10 insider"
Version 1.6.x fails with: `Fatal: ArgumentException encountered.` on windows 10 (insider preview build 14915) when trying to push to a GitHub repo.
It doesn't log anything with the `credential.writelog` flag.
The message appears twice before falling back and asking for user and password via ssh.
Version 1.5.0 works okay.

[2016-09-06 03:30] ctolkien commented on #270
Hitting the same issue here. I've 2FA enabled for GH. It prompts for username/password, does not prompt for 2FA and auth'ing fails.

`git version
git version 2.8.1.windows.1`

`git credential-manager version
Git Credential Manager for Windows version 1.6.1`

Potentially related, but this was all working for me recently. I did go and add a personal access token in my GH settings and it's stopped wo

[2016-09-06 12:38] vorou commented on #286
Can reproduce on Win10 Enterprise, GCMW1.6.1.

[code]

1.5.0 works okay.

[2016-09-06 13:44] whoisj commented on #278
@pascalberger are you getting the branded credential prompts or the default basic credential prompt (which looks like a Windows dialog)?

[2016-09-06 13:46] whoisj commented on #277
If you have `git config --global credential.writefile true` set, then there should a `credential.log` file in the root of your `$GIT_DIR` (aka ./git folder). That will contain some useful information.

[2016-09-06 13:53] pascalberger commented on #278
@whoisj The branded one:

![login](https://cloud.githubusercontent.com/assets/2190718/18276111/f5769f9e-7449-11e6-8a59-4c8248b07c8e.png)

[2016-09-06 14:07] whoisj commented on #278
@pascalberger oh that's the proprietary SourceTree dialog.

The GitHub dialog should looks like this:

<img src="https://cloud.githubusercontent.com/assets/19977/15630445/47424c50-24f0-11e6-811b-e9c22c2a90e2.png"/>

The VSTS dialog should look something like this:

<img src="https://i3-vso.sec.s-msft.com/en-us/docs/setup-admin/team-services/_img/_shared/sign-in-msa2.png"/>

This tells me that eith

[2016-09-06 14:11] pascalberger commented on #278
@whoisj SourceTree is setup to use system Git:

![sourcetreeoptions](https://cloud.githubusercontent.com/assets/2190718/18276725/46a22b3e-744c-11e6-8103-eb77c524bbbb.png)

If I uninstall Git and reinstall 2.9.2, SourceTree uses GCM again.

[2016-09-06 15:36] whoisj commented on #278
Hmm...

Please try the following `setx GIT_TRACE %USERPROFILE%\gitlog.txt` then re-run your scenario.

After you're done, try looking in your user-profile directory (`%USERPROFILE%`) for a file named `gitlog.txt` and then inside that file look for the keyword "credential". Can you forward those related lines to this thread?

Thanks!

[2016-09-06 16:10] whoisj commented on #286
Oh that's a coding bug, likely my fault :sob:

I'll try to get this fixed asap as that is super embarrassing :blush:

[2016-09-06 16:14] whoisj opened #287 "Need a method to ignore/not use local Git configuration"
I've had a couple of requests from Microsoft internally to add a feature to force the GCM to ignore local Git configuration options. This almost always in regards to scripts and/or automation.

Most likely solution: add an environment variable similar to Git's `GIT_CONFIG_NOSYSTEM`; perhaps `GCM_CONFIG_NOLOCAL` and `GCM_CONFIG_NOSYSTEM` should both be added.

[2016-09-07 06:20] pascalberger commented on #278
These are the credential entries in the log:

    08:18:22.527910 run-command.c:336       trace: run_command: 'git credential-manager get'
    08:18:22.552976 git.c:564               trace: exec: 'git-credential-manager' 'get'
    08:18:22.552976 run-command.c:336       trace: run_command: 'git-credential-manager' 'get'
    08:18:22.633190 run-command.c:336       trace: run_command: 'C:\Program Fi

[2016-09-07 16:19] whoisj commented on #278
ok so it does call `git credential-manager get` but then falls back to the value of `GIT_ASKPASS`. Interesting.

I think I need to install source-tree.

[2016-09-07 18:36] pascalberger commented on #278
@whoisj Sorry about that  :innocent:

[2016-09-08 17:06] #287 closed

[2016-09-08 17:56] whoisj commented on #249
I've added `GIT_ASKPASS` support, which will work for SSH when you're not using the command line. Sadly, OpenSSH (the SSH implementation that Git for Windows uses) only looks for 'ASKPASS' support when standard input isn't available.

[2016-09-08 17:56] #249 closed

[2016-09-08 17:57] whoisj commented on #270
17 days, no response. I assume the issue is resolved - sound good @Haacked ?

[2016-09-08 17:57] #270 closed

[2016-09-08 17:59] Haacked commented on #270
👍

[2016-09-08 18:18] simonech commented on #270
Actually I was on holiday

On Sep 8, 2016 10:58, "J Wyman" <notifications@github.com> wrote:

[2016-09-08 18:19] simonech commented on #270
And I did answer with my version numbers but never heard back

On Sep 8, 2016 11:18, "Simone Chiaretta" <simone@piyosailing.com> wrote:

[2016-09-08 18:33] #256 closed

[2016-09-08 18:33] #285 closed

[2016-09-09 06:41] nintendoluk commented on #277
Sry I cant find the logfile

In my .gitconfig I have the following:

[credential]
	writelog = true
	writefile = true

But in my Git root-folder (D:\devtools\MinGit) is no log file

My git.exe is located in "D:\devtools\MinGit\cmd\git.exe"

[2016-09-09 12:43] whoisj commented on #277
Ahh, look in the repository's `.git/` folder (aka $GIT_DIR). That's where it'll be located.

[2016-09-09 14:10] nintendoluk commented on #277
Ah sure! I will just try out on monday ^^'

[2016-09-09 19:11] whoisj opened #292 "Add support GIT_TRACE like environment variable"
Using the `GIT_TRACE` model, the GCM should be able to log (along with Git) using the same format.

[2016-09-11 01:01] sunnlok commented on #278
I can still observe this behaviour as well with the latest versions of git/gcm/sourcetree and gitlab as the server. Though it appears to only manifest in lfs operations such as checking out a branch, resulting in the failure of the smudge filter due to "No available credentials".
Using git 2.9.2 seems to work fine, as well as removing stored credentials in sourcetree, which enables branch checkout

[2016-09-12 06:04] nintendoluk commented on #277
Ok I have attached the logfile :-)

[credential.log.txt](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/files/466614/credential.log.txt)

Thank you for your help!

[2016-09-12 08:57] nintendoluk commented on #276
I just tried "useHttpPath" with github and it seems to work.

So it's indeed problem with the SCM-Manager ( here is their bitbucket btw. https://bitbucket.org/sdorra/scm-manager )

For us this is no issue but we wanted to use HttpPath with external gits only, anyway :-) I only tested it with our SCM-Manager ^^'

Thank you for your help!

[2016-09-12 11:21] nintendoluk commented on #276
I tried a little and now I see, the problem is not with the SCM-Manager.

When I put "useHttpPath = true" into the repositories config-file, it works perfectly fine.

It seems like, the configuration gets ignored if I put it into "D:\devtools\MinGit\mingw64\etc\gitconfig"

if useHttpPath is not set in the repositories config, it also does not work with Github

[2016-09-12 12:18] nintendoluk commented on #277
I tried saving credentials of my github-account and encountered a strange behaviour I want to describe you:

- There are two inquires for my login data: A window (in github-style) that pops up, and after this I get asked via the console
- the github-window (i'll shorten with GW) stores the credentials fine in the credential store and wrong credentials don't get saved, so this is how it should work

[2016-09-12 12:39] grofit commented on #278
We just had this with a dev in the office, I can confirm going back to 2.9.2 git version solved the issue for us, for anyone else who needs a work around.

[2016-09-12 13:58] whoisj commented on #276
Sounds like a bug with GCM discovering which Git.exe you're using. The GCM will discover the Git on your `%PATH%` and then read its gitconfig before it finds any version of MinGit.

[2016-09-12 16:07] nintendoluk commented on #276
This must be the error! I am using the portable version without installation, so my %PATH% does not include the path to the Git.exe

I will just try out tomorrow, thank you :-)

[2016-09-12 17:14] whoisj commented on #276
Great, let me know the outcome - also, PortableGit relies on the portable config file, I recommend that you rely on that if you can.

[2016-09-13 06:12] nintendoluk commented on #276
I added the following paths to %PATH% (in the windows environment variables)

_D:\devtools\MinGit_ (Git root folder)
_D:\devtools\MinGit\cmd_ (Location of Git.exe)
_D:\devtools\MinGit\mingw64\etc_ (Location of gitconfig)

But the gitconfig is still not getting used
what am I doing wrong?

[2016-09-15 13:51] whoisj commented on #276
@nintendoluk don't add multiple versions of Git to your %PATH%, as the first version found is the version selected. You're not winning by doing that. 😉 In the case of your installation of MinGit, you **only** need the path to 'MinGit\cmd', though I've been asking @dscho to remove '$GITINST/cmd/git.exe' as it gives the false impression that MinGit can be used from CMD.

Regardless, I highly recomme

[2016-09-18 09:20] chiyanan commented on #286
Thanks

[2016-09-19 10:34] nintendoluk commented on #276
Hi whoisj,

I have corrected my %PATH% as you said, and put 'MinGit\cmd' at the front (so it should get used).

But the config-file located in MinGit\mingw64\etc\gitconfig is still not used by your credential manager.
But it is the standard config file of MinGit/Portable-Git and it is definitely used by git but everything credential-manager related does not take effect.

I think your credential ma

[2016-09-19 10:54] nintendoluk commented on #277
Hello whoisj,

my English is not the worst, but I suck at talking in technical jargon (even in my mother language) and also in explaining problems.
Also I know my contribution above is pretty "BrainFuck" and that's possibly the reason why you haven't answered for 7 days (no accusation, but usually you are incredibly fast!).

If you have question please **ask**! This will make it much easier for me

[2016-09-19 14:12] whoisj commented on #277
@nintendoluk my apologies, I've been ill and/or caring for ill children. It hasn't been a very fun week.

I'm just getting back to my looking through heaps of messages, both here on GitHub, as well as in email at work. I'll give a more useful response asap. 😷

[2016-09-20 06:13] nintendoluk commented on #277
Bless you!

And take your time as you need. We are not in a hurry to introduce Git in our company

[2016-09-20 13:48] whoisj commented on #277
@nintendoluk looking at your log files I see the following pattern:

1. Git asks for credentials
2. GCM detects GitHub
3. GCM displays GitHub interactive window
4. The window's 'Cancel' button gets hit (somehow).
5. Git thinks that it got credentials
6. The credentials work!
7. Git asks GCM to store the credentials
8. GCM writes credentials to the secure store

My questions are:

* What is happeni

[2016-09-21 18:10] #292 closed

[2016-09-21 20:56] whoisj opened #295 "Adopt New VSTS Identity Service Requirements"
Today we assume that we can reach out to `https://app.vssps.{targetUri.Host}/_apis/token/sessiontokens?api-version=1.0` and acquire a personal access token for Git to use. This is however not the "official" method, has been deprecated, and could be removed in the near future.

To safe guard against the GCM completely failing to authenticate with VSTS, the following changes are necessary:

 * Query

[2016-09-23 12:41] pascalberger commented on #278
@whoisj Were you able to reproduce this issue?

[2016-09-23 13:50] whoisj commented on #278
I wasn't, mostly because I do not have an Atlassian account :smirk: and honestly do not want one.

Guess I'll have to bite the bullet and get one :bomb:

[2016-09-23 14:05] whoisj commented on #278
OK installed SourceTree 🌳 and the fix was simple. It seems SourceTree injects environmental variables into the Git for Windows process, they do so with the "wrong" casing. This was causing confusion and 'causing the GCM to crash during hash table population.

I've changed the logic to allow for duplicate values to override each other (last one in wins! 🏆 ).

[2016-09-23 19:10] whoisj commented on #245
I believe this is resolved by #299

[2016-09-23 19:10] #245 closed

[2016-09-25 14:22] dscho commented on #276
Sadly, the `cmd\git.exe` entry point has been advertised as *the* entry point for third-party applications, for a long time. So I cannot simply remove it.

On the other hand, it *is* possible to use that entry point from `cmd.exe` even with MinGit, you just lose most of the interactive bells and whistles. In other words, I expect users who try to use MinGit other than in intended scenarios (i.e. a

[2016-09-26 13:47] whoisj commented on #276
The folder structure should be identical to same version of an installed Git for Windows. The only difference is that upgrades to the GCM have no way to find the instance of Mingit that you're interested in. You'll need to make sure to either manually place the version of the GCM you want into the 'mingw64/libexec/git-core/' folder OR use the 'git-credential-manager.exe' from the released zip arch

[2016-09-26 20:28] #295 closed

[2016-09-27 08:12] nintendoluk commented on #276
thank you for your helpfulness

our reason to take the portable "MinGit" was that we wanted to set up a correct configured "Git.zip" to rollout to the users in our company.
I recently found out, it would be also possible with our rollout-software, to install the real git and change the config files afterwards, so we will most likely take that way ^^ Lets hope that more common way will cause less p

[2016-09-27 14:02] whoisj commented on #276
Sounds like you really wanted PortableGit to begin with. Installed Git is usually a better experience for end-users as the installer correctly sets the `%PATH%` variable and other such niceties.

[2016-09-28 05:54] nintendoluk commented on #276
"useHttpPath = true" works fine now (y)

Thank you for your help ^^

[2016-09-28 06:53] nintendoluk commented on #277
I don't know. I'd assume the GitHub-Window uses a different protocol, or communicates with a different website that gets blocked by our companys firewall or proxy-server.

It would be very helpful if you could tell me some differences between the connection of the GitHub interactive window and the usual communication with the repositories (e.g. Protocol, Destination Address, Ports)
I'd check mysel

[2016-09-28 16:02] whoisj commented on #277
Passing the developers a link to this GitHub issue is likely a good start.

Quick backgrounder on how Git, git-credential, and Git Credential Manager for Windows interact:

1. Git attempts to interact with a remote via HTTPS but the remote requires credentials.
2. Git asks git-credential to provide said credentials.
3. git-credential scans the git-config files to determine any and all git-credenti

[2016-09-28 20:02] hollasch commented on #80
FWIW, I'm on a standard home Win10 system (no proxies or firewalls), and see the same behavior. I'm prompted over and over for my credentials, after seeing the `Fatal: ArgumentException encountered.` message. I'm working in an HTTPS clone.

[2016-09-29 06:24] nintendoluk commented on #277
Okay... The information that multiple helpers can work at once, made me search for and find something, that wont amuse you: I had another credential-helper installed called "wincred" (is preinstalled with Git).

After some trying I saw, I had configured ` credential.helper=manager ` twice, so that's why the GitHub Window showed twice. And I had also configured ` credential.helper=wincred ` (by mis

[2016-09-29 09:24] nintendoluk commented on #277
I just tested a little more...
And I configured ` credential.helper=manager ` and removed  `credential.helper=wincred  ` out of my config files (at least I think I found every config file, with the help of TortoiseGit)

But still, after the GitHub-Window has shown up, I get asked for my credentials in a different way.
Maybe the screenshots will help you identifying what program it is:

![UsingTort

[2016-09-29 13:53] whoisj commented on #277
Tortoise is likely in the way here. I've not used it in a very long time, and I do not have a machine setup with it. I can try to get one to see if I can reproduce the issue. There's a good chance that Tortoise is injecting configuration options when it run Git for you.

As for the failure in CMD, v1.7.0 has better diagnostics available. As soon as it is available, I look forward to seeing what it

[2016-09-29 18:57] chaim1221 opened #301 "Continuous failures with `npm install` on TFS Build Agent"
I am trying to use the GCM to get dependencies via `npm install` in an XPlat (JSON-based) build on TFS 2015. The builds keep hanging, only succeeding occasionally. When I try to run `npm install` from the command line in the same directory , it *always* works, but the GCM authentication dialogue window occasionally pops up to ask for credentials. I am left to assume that this is what's happening w

[2016-09-29 21:34] #301 closed

[2016-10-04 10:54] bxxfxxx commented on #80
Just to let you know, at my office, I'm getting the same kind of issues for the last few days.
I'm prompted quite randomly to be honest.
If I can help in anyway, let me know what i can do !

[2016-10-04 13:58] whoisj commented on #80
Best thing anyone can do is

 1. Install GCM v1.7.0
 2. Open CMD and...
    1. `mkdir C:\.trace`
    2. `setx GIT_TRACE C:\.trace\git.log`
    3. `setx GCM_TRACE C:\.trace\git.log`

This will cause both Git and GCM to log into the same file. Now, when these issues occur again we can look at the `C:\.trace\git.log` file and hopefully discover what is happening.

[2016-10-04 14:34] pfmoore commented on #80
I'm afraid I've gone back to using the old wincred, because it just works without all these issues. I'm reluctant to try the new version as (IIRC) last time I did, it was messy to revert back to my original config because I didn't know what changes the install process had made.

Is there a completely manual install process (no ```install.bat``` or ```git-credential-manager install``` process) that

[2016-10-04 15:04] whoisj commented on #80
All that is needed is for the binary contents of the .zip file to extracted into the `C:\Program Files\Git\mingw64\libexec\git-core`, or where ever you installed your Git to, and to add `git config credential.helper manager` to your local config.

[2016-10-05 15:53] pfmoore commented on #80
Hmm. 1.7.0 seems to be working for me. Probably worth getting the others who reported they are getting the same issue to confirm 1.7.0 fixes it for them as well, but so far so good :-)

BTW, thanks for being persistent with this. I know what a pain it is dealing with an issue you can't reproduce yourself, so your work is appreciated.

[2016-10-06 10:57] wayneuroda opened #304 "Does not correctly handle boolean configuration options"
v1.7.0 seems to introduce a bug, wherein configuration options set in config files are not honored.

(After much swearing) I tracked this down to the following block of code in Cli-Shared/Program.cs, `Program.TryReadBoolean`:

[code]

On the 4th line of that block, I believe that it should say `|| (!string.IsNullOrWhiteSpace(configKey)`.

I made this change and now GCMW works again for me (I requi

[2016-10-06 13:48] whoisj commented on #80
That's wonderful news!

Absolutely. Thanks for sticking with it until resolved. 😄

[2016-10-06 13:51] whoisj commented on #304
Thanks for that. Nothing like a bug report with the suggested fix. The only thing better would have been a pull request with the fix, but it's so trivial I'm happy to do that for you.

Thanks again 😃

[2016-10-07 21:40] kiliman commented on #304
This is really a breaking change and you should release a hotfix ASAP. I had to roll back to 1.6.1 due to this issue. I use multiple GitHub accounts for work and personal projects, so it is very important that credentials are stored properly per repo. Version 1.7 simply stores all credentials as `git:https://github.com`.

[2016-10-08 08:49] dscho commented on #304
@kiliman please note that you could help by preparing a Pull Request. This would make the maintainer's task much easier.

[2016-10-10 08:14] bxxfxxx commented on #80
I just installed the 1.7.0.
I'll tell you as soon as anything happens :)

[2016-10-10 09:55] bxxfxxx commented on #80
Ok, so i just got prompted for the first time after i installed 1.7.0.
I'll tell you if i get prompted again.
I set up the logs as you said, in case of.

[2016-10-10 14:41] bxxfxxx commented on #80
Just got prompted for the 2nd time today after i installed 1.7.0.
I also add the logs if you can understand anything.
If you need anything else, just tell me.
I'm completly lost in here :)
And as pfmoore said, it's amazingly cool to stick to this issue !
[git.log.txt](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/files/519726/git.log.txt)

[2016-10-10 20:22] #304 closed

[2016-10-10 20:25] whoisj commented on #286
@chiyanan any chance this is reproducible with v1.7.0?

If so, would you mind setting a couple of environment variables and the reproducing it?

 1. `mkdir C:\.trace`
 2. `setx GIT_TRACE C:\.trace\git.log`
 3. `setx GCM_TRACE C:\.trace\git.log`
 4. Reproduce failure.
 5. Open file found at `C:\.trace\git.log` and paste the contents here.

Thanks!

[2016-10-10 20:29] whoisj commented on #80
@bxxfxxx I see the trace from `GIT_TRACE` being set, but not from `GCM_TRACE` being set.

The interesting bits would be here, but without the GCM logs I am at a loss. My apologies.

[code]

[2016-10-10 21:45] madcampos commented on #286
@whoisj it's working with v1.7.0 as expected.

[2016-10-11 13:27] bxxfxxx commented on #80
rah. i was sure i set them. i'll do it again and let you read the logs if i'm prompted again.
though i didn't get prompt today. which is quite unusual (and appreciated ;)).

[2016-10-11 13:57] bxxfxxx commented on #80
Ok. i mistyped the GCM_TRACE...
I just got prompted when i tried to push to remote.
Here are the logs from the last few minutes when i got prompted and after i reset he GCM_TRACE.
[git.log.txt](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/files/521971/git.log.txt)

[2016-10-11 14:24] whoisj commented on #80
Great, looks like the logs were captured. Now to make sense of them...

[code]

[2016-10-11 14:50] bxxfxxx commented on #80
Haha, i don't get anything in here.
But please don't spend too much time on this if it's not useful to anyone else.
I just intended to help fix a bug, if any bug there is.
I can live with a few prompts a day!

[2016-10-11 14:52] bxxfxxx commented on #80
I know github changed their login policy recently. I used to have a username and password and now i'm using mail and password.
Maybe there is something in there ?
Old value still somwhere on my computer that prevents the new login values to work properly ?
Just a random guess in here.

[2016-10-11 18:00] whoisj commented on #80
It is possible, I suppose; but the GCM should overwrite the old value. Additionally, I'd expect to see the git request credential erasure if the credentials failed, but it looks like they didn't even exist to begin with.

You can review the credentials stored on your machine by looking at the Windows Credential Manager. You can find it by clicking on `Start` then typing "credential" into the searc

[2016-10-12 07:43] bxxfxxx commented on #80
Yeah, found them.
Everything seems good.
And the last update was yesterday.
![credentials](https://cloud.githubusercontent.com/assets/2878314/19301522/3c1e71d8-9060-11e6-9fcf-5ca22395318b.jpg)

[2016-10-12 14:56] bxxfxxx commented on #80
Hum, I think I found something.
I'm using sourcetree and i think sourcetree has some kind of project credential management.
Every project i got in sourcetree has it's own settings pointing to my bitbucket repo with my former username :
![sourcetree](https://cloud.githubusercontent.com/assets/2878314/19315070/ad1b9488-909c-11e6-852a-e88b67db7672.jpg)
I just updated every entry and i'll let you know

[2016-10-12 19:08] whoisj commented on #80
@bxxfxxx are your credentials valid for every repo on bitbucket.org, regardless of the path?

If not, you might consider setting the GCM's useHttpPath configuration value to true.

[2016-10-13 07:10] hollasch commented on #80
In my case, I'm just trying to push to GitHub. My log looks pretty boring:
[code]

[2016-10-13 07:28] bxxfxxx commented on #80
Yes, i updated all my credentials but i'll set useHttpPath to true  :)
Thx for everything !

[2016-10-13 07:37] hollasch commented on #80
Odd. Looking at my Windows Credential Manager, my username for `git:https://github.com` was "Personal Access Token" (or something like that). I edited it to change it to my userid (`hollasch`), but no joy. Then removed the credential to see if GCM would recreate it when I entered it from the command line, but a new credential never showed up.

[2016-10-13 07:38] hollasch commented on #80
Sorry; never mind! I was running 1.6.1. Installed 1.7.0, and everything's working great now!

[2016-10-13 09:46] akempe commented on #188
Can I just add, given the Azure Authentication team are looking at this, that the UX of popping up a dialog asking for credentials as a result of some background process is ripe for phishing attacks. The dialog already looks FAR too similar to some popup from a browser. Without ANY indication of what repo/endpoint/existing-failed-credentials are being used, there is no way to work out if that popu

[2016-10-13 13:56] #80 closed

[2016-10-16 10:04] katchou opened #307 "store command not working"
I tried the store command and got this result

Not what I expected.

[2016-10-17 13:44] whoisj commented on #307
Agreed! Thanks for the report.

[2016-10-18 14:10] #286 closed

[2016-10-20 19:32] whoisj opened #310 "Git-Askpass fails when queried for password and not passphrase."
Simple logic bug in Git-askpass crated when a user has a username in the target Uri, but no credentials cached. In this situation, the app gets confused and fails to deliver anything to the caller.

[2016-10-20 19:33] #310 closed

[2016-10-20 21:41] whoisj commented on #307
This isn't a bug per se, the `store` command expects data to fed to it via stdin, likely you're just hitting return and then seeing the bug. I'll patch this, but it should be expected.

[2016-10-23 16:20] raeesbhatti commented on #25
Hey everyone, I've recently created a helper utility that configures your Windows environment to let you use `ssh` from Command Prompt, PowerShell, Bash or any other terminal. It basically runs `ssh-agent` and publishes it's variables as User's environment variables.
You can then run `ssh-add` to add keys to the agent (or configure the tool to add them at startup) and just access your server with

[2016-10-24 17:36] v-susah opened #312 "Failed to erase credential: The pipe has been ended fatal: Authentication failed for 'https://msazure.visualstudio.com/DefaultCollection/One/_git/AD-P IM/'"
Getting the below error while git pull.

"Failed to erase credential: The pipe has been ended
fatal: Authentication failed for 'https://msazure.visualstudio.com/DefaultCollection/One/_git/AD-PIM/'"

Earlier it was working fine. suddenly git pull stop working. I have same enlistment in another machine there its working.

[2016-10-24 21:59] whoisj commented on #312
Transient network, Azure, or VSTS issues?

[2016-10-25 18:18] v-susah commented on #312
The issue is resolved after deleting the folder and enlisting the project again.

Thanks Everyone.

Regards
Supriya

From: J Wyman [mailto:notifications@github.com]
Sent: Monday, October 24, 2016 3:00 PM
To: Microsoft/Git-Credential-Manager-for-Windows <Git-Credential-Manager-for-Windows@noreply.github.com>
Cc: Supriya Saha (HCL America Inc) <v-susah@microsoft.com>; Author <author@noreply.github.c

[2016-10-26 16:37] whoisj opened #316 "GCM fails to automatically detect TFS instances."
The GCM should likely automatically detect TFS on-premise servers. This should probably be done by detecting what kind of authentication protocols the server supports. Detection can be done via the HTTP WWW-Authenticate header and looking for "NTLM".

[2016-10-26 16:37] #316 closed

[2016-10-26 18:30] #312 closed

[2016-10-26 18:31] whoisj commented on #307
This is fixed in the 1.8.0 code.

[2016-10-26 18:31] #307 closed

[2016-10-26 18:31] #277 closed

[2016-10-27 21:40] kimballjohnson commented on #178
Ok, this thing does not stop popping up. The comments on all these issues indicate an application with a design scope too limited for the actual interactions to be integrated. How can I get back to working with whatever it was that worked before? And what happened to products that include an installer that's been tested and verified for the system/os where the app is supposed to live? I'm tired of

[2016-10-28 14:13] whoisj commented on #178
What thing is that? The modal authentication dialog? Do you have it configured to always prompt you? What host are you working with (GitHub, VisualStudio.com, Bitbucket, etc.)? Can you share more about your configuration?

I'm not sure I follow you here. The GCM scope is limited by design. It's a Git for Windows credential helper design to facilitate multi-factor authentication with VSTS and/or Gi

[2016-10-28 14:15] whoisj commented on #235
@acoberlin since v1.7.0 the GCM has better logging available.

I recommend that you `setx GIT_TRACE c:\.trace\git.log` and `setx GCM_TRACE c:\.trace\git.log`. The combined logs might give you enough information to finally root cause and resolve this issue.

[2016-11-02 14:32] whoisj opened #318 "Askpass still buggy"
Ask pass still won't match passphrase requests from SSH. I swear, I fixed this once already.

[2016-11-02 14:37] #318 closed

[2016-11-04 11:41] ajtatum opened #320 "Ran the installer and once I click "Accept" the application goes straight to finish"
There's no way to configure options, doesn't work in my git bash.

[2016-11-04 13:57] whoisj commented on #320
Interesting. There really aren't any options to configure from the installer, but it should work from Git-Bash (I use it there daily).

Can you report the output of `which git` (Git-Bash), or potentially more useful `where git` (CMD)?

You should see something like: '/mingw64/bin/git` or `C:\Program Files\Git\cmd\git.exe`, if so can you look for the relative `mingw64/libexec/git-core/` folder and

[2016-11-09 15:39] remcoros commented on #58
@whoisj running into this a lot.

We use on-premise GitLab, and (for an unknown reason) sometimes the first authentication attempt fails.

Is GCM still removing credentials on the first authentication failure? Can this be tweaked somehow?

[2016-11-09 16:14] cholmes1111 commented on #58
This still occasionally happens to us as well.

[2016-11-09 22:22] whoisj commented on #58
No, never has. GCM only revokes credentials when Git tells it to delete them. (Except in the case of VSTS, there's an option to validate and renew credentials prior to giving them to Git). To prevent the deletion of credentials, use [GCM_PRESERVE_CREDS environment variable](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/master/Cli-Shared/Program.cs#L33). Something likes `setx

[2016-11-10 15:23] grofit commented on #235
Not sure if this is related but I am trying to remove my credentials from someone elses computer and I am using the latest git for windows (with I assume the latest credentials manager) however when I run:

`git credential-manager delete <some-url>`

It just hangs, even if I go to the credentials manager in windows and remove it from there, it just comes back in if I try to do anything with that r

[2016-11-11 16:14] whoisj commented on #235
@grofit that's a separate bug, and thanks for the report!

[2016-11-15 17:24] whoisj commented on #55
@lutzroeder does this issue still happen for you?

[2016-11-16 17:51] Shawellaby commented on #320
I've beaten myself up about this for the past couple of days. I'm new to GitHub and using HTTPS for repositories. I've used GIT locally with a remote mapped drive repo for years. I've always used GIT BASH and have recently moved all my code repositories up to GitHub. I'm unable to clone or push changes to any of them. I've followed the instructions from you above and everything checks out. I set u

[2016-11-16 18:09] Shawellaby commented on #320
I found some other clues in the forum (posted by you) about going directly to the Windows Credential Manager in the Control Panel. When I did that I found several stored there for git and all were referencing a Personal Token. I deleted them all and everything is working now (i'm prompted for credentials by the modal AND my code is successfully pushed)

[2016-11-16 19:07] whoisj commented on #320
The 404 error is basically telling you that your remote URL is incorrect.

For example, for this repository if you perform at `git remote -v` you should see something like:

[code]

If the URL is different, then you've setup your remote incorrectly.

To see how to adjust your remote values try `git help remote` and look for the `set-url` commands.

G'luck

[2016-11-17 09:49] lutzroeder commented on #55
GCM is now included in the Git Windows installer. Switched to using the Git installer instead so this is no longer an issue.

[2016-11-17 14:41] whoisj commented on #55
Thanks.

[2016-11-17 14:41] #55 closed

[2016-11-17 17:07] andreasbisiach opened #321 "[PopulateTokenTargetId] server returned 'ProtocolError'"
Hello,

I have a strange issue with a  Git + GCMW installation. (please note "ACME" is used to anonymize the real URLs)
I have installed the latest Git for windows (Git-2.10.2-32-bit.exe) and the latest GCMW (GCMW-1.8.0.exe)

My .gitconfig (global) contains the following:
[core]
	autocrlf = true
	excludesfile =
[push]
	default = matching
[credential]
	helper = manager
	writelog = true
[credential

[2016-11-18 09:49] biomedia-thomas opened #322 "Multiple accounts for same team repository (bitbucket)"
While testing permissions for a bitbucket team repository I used two different accounts on the same repository but ran into an issue that GCM cannot distinguish the stored credentials for both repositories. The default wincred manager works fine. I found a few issues with related issues (#69 and #249) but I'm not sure if these are the same problem.

The issues is that the (https) url for team repo

[2016-11-18 17:50] whoisj commented on #321
There's not much to go with this, unfortunately. My initial thought is that there's an issue with your local setup, the proxy setup, or your VSTS/Azure account setup.

If the issue is blocking you please reach out to me at (I'll leave up to you to decode -- with hopes that bots cannot). `<first>.<last>[at--symbol]<company>.com`, where my name is Jeremy Wyman, and I work for Microsoft.

[2016-11-18 17:54] whoisj commented on #322
We've looked at various options for this, unfortunately we've run into other issue with supporting the username@domain formatted Urls. I suppose we could support a feature where we honored the format, but it would need to be optional and not the default.

Would that work for you?

[2016-11-19 11:09] biomedia-thomas commented on #322
Yes, an option for that would be very helpful!

[2016-11-21 16:41] kevin-david opened #323 "Feature request: add environment variable override for credential authority"
It would probably go here:

https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/master/Cli-Shared/Program.cs

[2016-11-28 22:56] shurane opened #324 "GCM not working with git binary from Windows Subsystem for Linux"
So I'm running Git Credential Manager for Windows. The "Git for Windows" package works great with it.

I also have "Windows Subsystem for Linux", also known as "Bash on Ubuntu on Windows". Link here: https://msdn.microsoft.com/en-us/commandline/wsl/faq

Is there a way to get WSL to work with it, or will I have to download the Git Credential Manager for Linux? I would like to be able to use `git` f

[2016-11-29 14:42] whoisj commented on #324
No, the GCM for Windows requires Windows.

However, there's the GCM for Mac & Linux. You can find it here: https://github.com/Microsoft/Git-Credential-Manager-for-Mac-and-Linux

[2016-11-29 14:42] #324 closed

[2016-11-30 09:21] majkinetor commented on #57
I have the same problem behind the proxy, it started to happen during last week. Nothing changed in my configuration.

It happesn in GUI and console and is related to proxy. Relevant line from the log:

[code]

Thsi si my proxy setup (using proxy functions from [this](https://github.com/majkinetor/posh/tree/master/MM_Network) PowerShell module)

[code]

[2016-11-30 14:54] whoisj commented on #57
@majkinetor it sounds like your proxy setup is something that the NetFx system doesn't expect, and since the GCM relies on the NetFx `WebProxy` class to "do the right thing(tm)", the GCM is not expecting your setup either.

Which proxy are you using, how is it configured, and is there a knob we could add to the GCM to help you align its expectations with your setup?

[2016-11-30 15:30] majkinetor commented on #57
There is nothing special about my setup. We use squid/3.1.10 and other tools work correctly (chocolatey, normal net clients etc.) For linux tools I have to use env vars as shown (git, gem, pip etc.) and there is nothing speecial about that either - if I remove them nothing changes.

I do not have git proxy set, however, I rely on http_proxy linux vars for that. Maybe that is the root of the proble

[2016-11-30 15:32] majkinetor commented on #57
IMO, the tool should do the following to set correct proxy:

- Try git proxy settings first
- Try IE proxy settings next
- Try linux env vars finally

[2016-11-30 16:10] whoisj commented on #57
@majkinetor sounds great, any chance you've got bandwidth to cook up a contribution? 😃

[2016-11-30 17:06] majkinetor commented on #57
Not at this moment, sorry, I am here only to report the bug. I have too many other FOS projects I am working on ATM. I am not telling you what to do, just telling you what I think should be done based on my experience with this.

[2016-12-06 01:36] christRescues commented on #146
Works for Cmder as well.  Thanks @gene-pavlovsky  👍

[2016-12-07 09:03] snorberhuis opened #327 "How can I disable GCM Storage"
I want to use an `https` remote, but I do not want my credentials stored and be prompted every time. I do not see a way to configure this. I also do not see in my `git config --list` ` credential.helper=manager `

How is this possible?

[2016-12-07 10:23] snorberhuis commented on #327
If I install without GCM, then I do not get username and password prompts.

[2016-12-07 14:48] whoisj commented on #327
If you want the GCM disabled, then remove it from your git-config.

If Git is not configured to use a credential helper, then it will not use one.

Are you certain your Git config (including system and portable configs) do not contain the `credential.helper=manager` entry? There's no magic here, nothing special that the GCM does that others don't when it comes to getting Git to invoke the helper.

[2016-12-07 20:13] Roaders opened #331 "Credential Storage Doesn't work..."
Hi All

I have installed the credential store but as far as I can tell it's had no effect at all.

I am still prompted for username and password at the command prompt. I can find any way of launching the credential store to configure it.

I have set the modal dialogue mode to true and interactive auto but still have not seen the dialogue at all.

Any suggestions as to what I can try?

[2016-12-07 21:55] stephenpatten commented on #178
I don't believe that the latest version of the GCM is storing username/password correctly if the password starts with an @ sign

[2016-12-08 17:49] whoisj opened #332 "Access Violation in Askpass"
See the following log output:

[code]

Looks like a bad assumption about the meaning of `':'` in URI strings.

[2016-12-08 17:50] whoisj commented on #178
@stephenpatten please see #332 , just filed by me (as reported by a user via email).

[2016-12-08 17:55] whoisj commented on #331
@Roaders to see what, if anything, is being cached you can look in the [Windows Credential Manager](https://msdn.microsoft.com/en-us/library/windows/desktop/aa374792(v=vs.85).aspx) which you can access by
 1. click <Start>
 2. type "Crede"
 3. press <Enter>

That should open the Credential Manager UX. Not click on the "Windows Credentials" tab and look for entries starting with "git:https://" or "

[2016-12-09 07:50] Roaders commented on #331
I assume that you mean click the start button and search for the Credential Manager.
I've tried that and it's not listed.
I am beginning to suspect that it did not install correctly despite not giving any warnings during installation.
What is the default install location? (it didn't ask me for one)
I am on Windows 10.
Any pointers to troubleshooting installation?
Thanks

[2016-12-09 19:00] whoisj commented on #331
Yes that is what I meant, stupid markdown down doing what I meant and only doing what I said 😕

The Windows Credential Manager is part of the Windows Operating System. If it is missing, you might have bigger issues on hand...

[2016-12-11 23:57] paul-green opened #333 "Has no effect"
Hi,

After installing I tried to clone from the command line. The clone prompted me for user/pass which I entered and the clone worked. I tried again after deleting the cloned folder, but it still asks for the credentials every time. Doesn't seem to have any effect at all.

Thanks
Paul G

[2016-12-12 05:09] whoisj commented on #333
That worries me. Can you help by doing some analysis on your end?

First, please analyze your git-config by running `git config --list --show-origin`. You're basically looking for values beginning with `credential.helper`. Ideally there's only one and it is `credential.helper=manager`.

Second, please enable GIT_TRACE and GCM_TRACE via (Command Prompt) `setx GIT_LOG %userprofile%\gittrace.txt && s

[2016-12-12 06:05] paul-green commented on #333
Hi

A good old reboot did the trick!

Working fine now.

Thanks
Paul

On 12 Dec 2016 4:09 pm, "J Wyman" <notifications@github.com> wrote:

[2016-12-12 14:49] #333 closed

[2016-12-12 14:52] #323 closed

[2016-12-12 14:57] whoisj commented on #331
@Roaders were you able to locate the Windows Credential Manager in your system?

Are thing still not working for you?

[2016-12-12 14:58] #327 closed

[2016-12-12 15:00] Roaders commented on #331
I've not had access to my laptop for the last free days. I'll have a look tonight.

[2016-12-13 08:32] snorberhuis commented on #327
I do now see the config option, but I cannot unset this:

[code]

[2016-12-13 18:51] Roaders commented on #331
Ok, I have Windows Credential Manager but nothing in there related to Github or git.

How can I tell if the git credential manager was actually properly installed?

[2016-12-13 21:59] chantisnake opened #334 "the pop-up did not appear"
[code]

[code]

[code]

when I am in a git repo and do `git push` it gives me this:
[code]

the `credential.log` is not found in `.git` folder (I just started to use git credential manager today)

is there any additional setup that I need to do?
or is there any more information I should provide to help you guys track the problem?

[2016-12-13 22:00] chantisnake commented on #334
and I am pretty sure I have the access right to the repo:

[code]

[2016-12-13 22:20] chantisnake commented on #334
I just realized that you guys do not support ssh, change to https, everything works fine.

[2016-12-13 22:24] chantisnake commented on #179
I encountered this on a super bad network condition. That maybe why.

[2016-12-14 15:02] tvsonar opened #335 "Assemblies should be signed"
The assemblies shipped inside the Nuget package (https://www.nuget.org/packages/Microsoft.Alm.Authentication) are not signed. This means that no signed assemblies can use this package.

[2016-12-15 04:42] whoisj commented on #327
@snorberhuis use the `git config --list --show-origin` option, it is likely that the setting is in a configuration file which requires elevation to modify. Basically, if it is in "Program Files" or under "ProgramData" you'll need elevated privileges to modify the file.

[2016-12-15 04:44] whoisj commented on #331
@Roaders look in your $git_installation_folder/mingw(32 or 64)/libexec/git-core/ folder for git-credential-manager.exe. Also, check your git-config (ala `git config --list --show-origin` for `credential.helper=manager`.

[2016-12-15 07:28] Roaders commented on #331
I managed to find `get-credential-manager.exe` in `%user_directory%\AppData\Local\Programs\Microsoft Git Credential Manager for Windows` but trying to open it does nothing except briefly showing a command window.
I did not have `credential.helper` set to `manager` but I set it and tried a pull from a private repository. This now showed the credential manager prompt. I tried to log in (but now real

[2016-12-15 07:28] #331 closed

[2016-12-15 14:54] whoisj commented on #331
Yes, the config should have been updated during installation, if you installed via setup.exe. If the binaries were only just placed on disk (as no really installation is really necessary) then there was no way to update the config. 😄

Glad to know it is working for you. 🎉

[2016-12-15 14:55] whoisj commented on #335
I agree, and they should have been. I'll see if I can find out what happened and fix that.

[2016-12-15 14:56] Roaders commented on #331
I did install with setup.exe...

[2016-12-15 14:57] whoisj commented on #334
@chantisnake we do kinda sorta support SSH, but only when you're not at the command prompt. This limitation has more to do with SSH than with anything in the GCM. Unfortunately, SSH will not invoke external authentication tools if it detects a console (because it thinks asking for username + password is always better?).

[2016-12-15 14:57] #334 closed

[2016-12-15 15:00] whoisj commented on #331
Well then, something definitely went wrong. ☹️

Thanks for the report.

[2016-12-15 15:03] Roaders commented on #331
I can't remember for sure but I think that I might have also had this issue on my Desktop... I definitely had some issues but it was a while. Now I think about it I possibly had to set the `credential.helper` manually there as well...
(sorry for not remembering this and wasting time here...) :-)

[2016-12-16 15:21] rkralston opened #337 "Doesn't "Magically" Work for Me"
I cloned a repo from VS 2015.
I installed Git for Windows.
I installed this tool.
When I try to push/pull/clone new repo, I still get authentication failed.

How do I troubleshoot the installation?
I am not familiar with credential managers and how they work.

[2016-12-18 05:13] whoisj commented on #337
Git for Windows comes with this tool, a separate installation wasn't necessary.

As for checking if things are setup, from the command line run this commands:

`git config --list --show-origin` and look for a `credential.helper=manager` entry; additionally look for any `credential.helper=` entry as Git will try credential helpers in a series failing at the first one which claims to have valid cred

[2016-12-20 03:46] michael-baker commented on #337
I have the same issue - the lack of magic.

1. Provision new build agent on Server 2016 for use with TFS 2017.
2. Install git  2.11.0.windows.1
3. ```git config --global credential.authority Windows```
4. Run ```git clone http://<host>:8080/tfs/<collection>/<project>/_git/<repo>```
5. fatal: Authentication failed error occurs.

[2016-12-20 16:54] rkralston commented on #337
I think the problem is the protocol. TFS allows you to run Git over HTTP. VS client works fine with that and provides credentialing. All other 3rd party tools expect HTTPS with a good (not self-signed) certificate.

If you look at how this Credential Manager works, it is looking for credential failures on HTTPS.

[2016-12-21 09:27] grigory-rechistov commented on #57
I can confirm that this bug happens when I am behind a HTTP proxy and attempt to push to Github. Credentials user interface fails with `Fatal: AggregateException encountered`.

[2016-12-21 09:50] majkinetor commented on #57
On my sistem I have to also wait for minutes to pass and then regular git usr/password prompts appear.
This makes me frequently forget about them in the background.

I use this in my Powershell profile:

[code]

Unfortunatelly, AutoHotkey doesn't want to send keys to `sshaskpass` for some reason but its still valueable as it will prompt in the GUI. HTH somebody until this is fixed.

[2016-12-21 12:08] majkinetor commented on #57
Actually, it does work, here is the script:

[code]

Save this as `git_pass.ahk` and run it (will show in Windows tray as H icon). You can then disable git credential manager.

`sshaskpass.exe` comes with TortoiseGit: `choco install tortoisegit`.

[2016-12-21 14:01] majkinetor commented on #57
It actually works, [here is the working AHK](https://gist.github.com/majkinetor/c75b579c24c211257869a348bb0bb1a1) code that people can use instead of Git-Credential-Manager until this is fixed.

You need to set your git username and pass in the script now. Its easy to modify it to use CredentialManger tho and ask for pass/username first time.

[2016-12-21 22:43] whoisj commented on #337
Please note that Git for Windows 2.10.2.windows.1 and 2.11.0.windows.1 no not work correctly with TFS. To make them work correctly, you'll need to `git config --global http.emptyAuth true`.

See https://github.com/git-for-windows/git/issues/987

[2016-12-22 03:11] michael-baker commented on #337
emptyAuth works a charm for me, definitely magic now! I hope @rkralston has the same issue.

[2016-12-22 15:06] whoisj commented on #337
Thanks for the confirmation. A fix for Git for Windows should arrive in 2.12.0 or earlier.

[2016-12-22 15:06] #337 closed

[2016-12-22 16:50] rkralston commented on #337
Fixed issue for me as well.

Thanks!

[2016-12-26 07:42] XhmikosR opened #341 "Enable all code analysis rules"
At the moment, only the recommended ones are enabled.

IMO, all should be turned of, and then explicitly turn off the ones that you don't want enabled.

[2017-01-04 17:05] #332 closed

[2017-01-04 17:18] whoisj commented on #341
Sure - can you prepare a commit?

[2017-01-04 18:32] XhmikosR commented on #341
I could do it, but I think it would be better if you did it since you will decide which ones to disable anyway :)

[2017-01-05 16:24] Tankatronic opened #351 "Installer fails to deploy and enable git credential manager properly"
I am on a Windows 7 (64 bit SP1) machine in a domain environment.

I had been beating my head against the wall as to why git was failing to prompt us for credentials to authenticate to our local TFS server over HTTPS using Windows (NTLM) authentication. It turns out that it was a simple configuration error in that the git credential manager was never set in the global git configuration file. Once

[2017-01-05 19:12] #341 closed

[2017-01-05 19:14] whoisj commented on #351
Please not that `credential.helper=wincred` does not enable the GCM, it enables another helper.

To enable the GCM try `credential.helper=manager`.

Now as for why the global config isn't being updated...

[2017-01-05 19:46] Tankatronic commented on #351
@whoisj Good to know. I was just excited for it to be working. I did set the property to manager, and when I did I was met with an `Authentication failed` message.  I was not prompted for credentials. The git trace is:

13:43:11.982062 ...Configuration.cs:200 trace: [LoadGitConfiguration] git portable config read, 11 entries.
13:43:12.000063 ...\Where.cs:255        trace: [FindGitInstallations] fo

[2017-01-05 19:53] whoisj commented on #351
@Tankatronic is your TFS instance setup to support NTLM? It looks like the GCM believes that it is, and is attempting to do just that.

Additionally, which version of Git for Windows are you using? There are bugs with 2.10.2 and 2.11.0 which make NTLM negotiation tricky.

[2017-01-05 20:03] Tankatronic commented on #351
I am using 2.11.0. I can to downgrade a version a bit later and see what happens.

Yes, my server is setup to use NTLM, and IIS is also set up to use Windows Auth, with NTLM as the only available provider

[2017-01-05 20:04] whoisj commented on #351
Try with 2.10.1 and let me know how that goes.

I find it interesting that wincred is somehow making Git handle empty auth - oh I bet it isn't sending empty auth, it's likely sending blank (but not empty) strings.

[2017-01-05 20:24] Tankatronic commented on #351
It does work with 2.10.1. Before uninstalling I unset the credential.helper property and then reinstalled git with GCM checked. It still did not enabled the property, but once I did and set it to manager it worked perfectly.

[2017-01-05 20:28] whoisj commented on #351
And that is the bug that has me most concerned. Thank you very much for the report! 🙇

[2017-01-09 17:22] kevygreen opened #353 "Doesn't prompt for permission on Windows"
I have come into the case where after upgrading to TFS2017 we had authentication issues. To resolve the issue we went into the "User Account" settings and went to "Manage Credentials". We manually removed the credentials related to the tfs server. This result in the TFS server working properly through Visual Studio but left all other git tools (Git bash, TortoiseGit, SourceTree) all complaining ab

[2017-01-10 00:30] alexschneider-ms opened #354 "Doesn't prompt on VSO"
I've looked through other issues like #351 and #337 but none of the advice given there worked for me.

Follows is the GIT_LOG/GCM_LOG:

[code]

And `git config --list --show-origin`

[code]

[2017-01-10 14:58] whoisj commented on #353
Today the logic is as follows:

1. Receive credential request
2. Read configuration looking for `credential.*` values, with `credential.tfs.domain.name.*` taking precedence.
3. Detect if the URL belongs to a known entity (either specified via config or is "visualstudio.com" or "github.com".
3. If unknown, query the server to see what authentication options are available.
4. If NTLM is available, u

[2017-01-10 15:10] whoisj commented on #354
Looks like the following is happening:

1. Get request to `get` credentials for a given host.
2. Host is detected to be "visualstudio.com" and Azure Authentication is detected as the authority.
3. NonInteractive authentication is attempted and succeeds; and Azure token is acquired.
4. The Azure authentication token is exchanged for a scoped VSTS personal access token.
5. The token is copied to sec

[2017-01-13 00:34] lanwench opened #355 "Not being prompted for credentials since domain pw change (and attempts to fix which may have made it worse)"
Hi - I am still quite new at git in general, so please be gentle...

My company has an enterprise github server on premise. I'm on Win7 & PowerShell5. Some time ago, I had configured my PowerShell ISE profile as per [http://mikefrobbins.com/2016/02/09/configuring-the-powershell-ise-for-use-with-git-and-github/](url). I think I started out with git 2.5.2.2 and the MS GitCredential Manager for Windo

[2017-01-13 15:01] whoisj commented on #355
Any chance the host server relies on NTLM, like perhaps a TFS server?

If so, please see: https://github.com/git-for-windows/git/issues/987#issuecomment-265758550 there is a bug with Git for Windows 2.10.2 and 2.11.0 which disables the ability of libcurl to correctly perform Negotiate and therefore NTLM.

[2017-01-13 20:29] lanwench commented on #355
Thanks for the reply. I suspect NTLM is true although I'm not sure how to check that.

I made the change but it doesn't seem to help.

`remote: Anonymous access to foo.git denied.`
`fatal: Authentication failed for 'https://enterprise.git.domain.local/foo.git/'`

Should I just go back to an earlier version of git and if that works, wait it out until 2.12? My original setup was nicer anyway (I was

[2017-01-14 15:24] whoisj commented on #355
Degrading versions to 2.10.1 is likely the correct answer until 2.12.0 is released.

Please let me know if you run into any issues. 😄

[2017-01-14 17:33] dscho commented on #355
Please note that I released [v2.11.0(3)](https://github.com/git-for-windows/git/releases/tag/v2.11.0.windows.3) today, which should have the fix.

[2017-01-16 14:45] lukyer opened #356 "ssh agent has no effect"
[Docs](https://www.visualstudio.com/en-us/docs/git/use-ssh-keys-to-authenticate#questions-and-troubleshooting) recommends starting ssh agent to avoid multiple login passphrase requests. Unfortunately it has no effect on my system (Win10 Pro 64b, VS2017 RC). I'm using git over ssh protocol introduced (finally!) in VS2017.

One have to enter passphrase so many times (even multiple times for every si

[2017-01-16 15:14] whoisj commented on #356
@lukyer I'm not sure to be honest, but then again this isn't the project for SSH or SSH Agent.

You can try asking on the [Git for Windows](https://github.com/git-for-windows) project, SSH is maintained elsewhere (truthfully, not really sure where). I too have constant issues with SSH on Windows. If you do find your answers, please share them back here as I too am interested.

Thanks

[2017-01-16 15:14] #356 closed

[2017-01-16 16:45] dscho commented on #356
Please note that the SSH agent lets you type the passphrase *of the stored private key*. That is, if you want to authenticate via SSH agent, you have to set up a private/public key pair and register the public key with VSTS (or whatever server you use). See https://www.visualstudio.com/en-us/docs/git/use-ssh-keys-to-authenticate#set-up-ssh-key-authentication for details.

[2017-01-17 18:23] XhmikosR opened #361 "docs: wrong links when using relative links"
An example is this:

[code]

which renders as

[code]

[2017-01-19 02:43] lanwench commented on #355
Gah! No, still no dice ... on *one* machine. I got this working on my laptop (running Win10) using portable Git 2.11.0.3, with a manual install of the GCMW via `.\git-credential-manager.exe install --path C:\Users\jbloggs\Dropbox\Portable\Git` and it worked.

On another machine, I cannot for love or money get it to work, although I use the same #$%^& portable version of git (this is the reason I l

[2017-01-19 15:08] whoisj commented on #355
@lanwench there are things you can do!

First, setup Git tracing ala `setx GIT_TRACE C:\git-trace.txt`
Second, setup Curl tracing ala `set GIT_TRACE_CURL C:\git-trace.txt`
Lastly, setup GCM tracing ala `set GCM_TRACE C:\git-trace.txt`

Now, attempt to connect again and if it fails: upload the contents of the `C:\git-trace.txt` file (your job to filter any sensitive data or personally identifying i

[2017-01-19 18:15] lanwench commented on #355
Hello @whoisj - thanks for sticking with  me! I feel like maybe I should send you some cookies or a teddy bear holding a heart.

## Where I am now:

After I wrote last night I kept at it.

1. Completely yanked out git & credential manager (including running thru the registry).
2. Installed the GCMW from here: https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases/tag/v1.8.0 and t

[2017-01-19 23:29] whoisj commented on #355
@lanwench  I do not see the expected output from `GCM_TRACE` having been set.

I see `trace: run_command: 'git credential-manager get` but not the following GCM logs I expected. This could be a serious issue, or just the absence of the `GCM_TRACE` environment variable being set.

Let me know.

[2017-01-19 23:37] whoisj commented on #355
Oh... I do see this in the log:

[code]

that `08:23:12.283491 http.c:517              <= Recv header: WWW-Authenticate: Basic realm="GitHub"` means the server is only accepting Basic Authentication, and it seems you've specified `credential.authority=Windows`. Can you try removing that config value or setting it to `credential.authority=Basic` instead?

[2017-01-21 09:59] snake972 opened #362 "credential-kerberos"
Hello,
I installed gitlab with kerberos authentication.
When I try to clone my project on Windows OS, I have an error :
git: 'credential-kerberos' is not a git command. See 'git --help'.

Does Git-Credential-Manager-for-Windows contain kerberos helper ?

Best regards.

[2017-01-21 16:41] whoisj commented on #362
It does not. I'm not certain what 'credential-kerberos' is.

[2017-01-23 15:06] dscho commented on #362
I am not sure that GitLab suggests to set `credential.helper = kerberos`... A quick look at [the GitLab documentation](https://docs.gitlab.com/ee/integration/kerberos.html) suggests that no such client-side configuration should be necessary.

So maybe setting `git config credential.helper manager` fixes the problem?

[2017-01-23 15:38] whoisj commented on #362
Interesting, thanks for that.

Assuming use of a domain controller and Windows clients, the config would likely require `git config --global credential.<url>.authority Windows` or `git config credential.authority Windows` to be used as well.

[2017-01-23 16:26] Evangelink commented on #335
Any news/ETA on this issue?

[2017-01-23 20:17] whoisj commented on #335
Next release will be signed correctly. Some internal time competes (eminent release of VS 2017 mostly) which are time competes. My apologies and thanks for you patience.

[2017-01-23 20:18] #362 closed

[2017-01-26 00:46] lanwench commented on #355
Oops, just saw this! And thank you. I've been complimented on my diagnostic information for years but a girl always likes to hear it.

Imma try again.

[2017-01-26 22:25] lanwench commented on #355
Alas, still no dice.
I re-set the environment variables to ensure they were all there.
I changed the credential.authority from windows to basic.
`C:\> git config --global credential.authority basic`
[code]

I can invoke git push in the command prompt (and am prompted for credentials every time)
[code]
I can invoke git push in the PowerShell console (and am prompted for credentials every time - out

[2017-01-27 16:23] jrob commented on #57
I am getting the same issue. The only thing I can come up with is that it is trying to open a socket connection over 443 instead of an https connection over 443 and our proxy denies it. If I open a web browser and go to http://192.30.253.116:443 I get gateway time out. If I go to https://192.30.253.116 chrome complains about the cert name mismatch but the connection makes it. I believe there is st

[2017-01-27 20:21] whoisj commented on #355
OK so we see:

[code]

which means that there's a bug in the GCM for sure. I wonder which argument is killing it.

Did you have `GCM_TRACE` set? If so, did you collect any output from it? If so, can you share it here?

[2017-01-27 21:52] whoisj commented on #57
@jrob can you disable credential validation?

Easiest method would be `SET GCM_VALIDATE=false` then try Git again in the same console.

[2017-01-28 08:29] markoverflow opened #363 "change credential in cli"
how can i change my account credential without manually deleting the current credential in `User Accounts >> Windows Credentials`

[2017-01-30 05:01] whoisj commented on #363
That's the only user friendly way. Current, the GCM doesn't support multiple users per Uri. It is something on the backlog, but I've not had time to implement it yet.

[2017-02-01 10:09] dmdymov opened #364 "Certificate based credentials"
Is there a way to use GCM with certificate based credenitials and smart card?

I don't know how all this types of authentication work, but I'll try to explain what is my issue.

We have two types of authentication in my organization: windows user authentication (needs windows login/pass) and smart card authentication (needs connected smart card and smart card PIN). Prior to this moment we worked w

[2017-02-02 12:27] whoisj commented on #364
It completely depends on what your Git host supports. With TFS and VSTS this is very much supported, but with other providers I am not sure.

Do you have any additional details?

[2017-02-02 12:34] dmdymov commented on #364
We have Git repo in TFS. Usually we use Visual Studio. But now I'm trying to use Git Extensions for additional Git features and problem appears there.

[2017-02-02 17:47] lanwench commented on #355
Hello! Missed this, sorry. Here you go....did I do this right?  I sent over the entire output of git-trace.txt, above (aside from obfuscation & removal of SSL stuff).

`$ GCI env: | Where {$_.Name -match 'Trace'}`
[code]

[2017-02-06 15:19] whoisj commented on #355
Hi @lanwench my apologies for the delayed reply, I was is Brussels for the past week attending GitMerge.

So, your environment variables look to be correctly set, yet we're not seeing the GCM write to the trace log. This suggests to me that the GCM you're using is very old - and that alone could be your problem. Tracing was added in 1.8.0 (I believe), and we've fixed several bugs related to NTLM s

[2017-02-06 20:07] lanwench commented on #355
OMG, that was it. I have no idea how this came to pass, given that I had last installed this: https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases/tag/v1.8.0
which installed git 2.10; I took all the defaults.

[code]
I didn't even look at that because Windows programs & features has continuously shown `Microsoft Git Credential Manager for Windows 1.8.0` (screenshot available up

[2017-02-06 20:38] whoisj commented on #355
Great! Very happy to see this resolved. 😀

The reason you could see a discrepancy in the in the Add / Remove Programs listing and the command line is that you likely DID have 1.8.0 installed, however the version Git was invoking was older (for unknown reasons).

[2017-02-06 20:38] #355 closed

[2017-02-07 21:26] whoisj commented on #364
Ahh, good old Git Extensions. Yeah, I am not sure how or what Git Extensions does for authentication.

If Git Extensions invokes git.exe, GCM should just work.

Your best bet is to set up global Git tracing and see what it happening. To do so:

- open Command Prompt
- type `md C:\Logs`
- type `setx GIT_TRACE C:\Logs\git.log`
- type `setx GCM_TRACE C:\Logs\git.log`
- open Git Extensions

Now Git an

[2017-02-07 21:27] #353 closed

[2017-02-07 21:29] #354 closed

[2017-02-10 06:46] dmdymov commented on #364
I removed my credentials from the store, opened Git Extensions, selected repo and clicked "Pull - merge", than GCM window appeared, I entered login/password, after that succesfull merge was done.
[Log](https://gist.github.com/dmdymov/7c664bbac75fd646d66bf973d557f44e).

[2017-02-10 18:32] whoisj commented on #364
I see the successful request for credentials here:

[code]

And the request to store the credentials after successfully using them here:
[code]

So it seems things are working for you. I do see `09:19:34.542779 Program.cs:349          trace: [CreateAuthentication] authority for 'http://czc4132bbb:8080/' is basic.` in the log, which surprises me. I'd expect TFS to have NTLM enabled. With NTLM you w

[2017-02-17 06:25] EthelEleanor opened #367 "not sure next step"
git config --get commit.template
git show HEAD:apple.txt
git show HEAD:apple.txt
git fetch
fatal: No remote repository specified.  Please, specify either a URL or a
remote name from which new revisions should be fetched.
git clean -fd
warning: failed to remove .849C9593-D756-4E56-8D6E-42412F2A707B
git show HEAD:apple.txt
git show HEAD:apple.txt

[2017-02-17 16:16] whoisj commented on #367
I'm sorry, I must be misunderstanding something here. Can you please explain specifically what the issue here is? Are you looking for general Git usage help?

[2017-02-17 16:17] dscho commented on #367
@EthelEleanor thank you for your report.

Please understand, though, that it is not clear to me what this sequence of commands is supposed to demonstrate.

It would be good to provide an explanation what you want to do, what purpose the commands you launched had, and what problem is not adequately explained by the error messages that are printed.

Lastly, it would be really interesting to know wha

[2017-02-22 05:52] portaljacker opened #368 "Uninstalling GCM and Git for Windows, then reinstalling GCM with the Git for Windows installer wiped WIndows Credencial manager entries on restart"
Recently GCM kept prompting me for my Github credentials after each restart of my PC, this started about Sunday or so. This also coincided with the OneDrive application asking me for my password every restart as well (as it seems it uses Windows Credential Manager as well).

My last attempt to solve the issue I logged into git through GCM (it showed the github style login window, then the 2FA wind

[2017-02-22 11:34] frederich opened #369 "Authentication failed"
The credential manager which is installed with `https://git-for-windows.github.io/` version 2.11.1 ignores global Git http-proxy settings.

my global .gitconfig defines the proxy Git property:
[code]

The command `git push origin master` fails with error `fatal: AggregateException encountered`. The issue can be resolved temporary by coping the global proxy settings to the local project `.gitconfig

[2017-02-22 15:17] whoisj commented on #369
hmm... any chance your .gitconfig file is not located at `%UserProfile%\.gitconfig ?

[2017-02-22 15:23] whoisj commented on #368
The Git Credential Manager for Windows does use the Windows Credential Manager as a secure storage vault to secrets. Uninstalling the GCM does not remove secrets from the vault (this is intentional behavior and not likely to change), so no surprise there. As for the sudden disappearance of all credentials: this is the first I've heard of that. The GCM should not delete credentials which are not pr

[2017-02-22 15:55] frederich commented on #369
@whoisj, no, instead `%HOME%\.gitconfig`.

Git reads %HOME%, see https://git-scm.com/docs/git-config. The command `git config --list --global` works fine with `%HOME%\.gitconfig`.

[2017-02-22 16:50] portaljacker commented on #368
No problem, if you need any more info I'll be able to provide it in about 7 or so hours once I'm home from work if it needs my PC to get it.

The only other coinciding event is installing the Visual Studio 2017 RC and uninstalling 2015. I doubt it's related, but it was done the same day.

I checked my chat history with a friend I talk to about dev stuff, and my first mention of the issue is Monday

[2017-02-23 01:03] portaljacker commented on #368
So this is extremely irritating...but it works now. I literally haven't used my computer in the time since I logged this ticket... I turned it on, git push to add credentials, it saves, restart...and it's still there! Restart again, still there.

I legitimately have no idea what happened...

[2017-02-23 01:04] portaljacker commented on #368
Wait, spoke too soon, just opened it and it was gone. Meaning something on login is doing it!

[2017-02-23 02:45] portaljacker commented on #368
I can reliably produce the result now, sometime after login, after it seems all my startup applications open Windows Credential Manager clears all entries. (checked by constantly clicking refresh in that window)

[2017-02-23 17:52] whoisj commented on #368
The GCM most likely shouldn't be running at logon.

You can add GCM_TRACE to your environment to force the GCM to trace any activity to a file. Just make sure the value of the key is a path to a file. Note that the GCM will not create directories for logging, but it will create/append a file.

[2017-02-23 17:55] whoisj commented on #369
Interesting. The GCM should be picking up your proxy settings.

Anything special about your .gitconfig? Encoding, line endings, etc?

[2017-02-23 17:59] frederich commented on #369
No, encoding is UTF-8, both line endings are fine.

[2017-02-24 02:41] portaljacker commented on #368
So I'll start for apologizing for wasting your time, and let you know it's because I'm an idiot.

TL;DR I messed with the SYSTEM user and it messed with me.

Full explanation:

About a month ago I had an issue with git not finding my global gitconfig in my user folder. I found my HOME directory was in `C:\Windows\System32\config\systemprofile`! So I read some advice wrong about fixing the issue an

[2017-02-24 02:41] #368 closed

[2017-02-24 14:52] whoisj commented on #368
@portaljacker thank you very much for following up and with a helpful, for the next person to read and learn from, explanation. This is very much in the spirit of open-source and exactly the kind of resolution that we're looking for.

🙇

[2017-02-24 14:54] whoisj commented on #369
@frederich if you don't mind, would you paste the (a redacted) output of `git config --list --show-origin` to this thread? The output could help me track down the problem, and therefore help you resolve your issue.

[2017-02-24 15:03] frederich commented on #369
@whoisj sure.

[code]

[2017-02-24 15:14] whoisj commented on #369
@frederich one more piece of data might be useful, could you provide the output of: `set | findstr /I home` run from Command Prompt?

[2017-02-24 15:18] frederich commented on #369
@whoisj, your welcome.

[code]

[2017-02-24 15:37] whoisj commented on #369
Thanks again.

Interesting, you have HOME set to D: but you also gave HOMEDRIVE set to C: and HOMEPATH set to \Users\..., that's a little unusual (at least I thought it was). Regardless, I've run out of hunches as to why things are failing for you. 😞 I was assuming perhaps you were allowing Git to derive `%HOME%` from `=%HOMEDRIVE%%HOMEPATH%`, but you're not.

Best I can do at the moment is to rec

[2017-02-24 16:11] briankostar opened #370 "GCM not being invoked"
Hi,
I'm trying to keep my windows machine remember its git credentials for a local gitserver.
I've installed the latest git 2.11.1 on windows with the GCM option enabled.

Tried git config --global credential.helper manager
and my C/users/username has:
[code]

However, when I try to git pull on cmd, I still get asked for my password each time.
When I 'set git_trace=1' and then 'git pull'. this is

[2017-02-24 16:45] whoisj commented on #370
`10:53:36.971989 run-command.c:369       trace: run_command: 'ssh' 'git@BUILDSERVER' 'git-upload-pack '\''/git-repos/training-git.git'\'''`

The GCM only works with HTTPS when running Git from the command line. Unfortunately, SSH won't invoke a helper is `isatty()` is `true`.

[2017-02-24 17:21] portaljacker commented on #368
It helps that I'm used to writing formal tickets and responses at work, and with these issues in particular I found lots of non-answers or very unsatisfying answers (eg. make a new user! As if that wasn't a huge burden on a personal PC...), so I knew I had to let people know my solution.

Plus this project is in C#, so I think I'll poke around the issues and see if I can help out. I'm still a juni

[2017-02-24 18:03] briankostar commented on #370
Ah thank you for the insight. After I added  GIT_SSH --- C:\Program Files\PuTTY\plink.exe in the system environment path, it worked.

[2017-02-24 18:11] #370 closed

[2017-02-28 16:19] mkojder opened #371 "Losing generic credentials for Enterprise GitHub even after preserve is turned on"
I'm experiencing issues with credentials disappearing on a machine with automated git calls.  Here's some entries from my git config global list.  I went a little overboard with the "preserve" setting but I wanted to make sure it was getting picked up.  I also set the environmental variable GCM_PRESERVE_CREDS to true.

credential.preserve=true
credential.writelog=true
credential.interactive=never

[2017-02-28 17:46] whoisj commented on #371
Currently, the GCM doesn't support `preserve` for `authority=basic`. The option is only honored for `authority=azure` or `authority=github`.

It does seem as if you're attempting to work with GitHub, however GitHub's url is `https://github.com` and it appears if you're only working with `http://github/`, thus the detection of GitHub isn't working as expected.

[2017-02-28 18:14] mkojder commented on #371
Our company hosted GitHub Enterprise is at http://github and it doesn't use https.  Is there any reason that would cause a problem?

[2017-02-28 18:42] whoisj commented on #371
Use of `authority=github` would be a very bad idea for GitHub enterprise, as that would redirect authentication to github.com. There's definitely a level of confusion here that is causing problems (you're not the only one).

@Haacked so that GitHub is aware of the confusion and inconvenience (they maintain the GCM's GitHub compatibility).

I think what you (@mkojder) need is for `authority=basic`

[2017-02-28 19:04] mkojder commented on #371
Ah that makes sense, I see.
I don't believe we have an NTLM proxy set up, is that required to use NTLM?

[2017-02-28 19:28] whoisj commented on #371
The only requirement for NTLM is that both ends of the connection are support it. That generally means Windows-Windows setups. If the host is running Linux, for example, NTLM might not be something you can expect to work.

[2017-02-28 20:10] mkojder commented on #371
We are currently Windows-Windows.  Would this type of authentication be outside git-credential-manager?

[2017-03-01 14:46] whoisj commented on #371
@mkojder Git can (and needs to) perform the NTLM authentication, but the user needs to enter a empty username and an empty password each time they perform a network operation with the remote. The GCM will pass the empty + empty to Git on the user behalf, streamlining the process.

[2017-03-01 16:48] mkojder commented on #371
If I were to set the "authority" option to "Integrated" and then attempt an action and get
remote: Private mode requires auth
fatal: Authentication failed for <repo url>

Then this would indicate that NTLM isn't configured correctly on our GitHub Enterprise server?

So then I could
1.  Attempt to configure NTLM
2. Use Basic with preserve when/if the option is added

Does that sound right?

[2017-03-01 18:10] mkojder commented on #371
Actually looks like I had bad information about our GitHub instance being on Windows. It is on Linux.  In which case basic authentication is required I would assume?

[2017-03-01 20:42] whoisj commented on #371
If you do not specify your authority, the GCM will attempt:

[code]

Looks like you're going to be living with `authority=basic`, which brings us back to `preserve=` isn't currently supported with that. Seems like a feature request. 😉

[2017-03-01 20:44] mkojder commented on #371
Indeed it does.  Thank you for your help and patience.

[2017-03-01 22:04] jluttrell opened #373 "Git/GCM not prompting for new credentials when credentials fail"
We (my company) use basic authentication to access a self hosted TFS.  Our passwords expire monthly and in order to update our credentials we have to open up the windows credential manager and manually add it back. I wrote a powershell script to assist this but it would be nice if when the authentication fails, we could be prompted in the command line (or modal prompt) to re-enter our credentials.

[2017-03-02 15:07] whoisj commented on #373
The GCM should be prompting you if there are no credentials present in the Windows Credential Manager for it to reference. Here's how Git's flow works:

 1. User requests Git to perform a network operation
 2. Git loads a remote helper to perform the requested operation (in many cases that git-remote-https).
 3. The remote helper probes the host to see if it is going to need credentials or not
 4.

[2017-03-02 18:18] jluttrell commented on #373
That's correct, I'm never prompted for credentials when I try to connect again after a failure.  It's a self hosted TFS server.  Here is an example config I have:

[code]

And here is the log of one failure and a subsequent retry:

[code]

It looks like it's falling back to NTLM credentials but that fails because I'm on a different domain than the server and I'm never prompted for basic credential

[2017-03-02 21:17] whoisj commented on #373
Looks like a bug in the basic negotiation. If you've specified `authority=basic` then NTLM should not be attempted. Thanks for the report.

[2017-03-02 21:18] #367 closed

[2017-03-04 16:40] whoisj commented on #373
Looks like issue was fixed in commit 436fec29, and therefore should be resolved in the next release.

[code]

[2017-03-04 16:42] #373 closed

[2017-03-05 03:08] EthelEleanor commented on #367
cloud with visual studio

[2017-03-06 09:45] danilo-santosteodoro commented on #80
I ran into this problem when I renamed my computer. I also had 2 factor authentication mode on. Then I just requested a new token and everything went fine: https://confluence.atlassian.com/sourcetreekb/two-factor-authentication-2fa-with-github-in-sourcetree-402033499.html

[2017-03-06 14:58] #369 closed

[2017-03-06 19:22] #371 closed

[2017-03-07 18:47] #320 closed

[2017-03-07 18:49] whoisj commented on #322
Looks like Atlassian is adding support for this directly to the GCM via their latest pull-request.

/CC @mminns @biomedia-thomas

[2017-03-07 18:51] whoisj commented on #164
Closing this in favor of the incoming pull-request Atlassian Bitbucket.

/CC @mminns @galeksandrp

[2017-03-07 18:51] #164 closed

[2017-03-07 18:52] whoisj commented on #235
-- issue clean up - @acoberlin to re-open if still an issue --

[2017-03-07 18:52] #235 closed

[2017-03-07 18:52] #322 closed

[2017-03-07 18:53] whoisj commented on #321
-- issue clean up -- @andreasbisiach to re-open if still an issue --

[2017-03-07 18:53] #321 closed

[2017-03-07 18:54] whoisj commented on #205
Closing re: the incoming pull-request from Atlassian Bitbucket team.

/CC @mminns

[2017-03-07 18:54] #205 closed

[2017-03-07 18:54] whoisj commented on #188
@akempe any update on this issue?

[2017-03-07 22:11] akempe commented on #188
what update you looking for? :) wrong person perhaps?

[2017-03-07 23:27] RReverser commented on #164
@whoisj That covers just Bitbucket though while issue is about generic OAuth (incl. Github).

[2017-03-08 15:56] whoisj commented on #188
yes, my apologies.

[2017-03-08 18:34] whoisj commented on #164
@RReverser GitHub support already exists (thanks to @Haacked contribution). Generic Oauth isn't very straightforward at this time. Though, I'd fully support somebody contributing support for it. :wink:

[2017-03-08 18:35] sean-hammon commented on #188
Just FYI, I have this problem with BitBucket as well. It's not just an Azure issue. The dialog just asks me for credentials for bitbucket.org without any indication of which repo.

[2017-03-08 18:37] whoisj commented on #188
I'm rather happy to report the incoming PR from Atlassian Bitbucket (/CC @mminns) should resolve this, but only for BitBucket. Sadly, Azure still isn't making this possible for me. 😢

[2017-03-08 19:39] whoisj opened #381 "Style of Askpass dialog should match Visual Studio 2017"
The git-askpass utility was designed to facilitate SSH passphrase requests from with in Visual Studio. The original design was done by a friend, but looked little like Visual Studio. Since the dialog is primarily intended to be invoked by users of Visual Studio, it should likely match Visual Studio's styling.

[2017-03-08 19:39] #381 closed

[2017-03-08 19:47] whoisj opened #382 "SSH: Askpass needs to support adding new host to the trusted host file"
When a user firsts attempts to connect to a host, SSH will ask the user to validate the host's fingerprint and then ask permission to add the host to the list of known hosts. Askpass needs to support this functionality.

[2017-03-08 19:47] #382 closed

[2017-03-09 23:07] whoisj opened #386 "Update ADAL Package"
Update the ADAL dependencies form 3.13.1 to 3.13.8.

[2017-03-09 23:07] #386 closed

[2017-03-14 04:18] bkersten opened #389 "Clear credential confirmation prompt typo"
When performing the `git credential-manager clear` operation the confirmation prompt asks

The message is found at https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/46dca668b4ee68f962b254fbbe21e6da163dae5a/Cli-CredentialHelper/Program.cs#L123 . Surrounding code is checking for _preserved_ flag which suggests its a typo.

[2017-03-14 15:56] whoisj commented on #389
I could go either way to be honest, though I will say that the names of variables should only loosely be correlated with user facing strings. I believe it is most important to be clear to the user what the intention is, especially when asking permission for an irreversible action.

[2017-03-14 18:51] bkersten commented on #389
Sorry J, I wasn't really clear. There is a spelling mistake. Its **pre**serve not **per**serve.

[2017-03-14 20:31] whoisj commented on #389
Thanks for that. 😄

[2017-03-14 20:35] #389 closed

[2017-03-17 15:19] Evangelink commented on #335
Hi there,
Just wondering if this ticket is still in the pipeline?

[2017-03-17 15:55] whoisj commented on #335
@Evangelink the latest package should have been signed. Can you confirm? I'm seeing signed binaries.

[2017-03-17 21:20] PaulWebSec commented on #335
3  1  1  1 = 3%
3  1  1  1 = 3%
5  2      3 = rand% 1 +1 = 0.01% =3\6%  "IT REALLY BOTHERS ME THAT THREE COUNTS HERE"

[2017-03-17 21:22] PaulWebSec commented on #335
SYNTAX: 5%23 (c)  # issue

[2017-03-17 21:24] PaulWebSec commented on #335
?resolution.  .. ..  ... ."copy text 523 "hex  or twelve equal sections; hexidecimal

[2017-03-17 21:25] PaulWebSec commented on #335
https://github.com/PaulWebSec/8044024046.git

[2017-03-17 21:27] PaulWebSec commented on #335
#335

[2017-03-20 04:06] onovotny opened #392 "Default PAT created in AAD backed VSTS account expires in 1 day (too short)"
Subject says it all.

Once created, I can go to my PAT's and change the expiration to either 90/180/365 days. Once created, the PAT has a separate lifetime than an AAD access token. The access token is used to access the REST API but then the PAT is used by Git.

The default is far too short and is annoying.

[2017-03-20 04:24] whoisj commented on #392
I've asked the "owners" of the server-side to look into this with me. With luck, we cab resolve it quickly.

Thanks for bringing it to our attention. :bow:

[2017-03-20 06:37] ccrookms commented on #392
Thanks for the report Oren and J - we think we have identified a lingering bug in the service that only affects some GCM users and are working on creating a fix. I will update when confirmed with an ETA.

[2017-03-20 23:52] wibarr-msft commented on #392
Hi Oren,

Just to confirm, we've confirmed Chris's suspicions above and have written and tested a fix for the bug. It should be deployed before 5 PM Pacific time tomorrow (3/21). Thanks again for reporting this!

[2017-03-21 00:08] onovotny commented on #392
Thanks for digging in to it! I thought I was going nuts with the constant credential prompts :)

[2017-03-22 01:11] wibarr-msft commented on #392
Just to confirm, I tested the scenario after the fix was deployed and confirmed that the lifetime issue should be fixed. If you see it still, please let me know!

[2017-03-22 01:22] onovotny commented on #392
Will do - what should the default actually be?

[2017-03-22 01:23] wibarr-msft commented on #392
1 year should be the default.

[2017-03-22 13:10] coladict opened #396 "1.19.0 Authentication always fails against this server"
We are hosting our company's repositories using https://www.scm-manager.org/ version 1.50

I tried with two users many times and the problem is not mistyping the username or password.

Unsetting `credential.helper` and falling-back to the embedded default that comes with Git for Windows 2.12.1 works correctly.

[2017-03-22 14:18] #392 closed

[2017-03-22 14:26] whoisj commented on #396
Please see: https://github.com/Microsoft/Git-Credential-Manager-for-Windows/issues/276#issuecomment-246318801 the root cause seems to be related to git-config parsing.

[2017-03-22 14:30] JediMasterThrash opened #397 "Installation does nothing"
I downloaded and installed GCMW-1.9.0.exe. It claimed to install correctly. But nothing happened.

Nothing was added to my windows crediential manager. And here's the output of git config --list and where git

C:\Users\awise>git config --list
core.symlinks=false
core.autocrlf=true
color.diff=auto
color.status=auto
color.branch=auto
color.interactive=true
help.format=html
http.sslcainfo=C:/Users/aw

[2017-03-22 14:31] whoisj commented on #397
Well that doesn't seem right at all now does it.

Thanks for the report, hopefully get to the bottom of things asap.

[2017-03-22 14:57] coladict commented on #396
Why would useHttpPath result in this? This is a fresh installation on a virtual machine. Further more, I don't want it to use different credentials different paths on the server, so the option is irrelevant to my problem. I only mentioned the other user, because that password is easier and no way have I possibly written it wrong 4 times in a row.

[2017-03-22 18:11] whoisj commented on #396
Next steps seems like to setup some tracing so that we have more information about what is actually failing.

Can you run the following commands using command prompt from within your local repo?

[code]

Of course, adjust the remote name as necessary.

Then you can look at the contents of `%userprofile%\git.log` and see what we have.

Thanks!

[2017-03-23 18:38] thedavidscherer opened #399 "Can Not Authenticated"
Installed GCM as part of the Git for Windows install (GCM was installed automatically by git installer).
Running Windows 10.
git version 2.12.1.windows.1
Using Bitbucket

Every time I try to do anything the credential manager pops up, I enter my username and password, submit, and in the CMD window I see `fatal: Authentication failed for 'https://myuser@bitbucket.org/team/repo.git'`

I know I'm typ

[2017-03-23 19:09] whoisj commented on #399
Yikes!

@thedavidscherer could you set a couple of environment variables, and then reproduce your issue?

`GIT_TRACE=%UserProfile%\Git.log`
`GCM_TRACE=%UserProfile%\Git.log`

After you reproduce the issue, you can check the log file at `%UserProfile%\Git.log` and see if there's additional data available to you. Thanks!

[2017-03-23 19:43] thedavidscherer commented on #399
Here is the output of the log file. Interestingly, I had to delete the saved credentials from Windows Credentials in Control Panel as it appears that using USER:PASS@Bitbucket format caused GCM to save the credentials.

[code]

[2017-03-23 19:58] whoisj commented on #399
Thansk!

Ok so...

Git asks for credentials, and the GCM prompts you for credentials.

`15:38:37.383255 ...\Program.cs:671      trace: [Main] git-credential-manager (v1.9.0) 'get'`
`15:38:37.492818 ...uthentication.cs:132 trace: [AcquireCredentials] prompting user for credentials for 'https://bitbucket.org/'`

You enter them, and GCM gives them back to Git. Git claims that they're no good, and tel

[2017-03-23 21:38] roach66 commented on #399
I had this same problem. It occurred after I install git and tried to push from my new laptop. I uninstalled the credential manager and just typed in my password as before in the command line and it worked.

[2017-03-23 22:00] jroelens72 commented on #399
Same problem. Entering username/pw in GCM popup makes the authentication fail.
If I click on cancel when the GCM popup shows up, then the git command line program prompts for username and password. Enter it, and authentication works.
In addition, GCM DID create the credential correctly in my windows credentials, so I don't have to enter my username/pw anymore after that.

[2017-03-24 02:38] whoisj commented on #399
@roach66 wow, I'm very sorry. This seems to be a rather serious bug. ☹️

@jroelens72 which dialog opened? Which host were you pushing to /  fetching from?

[2017-03-24 04:13] vachirkov commented on #399
Same problem. If you run GCM from the shell, it is clear that GCM returns an empty username and password

[2017-03-24 10:09] tetsuyas1 opened #400 "Can not reject with CLI?"
To erase credential, but I can not do reject-command at cmd.exe.

And I don't know hot to set options(url,protocol,host)  [(delete)](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/master/Docs/CredentialManager.md#delete)-command.

Hot to erase credential by cli?

[code]
Installed GCM as part of the Git for Windows install (GCM was installed automatically by git installer).
Ru

[2017-03-24 13:20] tetsuyas1 commented on #400
In my ENV, delete command looks be runnable below writing.
[code]

But,Other trouble. I met.
 [modalPrompt](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/master/Docs/Configuration.md#modalprompt) Option　does not work.

Once, have deleted credential, **fill** command open Modal.
I hope to process  in command line.
[code]

[2017-03-24 13:26] thedavidscherer commented on #399
@whoisj Nothing is created in WCM when I enter the user/pass into GCM. If I use the user:pass@host URL format for git the credentials *DO* get stored in WCM and no password is required for all further commands.

It looks like this also happens if you cancel the GCM credential dialogue and git collects credentials at the CLI and they get stored and do not need entered again.

[2017-03-24 15:12] coladict commented on #396
Nearly forgot this at the end of the work week. Here is the log.

[code]

[2017-03-24 16:23] kevbry commented on #399
Same issue here, with bitbucket, but this time a self-hosted version. Even if the credentials are already present in windows credential store they are not used. Previously was working before upgrading a few days ago.

[code]

[2017-03-24 19:22] seiter commented on #399
First, _thanks much for providing a great product_, it is great to have a good solution to a common problem! Hopefully this feedback will be helpful in making it even better.

I'm having the same experience as @jroelens72 where if I click cancel on the dialog and enter credentials on the command line they seem to store and be used from there on out.

Since things only seemed to be working from the

[2017-03-24 21:56] whoisj commented on #399
Thanks @seiter @kevbry @thedavidscherer it seems @mminns from Atlassian has found the issue. I hope to have a fix prepared this weekend, and then a release out some time next week.

[2017-03-24 21:58] whoisj commented on #396
Thank you for the data, and it appears this is a duplicate of #399. I'm going to close this issue and you can track that one, which I hope to find time to fix in the next couple of days (yes, I work on this project on personal time mostly).

[2017-03-24 21:58] #396 closed

[2017-03-25 23:52] PaulWebSec commented on #396
18:06:42.890973 git.c:371               trace: built-in: git 'rev-parse' '--git-dir' '--is-inside-git-dir' '--is-bare-repository' '--is-inside-work-tree' '--short' 'HEAD'
18:06:47.838480 git.c:371               trace: built-in: git 'rev-parse' '--git-dir' '--is-inside-git-dir' '--is-bare-repository' '--is-inside-work-tree' '--short' 'HEAD'
18:06:54.540918 git.c:371               trace: built-in: g

[2017-03-27 00:37] whoisj commented on #400
try

[code]

[2017-03-27 07:18] jixuan1989 commented on #399
The same issue... And before I upgrade the git-for-windows several minutes ago, I used version 2.5.0, it works for bitbuket. After I upgrade it to 2.12.0 (for enjoying the function of git-credential-manager)
Now........ I am trying to downgrade to 2.5.0....

[2017-03-27 13:53] whoisj commented on #399
@jixuan1989 there's no reason to downgrade your version of Git for Windows. It is uncoupled from Git Credential Manager for Windows. The Git for Windows installer is kind enough to let GCM get a free ride with it, but they are not coupled.

To change the version of GCM just grab an installer from [Code > Release](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/releases), or to remo

[2017-03-27 16:33] jixuan1989 commented on #399
@whoisj  I see. Thank you. By the way, I have tried and the correct command is  `git config --unset credential.helper`  :D

[2017-03-28 19:23] carlin-q-scott commented on #141
I had this issue this week... Why hasn't it been fixed? I basically followed whoisj's workaround except I actually updated the password right there instead of removing the entry in Credential Manager.

[2017-03-29 18:08] marcoscmonteiro opened #403 "Cannot clone from VSTS (visualstudio.com) with coorporation account A.D. integrated"
Like explained in https://developercommunity.visualstudio.com/content/problem/17869/issue-with-git-and-vs-online-repo.html?childToView=37135#comment-37135 when I use my account to clone from visualstudio.com command (git clone https://pjerj.visualstudio.com/_git/TesteGIT e:/git/testegit2) git shows a window to enter my credentials. When I enter my organization credentials it does not work (view at

[2017-03-29 21:58] jasjuang opened #404 "Unsetting git credential helper causes git lfs clone to fail"
I am on Windows Server 2016, git 2.12.2, microsoft git credential manager 1.9.0

I am on a shared windows machine among other people so the credentials won't be cached, so the below is executed,

[code]

However, this causes a problem when I am cloning a repository that contains LFS files, if I run the command `git clone https://github.com/jasjuang/portal`, I got the below error

[code]

Seems lik

[2017-03-30 14:11] whoisj commented on #399
@zeroxia thanks for the report.

Firstly, I think that may be the cutest avatar on GitHub - so congratulations there and well done. ![zeroxia's avatar](https://avatars1.githubusercontent.com/u/582148?v=3&s=88)

Secondly, I'm a little confused. Let me see if I understand this:

1. First you clone from GitHub (and that works) to your personal server
2. Then you clone the same content from your perso

[2017-03-30 14:14] whoisj commented on #403
@marcoscmonteiro could you share the output of `git config --list --show-origin`?

I'm wondering if there is not another credential helper registered, or perhaps a `http.insteadof` registered.

[2017-03-30 14:17] whoisj commented on #404
Wait, you've unregistered the credential helper and then are surprised when it doesn't return credentials? The authentication challenge for git.exe is not transferable to git-lfs.exe, so this is completely expected.

As for a "shared machine", I'm not following your meaning. Are talking about an Internet Cafe machine where everyone who uses it is just logged on as the same generic user or are you

[2017-03-30 15:04] jasjuang commented on #404
@whoisj I am expecting when cloning the lfs files, it should prompt me to enter username and password just like what it did for non lfs file, instead of just failed directly. I had conversations with guys working on git lfs and they indicate that this likely is an issue caused by git credential manager on windows because it prompts me the username and password once each time for lfs and non lfs fi

[2017-03-30 16:01] whoisj commented on #404
If you have unregistered the GCM, then Lfs should not even know about it, let alone be calling it. Can you capture a procmon trace showing Lfs calling GCM?

[2017-03-30 16:11] jasjuang commented on #404
I checked out procmon trace and it is not immediately obvious to me on how to use it. Here is what I did for GIT_TRACE=1, please see if this is helpful

[code]

[2017-03-30 16:38] whoisj commented on #404
I see nothing in that log to indicate that the GCM was involved at all - in fact, I think not having a credential helper registered is likely the root 'cause of the failure. Since you cannot abide long-term caching, you might look into git-credential-cache.

[2017-03-30 16:47] jasjuang commented on #404
I doubled checked https://git-scm.com/docs/git-credential-cache and isn't that the same as credential helper? I suppose I can hack it with setting the timeout to be something like 10 secs, but I didn't need to do this to make it work on Ubuntu.

[2017-03-30 17:10] whoisj commented on #404
@jasjuang how did it work on Ubuntu? Was Git writing credentials to a local file (as I understand it, this is the default on Linux)?

[2017-03-30 17:35] marcoscmonteiro commented on #403
Last login: Wed Mar 29 21:16:20 2017 from 127.0.0.1

$ git config --list --show-origin
file:"C:\\ProgramData/Application Data/Git/config"      core.symlinks=false
 file:"C:\\ProgramData/Application Data/Git/config"      core.autocrlf=true
file:"C:\\ProgramData/Application Data/Git/config"      core.fscache=true
file:"C:\\ProgramData/Application Data/Git/config"      color.diff=auto
file:"C:\\Progr

[2017-03-30 17:44] ttaylorr commented on #404
@whoisj LFS successfully cached credentials on Ubuntu (https://github.com/git-lfs/git-lfs/issues/2040#issuecomment-289917984).

@jasjuang could you try again on Windows with the credential helper set to use GCM and have `lfs.cachecredentials` set to true?

@whoisj The issue that I was seeing while debugging this with @jasjuang was that GCM was returning an exit code of 128 when the credential help

[2017-03-30 17:46] whoisj commented on #403
@marcoscmonteiro and you're certain there's no local config entries for `credential.helper`?

Manually testing this I get the expected dialog:

[code]

![image](https://cloud.githubusercontent.com/assets/11578325/24518171/0a47befc-154f-11e7-8db2-dbbb344206af.png)

Next step is to setup tracing.

Please set the following environment variables, re-try, and then share the logs: `GIT_LOG=%userProfile%

[2017-03-30 17:52] whoisj commented on #404
@ttaylorr thanks for being involved. I would not expect the GCM to return 128 - I would expect it to return either 0 (success) or -1 (failure). I suppose Git could be converting the `0xFFFFFFFF` value into `0xFF`.

Is it GCM or git-credential returning the 128?

Let's enable some tracing and hopefully get to the bottom of this. Please set the following environment variables `GIT_TRACE=%userProfile

[2017-03-30 18:09] ttaylorr commented on #404
@whoisj happy to help. I bet that Git is translating the -1 into `0xff`. I'll be curious to see the output from @jasjuang.

[2017-03-30 20:21] whoisj commented on #404
@ttaylorr if the GCM is issuing a -1 then it either hit an un-caught exception or hit its `Die` routine. The logs will tell us which and why.

[2017-03-30 20:34] jasjuang commented on #404
Could you remind me how to re-enable credential helper with GCM? Something like `git config --global credential.helper GCM` doesn't seem to work. Without re-enabling it I am basically getting the same thing when I do `GIT_TRACE=1` if I save it to git.log

[2017-03-30 20:37] whoisj commented on #404
ahh - yeah sure: `git config --global credential.helper manager` should do it.

[2017-03-30 20:43] jasjuang commented on #404
It works if I do `git config --global credential.helper manager`, but the problem is I don't even get prompted to enter username/password because it seems like it's being stored somewhere. Meaning someone else would be able to remote in into the server and clone repository where he is not suppose to have access.

How can we disable the storage of username/password yet still make git lfs work?

[2017-03-30 21:10] whoisj commented on #404
@jasjuang given your current setup, I think you're best bet might be to use [git-credential-store](https://git-scm.com/docs/git-credential-store) and pick a file you know that you can manage. As for the stored credentials that got stored look in the Windows Credential Manager (search Start for "cred") then click on the Credential Manager application. Once open, click on the Windows Credential tab

[2017-03-30 21:12] whoisj commented on #404
All that said, you're likely all better using SSH + password secured certificates.

[2017-03-31 06:42] tetsuyas1 commented on #400
@whoisj  Thanx.But same result.

[2017-03-31 23:54] jasjuang commented on #404
Creating a stored credential and then delete it is even more troublesome than caching. SSH also doesn't work well for shared server. If the exact same setup works on Ubuntu, I think there should be a way to work on windows. Do you think the tweak to fix it should be done on  Git-Credential-Manager-for-Windows or Git-LFS?

[2017-04-01 03:38] whoisj commented on #400
@tetsuyas1 that's because there's a bug (reported by @mminns), which prevents the erasure of credentials.

The work around is to use the following Git command `git config --global credential.preserve false` then re-attempt the deletion. I have a patch ready, but have been offline with the spring flu. Once I'm back on my feet, I'll get an updated version released.

[2017-04-01 03:42] whoisj commented on #404
@jasjuang yes, it would be possible to alter the GCM to meet your needs but I think that it would be a larger change than I'll have time for, at least until mid-year when the VS release cycle settles down.

As for the assumption that SSH would now work, I do not think that you're considering all of your options. Each user could create a certificate, and password protect that certificate. SSH passw

[2017-04-01 04:07] zeroxia commented on #399
@whoisj
I'm not quite a master on setting up git repo on server side, I just followed some tutorial on the web to setup the https serving with git repos on my VPS, it was long time ago and it worked well with previous git-windows so I'm not quite sure about the authentication mechanism now. I will try that GIT_TRACE_CURL stuff when I have SSH access to my VPS, also I will look at the configuration

[2017-04-02 17:42] winmike opened #405 "GIT credential manager hangs on "Git pull""
installed 2.12.2, try to pull last changes from Git repository (VisualStudioOnline based). It pops an empty and not responsive window (assume not completed login dialog) and keeps hanging until killed from taskmanager. no git operations are possible

[2017-04-03 02:42] whoisj commented on #399
@zeroxia the dialog presented to you was for "basic credentials". Those credentials are passed to Git for processing. Git then calls back to the credential manager with instructions to store them or not. If Git thought they were invalid, then the GCM would not have stored them.

The GCM reads from the Credential Manager > Windows Credentials > Generic Credentials and searches for "git:<url>". If i

[2017-04-03 02:51] whoisj commented on #405
Oh dear. That "empty and non-responsive window" would be the dialog presented by ADAL, better known as Azure Directory Authentication Library.

Is this issue still happening? There's a strong probability that it was a temporal problem with Azure's authentication platform and unrelated to the GCM.

[2017-04-03 09:10] ViceIce commented on #399
Using `wincred` helper as a workaround.

`git config --system credential.helper wincred`

[2017-04-03 14:09] whoisj commented on #399
@ViceIce this is going to pedantic but how is the value stored in the Credential Manager?

I see a check for `"https://git.XXX.de/"` and a store for `"https://git.XXX.de"`. The horrifying potential here is that somehow the trailing `'/'` is no longer being stripped correctly.

[2017-04-04 07:43] maets commented on #57
I got this problem when my machine.config was corrupt on a windows env. Fixing the config fixed the issue.

[2017-04-04 12:22] majkinetor commented on #57
Works for my case. Thx.

[2017-04-04 15:04] #399 closed

[2017-04-04 15:05] #400 closed

[2017-04-04 15:27] winmike commented on #405
no, the problem persists. changed to
git config --system credential.helper wincred
promted to enter user name and password from command line, but then brings "authentication failed", even user name and  password are correct (checked via WebUI in VSO). Does it matter, the username is an email address (contains @)?

[2017-04-04 16:05] whoisj commented on #405
The logon for VSTS is Azure backed. Simple (aka basic) credentials won't work. You need to get authorization via the Azure OAuth provider, which requires a browser to complete; hence the window you saw.

The problem seems to be that the window is hung. I recommend that you reach out to the team @ https://github.com/AzureAD/azure-activedirectory-library-for-dotnet . If you don't get a response, ple

[2017-04-04 17:42] marcoscmonteiro commented on #403
First, I have two accounts (personal: marcoscmonteiro@hotmail.com and a
corporate: mcm@tjrj.jus.br).

I'm using my personal account (marcoscmonteiro@hotmail.com) to comunicate
with you but using corporate account (mcm@tjrj.jus.br) on Git tests to
clone and syncing my work.

Sorry, in the first attempt to clone pjerj.visualstudio.com/_git/TesteGIT
repository I did not use proxy configuration requir

[2017-04-04 17:48] whoisj commented on #403
It seems attachments don't come through to GitHub's issue tracker. You have a couple of choices:

1. Paste the content as text or markdown into the website
2. Upload the files as attachments using the issue tracker website at github.com
3. Upload the files at another service and reply with download links.

Thanks!

[2017-04-04 18:15] marcoscmonteiro commented on #403
Attaching again.

[git.log.zip](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/files/894085/git.log.zip)

[2017-04-04 18:59] whoisj commented on #403
Thanks for that, and here's our bug:

`10:56:45.604075 ...tionArguments.cs:312 trace: [SetProxy] proxy cleared.`

[2017-04-04 19:40] whoisj commented on #403
@marcoscmonteiro does your password contain characters that should URL encoded? That could be the source of the issue.

[2017-04-05 00:50] marcoscmonteiro commented on #403
Yes. I use a # character in my password (other characters are letters and
numbers). I changed .gitconfig proxy configuration to use %23 instead # and
the problem do not changed.

Att.

2017-04-04 16:40 GMT-03:00 J Wyman <notifications@github.com>:

[2017-04-05 03:06] tetsuyas1 commented on #400
@whoisj  Thank you.

[2017-04-05 06:36] jonaskello commented on #146
I got it working in [MSYS2](http://www.msys2.org/) using the instructions @gene-pavlovsky provided. Just needed to copy the files to `C:\msys64\usr\lib\git-core` instead.

[2017-04-05 07:00] kwazel commented on #141
I had this problem today as well (git version 2.12.2.windows.1). I think it depends on your configuration whether you suffer from it, but somebody may have to report a new bug for this.

[2017-04-05 16:24] whoisj commented on #141
@carlin-q-scott @kwazel the issue should be fixed in the latest Git for Windows (v2.12.2.windows.2)

[2017-04-10 21:37] carlin-q-scott commented on #141
@whoisj Ah, I was using an older version, the one that comes with Git-Extensions. I've updated to the latest version so hopefully I never have this issue again.

[2017-04-12 18:59] bjs339 opened #412 ".."

[2017-04-13 14:31] #412 closed

[2017-04-14 10:05] marcoscmonteiro commented on #403
Wyman,

I have news. When I updated VS2017 to 15.1 (26403.3) I get sucess in clone,
push and sync using VS2017 interface without need to put my credentials!
Note: I'm logged with my organization credentials on VS2017 enterprise
version.

But git bash or git gui remains with same problem: pushing or cloning from
git bash or git gui does not working: It shows same messages related
betore. Note: In t

[2017-04-14 10:23] marcoscmonteiro commented on #403
Another news:

Putting only these strings in my .gitconfig I PUSH my work without problems
using VS2017 interface. So I do not have the problem of exposing my
password anymore. (Note: Git bash and git gui does remain not working):

[user]
name = Marcos de Carvalho Monteiro
[user]
email = mcm@tjrj.jus.br
[credential]
helper = manager
[http]
proxy = "http://@proxy:80"

2017-04-14 7:04 GMT-03:00 Marc

[2017-04-14 13:55] whoisj commented on #403
@marcoscmonteiro thank you for all of the details. Very happy news that things are working for you.

I am very confused by the fact that VS2017+Git works bug Git-bash isn't working for you. Perhaps @dscho would have some ideas. I'm the developer for the VS -> Git integration layer in Visual Studio, so if anyone had an idea what it worked, whereas Git-Bash doesn't it should be me. 😯

Thanks again,

[2017-04-14 13:55] #403 closed

[2017-04-16 20:51] imallett commented on #58
I have a situation with SmartGit and Git Credential Manager for Windows:

After entering the password, I can confirm that it is added to the Credential Manager. However, even after using the `setx GCM_PRESERVE_CREDS true` (and restarting SmartGit and the Credential Manager service), the credentials still get removed after some period of time (short, around 15 minutes), and the manager pops up agai

[2017-04-16 21:46] winmike commented on #405
got update for windows - build 16170  - and vscode as well - build 1.12.0. It works with no problems - as earlier

[2017-04-17 13:58] whoisj commented on #58
@imallett you're going to have to explain this comment:

As the only storage mechanism the GCM ships with is to rely on the OS vault - there's no export / import functionality provided.

I recommend enabling `GIT_TRACE` to see when Git is failing to authenticate and instructing the GCM to delete the credentials. If you find that this isn't happening, then you'll need to look at other software on y

[2017-04-17 16:44] peteruhnak opened #414 "Using GCM from another language/tool/libgit2"
Hi,

would it be possible to use GCM from different language/tool? So basically a tool that uses libgit2 bindings to work with git.
My guess is that I would have to (1) write a C wrapper¹ for Microsoft.Alm.Authentication dll, (2) write bindings from the target language to the C wrapper, and then (3) write custom credential callback that would delegate from libgit2 bindings to Microsoft.Alm.Authent

[2017-04-17 19:26] whoisj commented on #414
@peteruhnak yes it is possible, but the GCM is designed to be "invoked". I think what you're asking is: is it possible to utilize Microsoft.Alm.Authentication and/or the equivalent VSTS and/or GitHub equivalents?

No, not really. Getting the CLR started from within a C application is non-trivial.

I recommend relying on `CreateProcess` and using the stdin/stdout formula that Git uses.

[2017-04-17 19:27] #364 closed

[2017-04-17 19:28] #335 closed

[2017-04-18 09:21] peteruhnak commented on #414
Thanks! I will use CreateProcess then and see how it goes.

[2017-04-18 09:21] #414 closed

[2017-04-19 04:11] corsairmarks opened #415 "Cannot submit credentials on ADAL prompt"
git --version 2.12.2.windows.2
Git Credential Manager for Windows version 1.9.1
Windows 10 Pro
1607
Build 14393.1066

The ADAL prompt appears when I attempt to `git clone` a repo from a *.visualstudio.com.  Filling in the username redirects me to the "login page for my organization" version.  Typing the password and pressing Enter (or the "Sign in" button) causes no actions to be taken, and no fur

[2017-04-19 14:41] whoisj commented on #415
@corsairmarks thank you for the report and the rather detailed and useful GIT_TRACE+GIT_TRACE_CURL+GCM_TRACE log; and an even bigger thank you for **not** posting your secrets on a public issue tracker. That's awesome! 😃

Unfortunately, the error is happening in a portion of the code where the trace cannot.. er, well... trace. 😞

The failure is happening here: `01:04:53.040701 ...uthentication.cs:

[2017-04-19 16:00] corsairmarks commented on #415
The PC I was using for this is a personal one, hardwired to my Linksys AC1900 router at home.  I *shouldn't* have any proxies but I'll verify.  I'll also set up Fiddler as a proxy and see if I can get any additional interesting info.

For what it's worth, my personal laptop (on WiFi via the same router) does work.  However, I have older versions:
git --version 2.8.3.windows.1
Git Credential Manage

[2017-04-19 17:59] corsairmarks commented on #415
I'm on my desktop PC now, the one experiencing the issue.  Using Fiddler, I captured the network traffic of a log session alongside the git logs.

I don't want to attach the .saz file because I have Fiddler set to decrypt https traffic (so I could see the actual traffic content between my PC and the cloud).  If it would be useful, I can try and sanitize it.  The request log is below.  It looks lik

[2017-04-20 18:19] whoisj commented on #415
@corsairmarks is there any chance that you're company requires multi-factor authentication, and there is some disconnect about the tokens you get via your corporate STS and what is required for VSTS access?

I'm mostly groping the dark here. I have asked experts from VSTS, who understand the back-end workings better than I do, to jump in here an assist.

[2017-04-20 18:22] ccrookms commented on #415
Hi Nick,

I am the manager for the Visual Studio Team Services Identity team. We don't think the issue is with VSTS itself but we can help analyze the problem and hopefully figure out where the issue needs to be routed. Can you please email the .saz file with all of the original information to vscsidri -AT- microsoft -DOT- com? This will go to my team and someone will look at the file promptly to

[2017-04-20 22:30] corsairmarks commented on #415
My company is not using multifactor authentication (although I'd be the first to recommend to add it, 2FA for everything!).

I've sent along the .saz file to @ccrookms.  Thanks for the elevated support!

One additional tidbit I've discovered: this seems to affect ADAL prompts from other program, such as Outlook.  I was recently forced to reset my password (unrelated to this issue) and ran into it

[2017-04-21 22:09] winmike commented on #405
Oh my, the issue is back, This time I was shortly working with Telerik's Fiddler - and after that (dependent or not) the issue is back.
Then I've performed following sequence:
- open vs code
- irresponsible white git cred windows goes up
- immediately after that close vs code window behind
- git cred window gets controls surprisingly directly after the vs code window is closed
- I can login into g

[2017-04-27 19:56] StenPetrov commented on #178
@whoisj how do you configure it to never pop up? why is that not a default option - popups are generally frowned upon, persistent popups drive users nuts

[2017-04-27 20:30] whoisj commented on #178
@StenPetrov `git config credential.modalprompt false` because in may situations multifactor authentication (which is the gold standard) requires a graphical users experience.

[2017-04-28 18:06] StenPetrov commented on #178
@whoisj this doesn't work, it keeps popping, even with --global added
It would be nice to have a checkbox on the popup to tell it to stop popping

[2017-04-28 20:35] whoisj commented on #178
@StenPetrov can you capture a trace? `SET GCM_TRACE=1` then run your git command. This should help me understand more clearly what is happening. Thanks.

[2017-05-04 05:47] #415 closed

[2017-05-04 14:16] Evangelink commented on #335
Hi @whoisj!

Sorry for the delay I had a lot of others things in the pipe. I have just made a test using `Microsoft.Alm.Authentication.4.0.0.1` and I still see the `Microsoft.Alm.Authentication.dll` dll is not signed.
I am using the `sn -vf` command and it says that `.\Microsoft.Alm.Authentication.dll does not represent a strongly named assembly`

Could you tell me if you have a different behavior

[2017-05-04 17:02] whoisj commented on #335
@Evangelink oh - strong name signed. Yeah, I don't do that with the GCM. We do certificate sign the binaries, which validates that the binaries were built and published by Microsoft - but I do not strong name sign them.

There are a few reasons for this. Firstly, strong name signing is viral (and it's virality is likely the source of you asking for Microsoft.Alm to be signed). Secondly, it adds no

[2017-05-04 20:53] xt0rted opened #421 "Credentials aren't saved when prompted from vs code"
For the longest time now when VS Code would open I'd be prompted to log in to GitHub. I've never used the built-in git functionality so I've always just canceled out of the prompt and continued on. There have been times where I'd try to log in but the next time I'd open VS Code I'd be prompted to log in again.

Today this came to a head when 1.12 of VS Code installed because every 60 seconds or so

[2017-05-04 22:54] shiftkey commented on #421
VSCode actually uses whatever version of Git you [have installed locally](https://github.com/Microsoft/vscode/blob/master/extensions/git/src/git.ts#L134-L140) and it feels like this is #399 which was fixed a couple of releases ago - so it should just need an update.

Which version of Git do you have installed? You might have multiple, and so VSCode's rules will come into play here.

[2017-05-05 00:06] xt0rted commented on #421
When VS Code updated I was on 2.11.1 of Git, then I updated to 2.12.2. When I check the Git version from the command prompt & the VC Code integrated terminal I get the same version.

I just cleared the GitHub credentials from the Windows Credential Manager and tried the process again.

Opening VS Code prompts me to login so I entered my information. Refreshing the WCM doesn't show an entry for Git

[2017-05-05 00:08] shiftkey commented on #421
@xt0rted maybe this is something is introduced in VSCode 1.12 - I'd recommend putting it in front of the team to confirm they're not doing anything different with credentials when invoking Git.

[2017-05-05 16:08] JohanTh opened #424 "Popup asking for credentials"
How can I get rid of this popup that shows every 15-45 seconds asking for my github credentials? Giving the credentials to this popup does not stop it from coming back.

[2017-05-05 16:53] PaulWebSec commented on #424
If:
1. someone you know that has personal access to your information c. "this is probably what it is"; 15-45 second is very specific as far as session layered isolation. From my own personal experience; I'll just tell you; don't let them see you sweat, because you first instincts are usually correct, however 15-45 seconds "it's figures like this are some kind of arch nemesis then lets hope the les

[2017-05-05 17:42] PaulWebSec commented on #424
Mr. Mission>net stat -R
===========================================================================
Interface List
 14...00 1d 6a 42 47 37 ......Microsoft Wi-Fi Direct Virtual Adapter #2
 10...00 21 97 43 8b d4 ......NVIDIA force Networking Controller
 12...00 1d 6a 42 47 35 ......Airlink101 Wireless PCI Adapter
  1...........................Software Loopback Interface 1
 15...00 00 00 00 00 00 00

[2017-05-05 17:52] whoisj commented on #424
@JohanTh that doesn't sound right. To prevent the dialog use `git config --global credential.modalPrompt false`, that'll drive the queries to the console.

There will remain, however, the fact that your credentials are not being cached correctly. To find out what is happening there, I recommend adding the following environment variables:

`setx GIT_TRACE %userprofile%\git.log`
`setx GCM_TRACE %use

[2017-05-05 19:20] whoisj commented on #421
Looks like GfW v2.12.2 shipped with GVM v1.9.0 and v1.9.1 contained a fix for credentials not being persisted for some users. @xt0rted any chance you could download and run the v1.9.1 or v1.10.0.preview.2 installer and see if your issue gets sorted?

Thanks!

[2017-05-06 00:16] xt0rted commented on #421
As mentioned in the VSCode issue the non-persisted credentials issue is resolved with 1.9.1. I'm still getting prompted every minute or so if I select Cancel but since that started when VSCode 1.12 installed I think that's an issue with Code and not GCM.

[2017-05-06 00:16] #421 closed

[2017-05-09 07:39] Evangelink commented on #335
Hi @whoisj.
I totally get your point and I was asking because we do sign our DLLs which forces us to have signed dependencies. I have found this tool ([StrongNamer](https://github.com/dsplaisted/strongnamer)) which will avoid me to fork your project just to sign it (and probably avoid any licensing issue).

[2017-05-09 21:16] whoisj opened #426 "GCM should be resilient to Adal cache issues"
A user recently reported an issue with the GCM failing in automation. The root 'cause for them was found via `GCM_TRACE`.

[code]

Ideally, the failure would have been logged but have not cause the GCM to fail to authenticate - as the user would have been able to do so, but the Adal cache failure prevented the Adal library from even trying.

[2017-05-09 23:31] joshnoe commented on #424
Why does this popup even exist? What use-case is there for some focus-stealing modal incessantly nagging you while they're trying to work?

[2017-05-09 23:34] shiftkey commented on #424
@joshnoe my gut feeling is some tool doing background work. We need more information to understand this behaviour - see #421 for an example of this.

[2017-05-10 02:55] whoisj commented on #424
The dialog appears in response to some application (likely git.exe) asking for credentials. The query format isn't complicated, but it also is fairly Git specific - so it's unlikely any thing else is invoking the dialog.

Why the dialog instead of asking at the command line? Good question! Well, I used to default to asking at the command line, but user feedback was the majority of users preferred

[2017-05-10 16:40] #426 closed

[2017-05-11 01:21] StenPetrov commented on #178
@whoisj I'm not running any commands, it just keeps popping up.
I added the GCM_TRACE but where would the logs show up?
This is *super* annoying

[2017-05-11 02:43] whoisj commented on #178
@StenPetrov if you're not running the commands, you will not see the logs because `=1` means write to standard output. If you need to trace to a file, use the following instead: `GIT_TRACE=%userprofile/git.log` and `GCM_TRACE=%GIT_TRACE%`. This will write a log out to `%userprofile%\git.log` which you can then look at to figure out what is going on.

[2017-05-11 21:11] AaronZurawski commented on #424
I'm having a similar issue. GCM is failing to store the credentials, likely due to the credentials not validating. I believe this is caused by GCM not allowing for HTTP protocol and forcing HTTPS. We have an internal code manager server that only uses HTTP, however GCM is forcing it to HTTPS which is refused by the remote. As far as I can tell, there is no configuration option to change this behav

[2017-05-11 21:40] whoisj commented on #424
@AaronZurawski can you provide a trace so that I can see where this is happening?

As a note, use of basic authentication over HTTP is very dangerous - all credentials are sent in the clear, and there's no host validation allowing for very difficult to detect man-in-the-middle attacks.

[2017-05-11 22:04] AaronZurawski commented on #424
@whoisj Yes, I'm aware of the security concerns with HTTP. This is a legacy internal-only server.

Trace can be found here: https://gist.github.com/AaronZurawski/cc494020e8fed8a8a13282e2dd7f2202

[2017-05-12 02:53] whoisj commented on #424
Ah! GCM v1.8.1 - I do believe the HTTP->HTTPS issue might have been fixed in the v1.9.x series. I'd recommend retrying with that. I'll also make a point of setting up a test to validate that we do not change protocols mid-stream like that as well - unless the authority requires it (like GitHub, VSTS, and BitBucket do).

[2017-05-12 15:30] AaronZurawski commented on #424
I was under the understanding that SourceTree would use the version of GCM that I had installed, however it appears that Atlassian has bundled a custom version that's based off of 1.8.1.

[2017-05-12 17:12] whoisj commented on #424
@mminns / @foda is there a path for users to upgrade the version of the GCM SourceTree consumes?

[2017-05-12 18:19] bobbytait commented on #424
In my case, SourceTree's (v2.0.20.1) userhosts file (in C:\Users\username\AppData\Local\Atlassian\SourceTree) contained an entry (username, server address) to a remote we no longer used. Removing the dead entry stopped the dialog from reappearing over and over again.

[2017-05-13 18:20] eamodio opened #429 "Git constantly "loses" my credentials (remote: Repository not found.)"
For some reason all of a sudden a few weeks ago, the credential manager started randomly "losing" my GitHub credentials. It could lose them a couple of times in an hour or it could last for days before they get lost again. And the strangest thing, is this only happens for some repositories (specifically my work repositories -- never ones that are on my personal "account" -- must be just trying to

[2017-05-15 13:34] whoisj commented on #429
Thanks for the detailed report.

Good news.

The `delete`, like the `erase` command are designed not to return. They expect you to be Git or a git-like program which will communicate with them via a predefined stdin/out protocol.

Adding @shiftkey @Haacked as they've been maintaining the GitHub portion of the GCM since v1.4.0 (has it really been that long now?).

@eamodio do your Git logs contain

[2017-05-15 15:27] eamodio commented on #429
@whoisj I'm not at home today (with access to my Windows machine), but will check the logs tonight. I also should mention that over the weekend, my creds got "lost" again (actually a handful of times), but one time a `clear` did nothing to fix things -- I had to manually go and delete the github creds from Windows. And then the prompt came up and all was well again until the next time.

[2017-05-15 15:45] whoisj commented on #429
@eamodio it sounds like `GitHubAuthority` isn't deleting credentials - however, there is a possibility that Git is never requesting that they be deleted - which would be a problem.

[2017-05-16 00:02] shiftkey commented on #429
@whoisj I've not seen any recent reports of this on our side. Some random musings.

This is interesting - so repositories for your user account (including private repos) are fine, but organization repositories aren't? The GitHub signin flow creates a [personal access token](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/master/GitHub.Authentication/Authority.cs#L151) for the

[2017-05-16 03:01] eamodio commented on #429
@shiftkey

I don't have any personal private repos, but all my personal public ones work -- I also haven't check if when this happens if my public org ones still work or not (I rarely work in those)

I didn't have `GIT_CURL_VERBOSE` enabled (I've enabled it now), but from the logs I do have, I never see it fail -- even when it doesn't work, from the logs it looks like all is fine (at least to me).

[2017-05-16 03:37] whoisj commented on #429
@eamodio the ordering of those Git credential events is... strange.

It looks like there are pair of Git processes running, both for netops with github.com. Both fail the initial 'get' request. Git follows up both with an 'erase' request (this is normal following a failure).

Not the really weird part... both receive a 'store' request. Storing what?!

So here's a quick guess as to what is happenin

[2017-05-16 03:49] eamodio commented on #429
@whoisj
from the output of `git config --list --show-origin`, I see:

[code]

I'm not sure where the first one came from -- just part of the git install?

[2017-05-16 14:09] whoisj commented on #429
yeah, you likely omit the global configuration value. Yes, the machine or portable config value is coming from the Git for Windows installer.

I've seen a number of GCM issues started recently related to interactions with VSCode. This is getting more and more concerned that there's something VSCode is doing to interfere with GCM and causing user heartburn. 😒

[2017-05-16 14:41] eamodio commented on #429
FWIW, I checked with 2 of my colleagues (1 with the same issue and 1 without) both have that same "duplicate" `credential.helper` line.

From your assessment above, the real question (at least to me) is why would git be failing to authenticate. Network hiccup? GitHub issue? An intervention (telling me to sleep more) :wink: ?

Because I would hope that running many Git procs at the same time wouldn

[2017-05-16 14:53] whoisj commented on #429
@eamodio do you have more than one GitHub account? Perhaps a personal one and a work one?

The current credential manager design only supports one credential set per host.

[2017-05-16 15:11] eamodio commented on #429
@whoisj nope, only one.

OK it just failed again and I did a bit more digging. The failures ONLY happen on **private** repos from the organization (I don't have any personal private repos so I can't test that -- but my guess it they would fail too). Public repos from the org still work fine when in this non-working state.

Also here are some logs from the last failure.

From the terminal output:
[

[2017-05-16 15:17] eamodio commented on #429
Also here is the terminal output from a command that worked to a public repo (while my creds were borked)

[code]

[2017-05-16 19:34] PaulWebSec commented on #429
" look up this vendor from this site and they used to supply (AZUREZ) bit torrent application "!"ono!";
www.myonnremote.com

[2017-05-16 22:15] fahnzmode opened #430 "Git Credential Manager not showing option for "Work" (Azure AD) Credentials"
Our organization has recently switched from using "personal" MS accounts to using Azure AD backed accounts for accessing our VSTS instance. This has gone pretty well, but on some PCs, the Git Credential Manager will not prompt for a "Work" account even after uninstalling and reinstalling both Git and the stand-alone GCM.

Using my work account in GCM with command-line Git works fine on my personal

[2017-05-17 05:32] shiftkey commented on #429
Yep, so this is interesting.

[code]

I know this is being obscured for privacy reason, but can you decode this Base64 string here and see if it makes sense? It should be of the format `username`:`password` or something (it should look like a token, which is fine).

[2017-05-17 05:35] eamodio commented on #429
Yeah, while I don't know if the token is meaningful/valid, but it looks like `eamodio:{long token}`

[2017-05-17 05:41] eamodio commented on #429
So I just reset things again -- to get it back working and I noticed that the auth is different:

[code]

And when I decode the auth, it is `Personal Access Token:{long token}`

[2017-05-17 06:02] shiftkey commented on #429
Yep, that's how it is on my machine. But I'm pretty sure we handle `eamodio:{long token}` fine, rather than as a `username:password` combination. Hrm.

[2017-05-17 08:19] fractos commented on #429
Seeing something similar here with a private org repo and VS Code, but without the duplicate credential helper lines in the example above. Works fine with a public org repo. Disabling git in VS Code in the meantime :(

[2017-05-18 04:24] whoisj commented on #430
Have you tried entering your username@orignaization yet? In theory, Azure should redirect as appropriate.

If that's not working, try deleting your `%localAppData%\GitCredentialManager\tenant.cache` file. That keeps a persistent record of VSTS account and tenant associate to avoid the lengthy network look up call every time.

[2017-05-18 13:21] nta opened #431 "The ServicePointManager does not support proxies with the socks5 scheme"
When trying to log in to a repository configured to use a SOCKS proxy (`http.proxy=socks5://127.0.0.1:12000`), the following error occurs, and git falls back to the basic authentication prompt:

[code]

[2017-05-18 15:00] whoisj commented on #431
What is "socks5"? What is the actual HTTP/S end-point you're attempting to reach?

The GCM is intended to support credentials for HTTP/S and SSH hosts. I've never even heard of "socks5".

You'll need to provide more information - thanks.

[2017-05-18 15:17] nta commented on #431
The proxy itself I'm using is not authenticated at all - on my network I have to access all services through a [SOCKS5 proxy](https://en.wikipedia.org/wiki/SOCKS), which [is supported by Git](https://git-scm.com/docs/git-config#git-config-httpproxy), however when accessing a remote with the credential manager enabled (said remote being GitHub, so it shows the GH authentication flow) this occurs -

[2017-05-18 15:37] tiliarou commented on #431
For microsoft/whoisj: https://en.wikipedia.org/wiki/SOCKS
BTW, proxy management in windows has been terrible for ages, especialy when using mixed authenticated http/https proxy, there is no way to specify global username and pw so that every app connect through the proxy.

nta, you can use polipo to convert your sock5 proxy to http/s, or you can use proxifier to force the proxy in any app external

[2017-05-18 19:09] PaulWebSec commented on #430
"the system know; also believes that there is an unknown occupant contained in one of the folders within
the (ISO) of that systems root; which means there is possibly unauthorized content in one of those folders".   Know these extended branch of the old bit torrent assembly pools like azure.  In other, words the recent branches have been allowed there potential execution routes under the bias that

[2017-05-18 19:56] DefSol commented on #363
@whoisj so when you say GCM doesn't support multiple users per Uri, would that include the following scenario - I have 2 users on GH say foo & bar. User foo access foo org and user bar the bar org. So in order to navigate such complexities in life, currently the only way is to remove the GH credential in `Windows Credentials` when switching between foo and bar repos. I had hoped this useHttpPath w

[2017-05-18 19:57] whoisj commented on #363
@DefSol todate, only the Bitbucket authority supports multiple users per domain.

I've plans to port it to the other authority types (Github, VSTS, etc.) but have lacked the spare time to do so.

[2017-05-18 20:05] DefSol commented on #363
Hey @whoisj love the speedy reply! First off, I really appreciate the work you are doing for GCM. Secondly is that pattern for the others (GH, VSTS) the sameish from BB authority? I would be keen to help with this if that's possible?

[2017-05-18 20:18] whoisj commented on #363
@DefSol absolutely. The Bitbucket contributor added a check to the username field before operating on the credential, they also make the credential key unique by adding the username to it.

Should be fairly straightforward to re-implement across the board. Would love to see a contribution from you. 😄

[2017-05-18 21:03] eamodio commented on #429
So..... it hasn't been that long yet (but it was getting so bad that I would literally have to re-login up to 10 times a day) -- but since I installed the GitHub Desktop beta the other night, I haven't encountered a single case of my creds getting lost (and I haven't changed anything else -- still using the command line & vscode) -- the GitHub Desktop client hasn't even been opened since I played

[2017-05-19 07:27] PaulWebSec commented on #431
In Radiology they give you two choices as far as back ground entry level questioning; which is you can only call them white bands, because

something quite unnatural  has taken its part by no chance of an odd miracle that goes without the necessity to self inflate a provocative standard; however that only leave hyper pretensions options like there may be some hope for the courtyard of numerologica

[2017-05-22 13:45] fahnzmode commented on #430
I had previously tried entering my organizational email and password.

Deleting the `tenant.cache` file worked perfectly though! Thank you!

[2017-05-22 13:45] #430 closed

[2017-05-22 17:12] Svetomech opened #432 "Personal access token support for Github"
How do I pass a personal access token to the app?

_Screenshots demonstrating the problem:_

![image](https://cloud.githubusercontent.com/assets/7114815/26320223/ae9fc3aa-3f2a-11e7-96d8-fb035ac4e920.png)
![image](https://cloud.githubusercontent.com/assets/7114815/26320248/c85bc1cc-3f2a-11e7-9cd1-3791ef4512d6.png)

[2017-05-22 17:26] Svetomech commented on #432
It works with Bitbucket's "App passwords" (which are basically the same), though.

[2017-05-22 17:40] whoisj commented on #432
Logon with your username + password, the app will generate the personal access token for you.

[2017-05-22 17:49] Svetomech commented on #432
Thanks, didn't know it would do that. But what if a user's paranoid enough to only enter the actual Github password on the site? I mean, why would the app not accept a pre-generated PAT when entering Github credentials? But accept one when entering Bitbucket credentials. Seems like an odd behaviour to me.

[2017-05-22 18:04] whoisj commented on #432
@Haacked @shiftkey to answer the GitHub policy / support question.

@Svetomech can you explain your paranoia? What about submitting username + password via application interface makes you feel less safe than submitting them via web browser interface? The net result is the same and so are the chances for interception. The GCM source is full open, so you can see that the `GithubAuthority` class does

[2017-05-22 18:07] whoisj commented on #431
@nta I'd be more than happy to accept a contribution which adds socks5 support to the GCM. 😀

[2017-05-22 18:58] Svetomech commented on #432
@whoisj Putting paranoia aside, it would still be better, in my opinion, to let a user choose if he wants to generate the token himself or if he doesn't and is okay with leaving this task to GCM. By the way, I solved the issue by manually entering my credentials in Windows Credential Manager. Thanks for your swift feedback.

[2017-05-22 18:58] #432 closed

[2017-05-23 06:00] ProggerPete opened #433 "Constantly prompted for credentials when attempting to push to Assembla"
When I try and push files to an Assembla repository I get constantly prompted (every 5 seconds or so) for my username and password.

If I provide the user/pass every time the push does eventually work, but the situation is pretty unworkable.

I've generated logs by running the following:

Everything up-to-date
PS C:\data\maven\repository> setx GIT_TRACE %userprofile%\git.log

SUCCESS: Specified va

[2017-05-24 05:06] whoisj commented on #433
Could be Git-Lfs. Any chance you're using VS Code?

[2017-05-24 06:17] ProggerPete commented on #433
I don't know what VS Code is. =)

I'll have a dig through 429 when I've got a little more time on my hands.

[2017-05-24 15:44] whoisj commented on #433
@ProggerPete VS Code is a cross-platform Microsoft releases and has gotten rather popular. One of the things it does is query all of the active repository's remotes for changes every few minutes. There also seems to be some kind of issue where VC Code gets in the way of storing credentials correctly - thus some users are experiencing constant dialog barrage asking for logon.

[2017-05-24 16:05] nvivo commented on #433
I'm having the same issue pushing to Bitbucket. Don't think this is related to the server. Have been using this for a long time, never had problems.

I can confirm this started happening after an update I did yesterday.

[2017-05-24 16:33] whoisj commented on #433
@nvivo do you know which version you were running, and which version you updated to?

[2017-05-24 16:41] nvivo commented on #433
@whoisj I was using 1.9.1 and updated to 1.10.0, updated with chocolatey:

[code]

Right after that, I tried to pull and it asked for my bitbucket password that was already saved.

I also tried to do a `choco uninstall git-credential-manager-for-windows`, and downloaded the 1.10.0 installer from github, but it still asks the password through the git CLT stdin wrapper.

[2017-05-24 16:44] whoisj commented on #433
@mminns seems there are potentially issues with the new BitBucket authority and previously save credentials. Can you please take a look? Thanks!

[2017-05-24 21:16] eamodio commented on #429
So many more days have past and so far after installing the GitHub Desktop beta -- I haven't had a single case of my password being lost -- while I'm very happy about this it seems very odd that this would have changed things. Any ideas? Figuring this out could also help others experiencing similar issues.

[2017-05-26 04:20] ProggerPete commented on #433
I've had a bit more of a look and I can see in the logs git is attempting to post :

trace git-lfs: HTTP: POST https://git.assembla.com/TechForge.mrepo.git/info/lfs/locks/verify
trace git-lfs: HTTP: 401

Assembla is returning a 401, so it doesn't seem unreasonable for the credential manager to conclude the credentials are no good.

I tried turning locksverify off :

lfs.https://git.assembla.com/Te

[2017-05-26 16:07] whoisj commented on #433
@ProggerPete I agree, a 401 signals that the credentials are useless. Unfortunately the credential manager does not perform the networking interaction, the host process does, and it is the host process' duty to perform the correct, expected operations following an authentication failure. Often, this is instructions to delete any cached credentials.

It seems with Lfs it is quite possible to hit a

[2017-05-26 21:26] whoisj commented on #433
Appears to be a Lfs issue after all. Closing - please reopen if fault should be reassigned.

[2017-05-26 21:26] #433 closed

[2017-05-27 01:46] eamodio commented on #429
Aaaand its back. It's happened a couple of times now -- but I'm pretty sure what restarted it was when my internet went out for a short while (while I was updating my router) and vscode was open.

Here is the output from my log file for the last failure:
[code]

Here is the output from vscode's git channel for this same failure (since it was vscode that caused this case):
[code]

I should also not

[2017-05-30 23:46] jasjuang opened #434 "Unsetting git credential helper causes git submodule clone to fail"
I am on Windows Server 2016, git 2.12.2, microsoft git credential manager 1.9.0

I am on a shared windows machine among other people so the credentials won't be cached, so the below is executed,

[code]

However, this causes a problem when I am cloning a repository that contains submodules, for example

[code]

This will prompt me to input username and password, and after I input them manually it

[2017-05-31 02:33] jasjuang commented on #404
@whoisj Sorry for getting back to you on this issue late. I just test authenticating with ssh and I still run into the same issue. I am able to clone the non lfs part but for git lfs it still would not prompt anything and failed directly.

Also even if it worked I failed to see why SSH is a better approach, it by default always look for the same key and only one person will know it's passphrase, s

[2017-05-31 04:58] whoisj commented on #404
@jasjuang can you look at https://github.com/git-lfs/git-lfs/issues/2269#event-1103188097 and see if this is, potentially, the same issue you're seeing?

Thanks

[2017-05-31 14:05] computerex opened #435 "Task cancelled exception: A task was cancelled."
![issue](http://i.imgur.com/xSaxAW7.png)

Started happening to our entire dev team this morning.

[2017-05-31 14:15] johnmurphy01 commented on #178
I don't think so. All of our repos are well within normal storage sizes. It also seems that the more Visual Studio/Visual Studio Code windows I have open, the more the popup appears.

I know Github was having issues this morning, so that could have also contributed to the large number of popups.

[2017-05-31 17:31] jasjuang commented on #404
@whoisj I updated my git and git lfs to the latest to incorporate the change in git-lfs/git-lfs#2269 (comment), but the same error still shows up.

[2017-05-31 18:20] whoisj commented on #404
@jasjuang did you set `lfs.<url>.locksverify=false` as well?

[2017-05-31 18:22] whoisj commented on #178
@johnmurphy01 Visual Studio by itself does not perform network Git operations without user interaction, VSCode however will - so that could be the source. The design of Git's credential helper flow means that any failure results in credentials being erased. This can make minor network hiccup rather frustrating.

[2017-05-31 18:28] whoisj commented on #178
@johnmurphy01 well, the GCM does support the `credential.preserve=true` option, which will prevent credentials from being deleted (barring any bugs, of course). That will not resolve the network issues, but it can mitigate some of the annoyance of having credentials wiped out on you.

[2017-05-31 18:30] jasjuang commented on #404
@whoisj Yes I did, the command I ran was `git config --global lfs.locksverify false`. Same error still shows up

[2017-05-31 18:34] johnmurphy01 commented on #178
would that be `git config --global credential.preserve=true`?

[2017-05-31 19:13] whoisj commented on #178
yes, I believe that should work.

[2017-05-31 19:49] whoisj commented on #404
@jasjuang I don't believe you ever provided a trace of the failure with both the environment variables `GIT_TRACE` and `GCM_TRACE` set to 1. Could you please do that?

Thanks.

[2017-05-31 20:37] jasjuang commented on #404
@whoisj Here is the trace,

[code]

[2017-05-31 21:49] whoisj commented on #404
The GCM isn't a part of that trace. Either the data was incorrectly captured, or the GCM has been disabled in your configuration. 😕

[2017-05-31 21:55] jasjuang commented on #404
It is disabled because this is a shared machine. But even if it's disabled it should still work. Just like if I git clone normally without GCM it prompts for credentials. I would assume if I git lfs clone, it should also prompt for credentials and just work fine if I enter them.

[2017-05-31 21:56] whoisj commented on #435
Yuck. 🤢 looks like the trace functionality failed, which likely means that what ever you were tracing to got opened in exclusive mode by another process.

Do you have `GCM_TRACE` set in your environment? If so, to what value and what else could be reading that file (including antimalware services)?

[2017-05-31 21:57] whoisj commented on #404
How would the GCM work if it is disabled? 😕 ❓ I find that statement rather confusing - perhaps I'm missing something?

[2017-05-31 21:58] whoisj commented on #434
This is a Git for Windows issue, or a configuration issue. This is not a GCM issue, as you've actively unset your credential helper and therefore the credential helper is not involved in the Git operation.

If you disagree, please let me know and explain - I'll reopen the issue if you can convince me that this is actually a GCM issue.

[2017-05-31 21:58] #434 closed

[2017-05-31 22:56] jasjuang commented on #404
For example:

Lets assume https://github.com/Microsoft/Git-Credential-Manager-for-Windows is a private repository and requires credentials to clone.

With GCM enabled -> `git clone https://github.com/Microsoft/Git-Credential-Manager-for-Windows`  will work without me having to type in any credentials

Without GCM enabled -> `git clone https://github.com/Microsoft/Git-Credential-Manager-for-Windows

[2017-05-31 22:59] jasjuang commented on #434
Got it, I will file another issue on git for windows

[2017-06-01 03:53] GrabbaEngineering opened #436 "Global configuration is a bit of a headache on windows with multiple git environments"
I've been using GCMW for a while now, and it is great. But every time I update git and or GCMW (I am not sure which caused this issue, as I updated git for windows and it also updated my GCMW) I have a tight feeling in my chest, because I know that it will break my configuration again.

I work on different repositories so I need the useHTTPPath setting set to true. But I run git for windows, as we

[2017-06-01 03:53] GrabbaEngineering commented on #436
Ooops, I opened this under the wrong account.

[2017-06-01 03:53] #436 closed

[2017-06-01 03:57] whoisj commented on #404
@jasjuang this sounds like a tty emulation, a setup, or configuration error. Since the issue is specifically without the GCM, I'm going to close this issue. Thanks for the clarification.

[2017-06-01 03:57] #404 closed

[2017-06-01 04:06] wayneuroda opened #437 "Global configuration is a bit of a headache on windows with multiple git environments"
I've been using GCMW for a while now, and it is great. But every time I update git and or GCMW (I am not sure which caused this issue, as I updated git for windows and it also updated my GCMW) I have a tight feeling in my chest, because I know that it will break my configuration again.

I work on different repositories so I need the useHTTPPath setting set to true. But I run git for windows, as we

[2017-06-01 04:07] whoisj commented on #429
@shiftkey @Haacked  is this something GitHub  will have bandwidth to look into? The issue is in the GitHub authority, if not I can assign myself, but I'm current swamped with issues on [Developer Community](https://developercommunity.visualstudio.com/spaces/8/index.html) and won't likely have time to address this for a couple of weeks 😞

[2017-06-01 04:14] wayneuroda commented on #437
Looking at the source code I found `GCM_WRITELOG` which can be set as an environment variable (this is not documented anywhere outside of the source code!).

I set this, and now the credential.log is being created, but the log file is empty. So that's no help.

[2017-06-01 04:15] wayneuroda commented on #437
If there was a `GCM_USEHTTPPATH` I could probably set that and not have to worry anymore, but there isn't one.

[2017-06-01 04:29] wayneuroda commented on #437
I've built myself a temporary version of GCMW with `GCM_USEHTTPPATH` which is working for me for now.

[2017-06-01 09:00] IPO-srh-sloan opened #438 "Unable to authenticate using microsoft login page for VSTS"
When using git with the credential manager to authenticate against visual studio team services, we are unable to login with the microsoft login page that pops up.

Everything works fine with an old version of git (1.9.5) but since we have upgraded to the latest (2.13.0) we get the following flow when trying to do a fresh clone:

1. Run `git clone`
2. Login window pops up, enter credentials
3. Popu

[2017-06-01 13:23] whoisj commented on #437
`GCM_WRITELOG` is [documented](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/blob/master/Docs/Configuration.md#writelog) for the git-configuration but not the environment variable, apologies - I'll need to make a doc bug to get all of the environment variables documented.

Just so you know, most users will use `GCM_TRACE` and set it a path. This will cause any GCM process to log

[2017-06-01 13:40] whoisj commented on #438
Interesting. So in the log

1. Git ask for credentials
2. GCM forward ask to user
3. User authenticates with Azure
4. GCM attempts, and fails, to swap the Azure token for a VSTS token
5. (repeat 1-4)
6. Git claims credentials worked
7. Git asks GCM to store credentials
8. GCM stores credentials for future reuse
9. (repeat 6-8)

This sequence is interesting for a few reasons:
* The 'get', 'get', 's

[2017-06-01 13:59] IPO-srh-sloan commented on #438
Hey, thanks for the quick reply.
I've just re-read my post and it might be slightly unclear - between steps 6 and 7 in my post I am entering my username and VSTS PAT token as credentials into the command window and that's when the authentication works. It definitely doesn't store it tho as if I try a fresh clone again I get the same flow.

Our visual studio URL is ukipo and I've just tried again a

[2017-06-01 14:41] gillouxxx opened #439 "Unable to authenticate and microsoft login page doesnt appeared"
Hello,

I have installed Git Credential Manager on Windows 10. When I try to do a git clone or a git pull, I have this following error and the Microsoft login page doesn't appeared.

![error](https://cloud.githubusercontent.com/assets/29124818/26684816/800ba9e4-46e8-11e7-9f18-b574fee90efe.jpg)

My git config :

![config](https://cloud.githubusercontent.com/assets/29124818/26684960/f8ec0e8a-46e8-11

[2017-06-02 17:35] whoisj commented on #439
@gillouxxx can you enable some tracing and share the results?

[code]

Then run your git command and share the ouput. Thanks

[2017-06-02 20:02] dcjulian29 opened #440 "GCM Authentication with Bitbucket No Longer Works"
I recently upgrade to Git 2.13.1 and Git Credential-Manager for Windows 1.10.0 and then noticed that I can no longer interact with the Bitbucket origin repo without having to provide my password every time...

I even deleted the local repo and attempted to clone the origin repo but was unable to complete the operation. I did notice that my username is included in the URL and the error message ment

[2017-06-02 20:53] gillouxxx commented on #439
Hello whoisj,

I have tried to set what you asked but I have no logs when I run my git pull. I am in Powershell with admin rights

![nothing](https://cloud.githubusercontent.com/assets/29124818/26744427/2c8b94d8-47e6-11e7-9ad2-425ac7cdac3d.jpg)

What did I do wrong ? Thanks for your help.

[2017-06-02 21:54] whoisj commented on #439
oh! powershell - I'm not sure how to make that work in powershell, please retry with Command Prompt. Thanks!

[2017-06-02 21:56] whoisj commented on #440
@mminns @Foda can one of you please help? There seems to be an issue with the BitbucketAuthorty.

@dcjulian29 please set `GIT_TRACE=%userprofile%\git.log` and `GCM_TRACE=%GIT_TRACE%` environment variables. Then rerun your command, open `%userprofile%\git.log`, and share the output here. Thanks!

[2017-06-02 22:51] gillouxxx commented on #439
I have the log and the error

![log](https://cloud.githubusercontent.com/assets/29124818/26747498/774dd91c-47f6-11e7-8ec7-8bef13198c13.jpg)

The logs says that I am not authorized but I didn't enter my login and password yet ! And I am sure I have rights because I have succeed to clone and pull the same repository with Visual Studio and another PC.

[2017-06-02 23:08] gillouxxx commented on #439
Hi,

I have finally succeed to clone and pull my repository. I have uninstall the current version of git (2.13.0) and have installed the version 2.12.0 with choco :

choco install git.install --version 2.12.1

And everything went fine after that. I think there is a bug in the last version or a glitch on visualstudio.com (where my git repository is)...

[2017-06-03 06:16] whoisj commented on #439
Thanks for following up. It does seem that there's an issue where the server returns a 401 error when attempting to query the AAD data page. I'll need to look into why / how that could be happening.

Thanks.

[2017-06-04 00:58] kzhui125 opened #441 "Git-Credential-Manager behind a proxy when using Microsoft's git."
Hello, I am using Microsoft's git.
I set http.proxy but didn't set credential.httpProxy in the past.
I saw this issue tody: https://github.com/Microsoft/Git-Credential-Manager-for-Windows/issues/243
so I set credential.httpProxy too
This is my setting now:
![now](https://cloud.githubusercontent.com/assets/11925432/26757996/d5f289a6-4902-11e7-897f-7a1a758e1220.PNG)

before setting(only http.proxy):

[2017-06-04 03:21] whoisj commented on #441
@King66 what kind of proxy is that? Is it a Windows based proxy?

I ask, because proxies are a complicated thing. They're effectively a [Man in the Middle](https://en.wikipedia.org/wiki/Man-in-the-middle_attack), which you want there but most modern networking software will assume are an attack (unless everything is configured just right).

[2017-06-04 03:47] King66 commented on #441
Thanks for you reponse.
I am using https://github.com/shadowsocksr/shadowsocksr-csharp

[2017-06-04 05:29] whoisj commented on #441
@King66 are you using Git for Windows with the Secure Channel options? It seems like this could resolve this issue.

[2017-06-04 05:49] King66 commented on #441
@whoisj  sorry, what's Secure Channel options?

[2017-06-04 19:25] vors opened #442 "Email cannot be used to sign in on github"
I used the manger that come with `git version 2.13.0.windows.1`
Tried to push to a github repo, was present with a very nice dialog to sign-in.
The dialog says "use email or username".
When I tried email, it didn't work.
When I tried github username it worked just fine.

There is a chance that I may mistype my password first time, but I don't think that's the case.
I'd suggest update the UI string

[2017-06-04 20:52] shiftkey commented on #442
Check that you are using your **primary** email address when signing in. I'm not 100% sure that this is a restriction but I think that's the case.

[2017-06-04 21:54] vors commented on #442
Yes, I'm using primary email

[2017-06-05 02:41] whoisj commented on #441
The options looks like this, when installing Git for Windows.

![image](https://cloud.githubusercontent.com/assets/11578325/26768595/edc6262c-4976-11e7-8837-2fe12f61ed78.png)

[2017-06-05 02:51] King66 commented on #441
@whoisj  thanks, I will have a try!

[2017-06-05 02:51] whoisj commented on #442
@vors can you set a couple of environment variables, reproduce your issue, and share the logs?

1. using Command Prompt run `setx GIT_TRACE %userprofile%\.gitlog`.
2. using Command Prompt run `set GCM_TRACE %GIT_TRACE%`.
3. restart any existing consoles and/or development environments.
4. reproduce your issue
5. collect the log file from `%userprofile%\.gitlog` and share its contents here - of cou

[2017-06-05 03:21] King66 commented on #441
After reinstall and choose "use the native windows secure channel library", things seem don't change..
😅

[2017-06-05 05:11] whoisj commented on #441
OK so still broken? :sad:

[2017-06-05 11:45] King66 commented on #441
Can you reproduce using other proxy？
If can't, I can tell how to make proxy using ShadowsocksR.

[2017-06-05 12:39] nvivo commented on #440
I'm still having this issue as reported [here](https://github.com/Microsoft/Git-Credential-Manager-for-Windows/issues/433#issuecomment-303771466).

I reverted back to 1.9.1, it kept asking for the password every time. I came to this window:

![image](https://cloud.githubusercontent.com/assets/202449/26784200/acfabdd6-49d2-11e7-8afa-5fd21e8382ac.png)

and set it to None, saved and set it back to ma

[2017-06-05 12:56] nvivo commented on #440
BTW, here is my git.log with 1.10:

https://gist.github.com/nvivo/5a6eb3750d153fe591a67858a847859b

[2017-06-05 13:21] whoisj commented on #440
@nvivo thanks for the git.log file, unfortunately it doesn't contain any log data from the GCM. :sad:

@mminns @foda looks like another user having issues with the GCM and BitBucket.

[2017-06-05 13:22] whoisj commented on #441
@King66 I've no proxy setup of any kind.

[2017-06-05 13:23] nvivo commented on #440
@whoisj I have set both variables as requested:

[code]

Is there anything else? Maybe I need to restart tortoisegit to get these variables... will restart and try again

[2017-06-05 13:33] whoisj commented on #440
Looks like the `GCM_TRACE=%GIT_TRACE%` is not expanding as expecting, try changing it to `GCM_TRACE=C:\Users\nvivo\git.log`.

[2017-06-05 13:40] nvivo commented on #440
Duh! =) Now we're talking... looks like an error parsing the url. Here is the correct log:

https://gist.github.com/nvivo/62513e80f2b221a7bcfca02915ea4804

[2017-06-05 15:26] whoisj commented on #440
@mminns @foda this looks like the exact same error reported in the other issues. Please investigate. 📟

[code]

@nvivo thanks for you diligence - with luck we'll have a fix in the near future. I am assuming that our Atlassian partners (@mminns or @foda) will be able to resolve this. If not, I'll take a crack at it as soon as my (Microsoft) Visual Studio 2017 workload lightens up. Thanks for you pa

[2017-06-05 16:10] Foda commented on #440
Thanks for the feedback and logs. We''ll take a look this week!

[2017-06-05 16:22] mminns commented on #440
Hi, been off for a few days, will investigate.

[2017-06-05 18:52] dcjulian29 commented on #440
I can confirm that I get the same exception as well...
[code]

[2017-06-05 20:54] mminns commented on #440
Looks like the problem is in here

`/// <summary>
        /// Since Bitbucket requires a username in a Git remote URL even if using OAuth tokens
        /// </summary>
        /// <param name="targetUri"></param>
        /// <param name="username"></param>
        /// <returns></returns>
        private TargetUri GetPerUserTargetUri(TargetUri targetUri, string username)
        {
            if (s

[2017-06-06 08:49] mminns commented on #440
So that issue I mention above is definitely a thing, but it doesn't seem to be playing nicely with this change either https://github.com/Microsoft/Git-Credential-Manager-for-Windows/commit/fbcbb9227d35edb7ee3a40d842d58b813cefdb44#diff-84bb57fa7b53195070c7e2a0a16d1e35

I will look further

[2017-06-06 16:38] whoisj commented on #440
@mminns thanks - are there tests you're writing to validate this that I can use to help track the issue down and/or provide a resolution by?

[2017-06-06 18:44] mminns commented on #440
Still working out what has changed at the moment and how to test and fix. Will let you know more as soon as I can

[2017-06-06 19:12] mminns commented on #440
OK I think I now understand...
The crash, which is due to the BbC code trying to add the username to a URL that already contains a username@ part, has appeared due to the change to the format of the actualUrl in the TargetUri class in this commit
https://github.com/Microsoft/Git-Credential-Manager-for-Windows/commit/fbcbb9227d35edb7ee3a40d842d58b813cefdb44#diff-84bb57fa7b53195070c7e2a0a16d1e35
Pre

[2017-06-06 20:06] whoisj commented on #440
@mminns seems to be that it would be a lot simpler if BbC just supplied its own `Secret.UriNameConversion` callback when allocating the `SecretStore`. No?

[2017-06-06 22:08] mminns commented on #440
Yes that's the plan.

[2017-06-07 07:49] IPO-srh-sloan commented on #438
@whoisj did you have a chance to look at the vsts logs at all please? Thanks.

[2017-06-07 19:26] whoisj commented on #438
@IPO-srh-sloan I did, my apologies for not getting back to you. On the day of initial post there was, what we call, a live site issue. Basically, the VSTS Identity system was under extreme load (possibly a DDOS, I have no idea) and several authentication attempts for you *.visualstudio.com account were denied simply because the service lacked capacity to respond in time.

From that point on, there

[2017-06-07 19:31] whoisj commented on #438
@IPO-srh-sloan yes, the "Use the native Windows Secure Channel library" is what I meant by WinSSL.

Please try the Secure Channel option - it has resolved a fairly large number of users' issues related to proxies and AD filtering.

[2017-06-08 14:09] IPO-srh-sloan commented on #438
@whoisj Thanks for passing this on. I have tried today with the Windows Secure Channel library, but still get the same result.

[2017-06-09 15:39] kdallas commented on #424
Similar to bobbytait's fix, mine was to remove a block of JSON from C:\Users\username\AppData\Local\Atlassian\SourceTree\accounts.json

Specifically I had 2 sets of authentication credentials, the older one being a username based on a traditional short word, and the newer having a username based on an email address.
Old:
      "BaseUrl": "https://bitbucket.org/",
      "Protocol": "HTTPS"
New:

[2017-06-09 16:07] JeffJustJeff commented on #424
Happens constantly with Visual Studio code. Certainly not every 45 seconds, maybe once every hour or two for me.

[2017-06-13 14:41] #440 closed

[2017-06-13 14:42] whoisj commented on #442
Resolved by #445

[2017-06-14 21:42] Deren-Liao opened #447 "How to store get credential with useHttpPath = true"
Can you guys give me an exact example how to use it?
I tried to use it to store credentials for url. It always override existing credentials.

C:\git\csr\hang>git credential-manager store
username=deren.liao@gmail.com
host=source.developers.google.com
path=p/pacific-wind/r/hang
useHttpPath=true
protocol=https
password=notrealpassword

Is my command input correct?

-------------------------

 inter

[2017-06-14 21:45] whoisj commented on #447
As I posted in response to your original posting of this question:

The `usehttppath` value is not sent by Git, it is parsed from the config files

1. Open Command Prompt
2. Run `git config --global credential.httpusepath true`

Now GCM should honor the path value.

[2017-06-14 21:55] Deren-Liao commented on #447
I see. Thanks for quick response

[2017-06-14 21:55] #447 closed

[2017-06-16 18:16] ddfridley opened #450 "case problem with useHttpPath ??"
I am trying to login to GitHub.com with different accounts from different directories, but I have not been able to get useHttpPath to work, or am I doing something wrong.

But here's the thing, I'm using camelCase in the command line, I see camelCase in the .gitconfig file and the .git/config file but when I run
    $ git config -l
    ...
    credential.helper=manager
    credential.github.com.us

[2017-06-16 18:46] whoisj commented on #450
casing shouldn't matter - sounds like a bug to me. Thanks for the report.

[2017-06-20 04:24] King66 commented on #441
![1](https://user-images.githubusercontent.com/11925432/27316355-f8d6dc4a-55b1-11e7-9442-a9a555159d6d.png)

I find this ui is using my system proxy(Internet options,lan settings, proxy server ), not using git's http.proxy or credential.httpProxy

My IP, my system proxy's IP and my http.proxy's IP are different.

I just opened a git repository using VSCode, then the mail tells me  abnormal login ac

[2017-06-20 04:26] whoisj commented on #441
@King66 that is likely correct, as the Azure logon control is hosted in Internet Explorer via NetFx component. If the logon control is "doing the right thing", then please try Git for Windows's new Secure Channel / WinSSL option. It'll require the latest version of Git for Windows, and you'll need to select the option during installation but it will likely resolve your issues.

[2017-06-20 04:28] whoisj commented on #441
@King66  can you add more information? Is the system IP or the http.proxy IP ideal? Do they share the same DNS value? If so, how are applications expected to understand the difference?

[2017-06-20 06:59] King66 commented on #441
@whoisj
I wrote a test application:
https://www.dropbox.com/s/83m5opcxx5fc1ja/ProxyTest%28port1080%29-dotnet4.0.exe?dl=0

Run the exe, then set Internet options, lan settings, proxy server to <ip>:1080, such as 127.0.0.1:1080.
Or use extension like chrome's SwitchyOmega.

Then google IP, you will see your IP have changed.

[2017-06-20 11:56] shiftkey commented on #429
@whoisj apologies for missing this. I'll skim the issue and see if there's enough for me to dive into what's happening.

[2017-06-25 20:57] garretwilson opened #454 "UriFormatException for Git 2.13.1.windows.2"
Suddenly when I even try to do a simple `git pull` on repositories I've used for months, with Git version 2.13.1.windows.2 (with GCM enabled) I get:

[code]

And it affects my TortoiseGit installation as well, causing it to ask for a password.

After I enter the password in either case, the Git operation succeeds.

I'm using Windows 10 Pro 64-bit with Creator's Update.

Another system is using `_n

[2017-06-26 02:56] whoisj commented on #454
@garretwilson can you run `git credential-manager version` and report back the output?

@mminns, from Atlassian, recently fixed a URI formatting bug in the Bitbucket Authority code.

[2017-06-26 05:49] garretwilson commented on #454
It says:

[2017-06-26 06:44] Aankhen commented on #450
Same issue here, FWIW. The value of `useHttpPath` is ignored.

[2017-06-26 08:53] dscho commented on #454
There has been an update to Git Credential Manager that has not made it into any Git for Windows version yet: 1.10.1. You can install it on top of your existing Git for Windows version without problems. It should fix the reported issue.

[2017-06-26 13:38] whoisj commented on #454
@garretwilson this issue was fixed in v1.10.1, feel free to download and install it over the current version (which came with Git for Windows). Most likely the updated version of the GCM will be picked up by Git for Windows with its next release.

[2017-06-26 13:38] #454 closed

[2017-06-27 21:43] garretwilson commented on #454
This seems to have been addressed by Git for Windows 2.13.2.windows.1. Thanks.

[2017-06-28 05:58] dhirschfeld opened #455 "GCM fails to prompt for credentials"
When trying to clone my repo I'm not prompted for a username/password and it fails with:
[code]
My setup might be a bit unusual - I'm trying to connect to our GitHub Enterprise instance from within a windowsservercore container which I'm trying to configure for CI.

In the container my git config is as follows:
[code]
Since there is no GUI on the container I've set the `modalprompt` to false with

[2017-06-28 06:07] dhirschfeld commented on #455
Note: None of the utils under `Git/usr/bin` seem to work in a windowsservercore container. - they simply exit immediately without printing any error message to the terminal. AFAICS that also precludes using ssh authentication from within the container :(

[2017-06-28 14:26] jwcm488 commented on #424
The issue for me was the git remote url was using HTTP, instead of HTTPS. You can check what it is using: `git remote -v`

**Solution 1 (Recommended):**
Changing the git remote to use HTTPS fixed it for me.

    git remote set-url origin https://github.com/USERNAME/REPOSITORY.git

**Solution 2:**
The other solution, which I didn't try, is setting this git config:

    git config --global credentia

[2017-06-28 14:31] jwcm488 commented on #424
Can you check if the git remote url is using HTTP or HTTPS protocol?

Run `git remote -v` to see it.

[2017-06-29 01:39] dhirschfeld commented on #455
**For Ref:** The docker issue preventing me from using ssh authentication - https://github.com/docker/for-win/issues/262

[2017-06-29 14:50] jbtule opened #456 "Feature Request. Option to allow Github Login From Browser"
Requestion an option for the github login to offer login from browesr. Github desktop has this feature now.
https://github.com/desktop/desktop

![github-login](https://user-images.githubusercontent.com/68474/27693763-ee2d614c-5caf-11e7-98c1-919d795d3b9d.png)

It's really great for those who don't know their passwords as they are randomly generated and my password manager then handles it. I have th

[2017-06-29 15:10] mminns commented on #424
Apologies for the late response.
With respect to SourceTree. We will be replacing the forked 1.8.1 GCM in SourceTree with the latest 1.10.1 in an upcoming release, no Bitbucket support is included.

However in the meantime, SourceTree relies on its forked GCM being checked after the default version being used by the git install. So if you are using SourceTree with a System Git install, e.g. in c:\

[2017-06-29 15:24] mminns commented on #188
Hi,
If I understand the problem correctly, My Bitbucket changes do not fix this problem.

The trick is whether Git passes enough information to the GCM for the GCM to display anything meaningful. It doesn't need to, all it needs is the host e.g. bitbucket.org, but there is a 'path' parameter that can be passed which would provide context but I'm not clear at the moment if/when that is passed to th

[2017-06-29 16:27] NaraGitHub opened #457 "Can not remove - not recommend it"
I don't not recommend - such tools works behind the sense ( you dont need to do anything)

C:\WINDOWS\system32>git credential-manager uninstall --force

Looking for Git installation(s)...
  C:\Program Files\Git
  C:\Program Files (x86)\Git

Updated your /etc/gitconfig [git config --system]
Updated your ~/.gitconfig [git config --global]

Removing from 'C:\Program Files\Git'.
  removal failed. U_U

[2017-06-29 20:21] whoisj commented on #457
This appears to be a bug in the uninstaller. Thanks for the report - though I'd recommend trying a nicer approach in the future.

[2017-06-29 20:21] whoisj commented on #188
Well then bummer - all hopes dashed. 😞

[2017-06-29 20:23] whoisj commented on #456
The GitHub crew own the feature set for the GitHub authentication dialog. Your suggestion sounds great, but I cannot speak for them.

/CC @shiftkey @Haacked

[2017-06-29 20:37] shiftkey commented on #456
This requires two things:

 - registering GCM as an OAuth app which the user verifies
 - registering GCM as a protocol handler on install so that it can handle the browser callback when the OAuth flow completes

There's a significant amount of upkeep alongside contributions to make this experience as magical as it looks.

[2017-06-30 14:13] alexandervantrijffel opened #458 "Deploy fails, cannot authenticate"
When deploying GCM with command:

`git credential-manager deploy`

This error is reported:

[code]

When trying to clone a repo over SSH with:

`git clone git@github.com:alexandervantrijffel/dotnetcorewebapp.git`

I'm not prompted for a username/password and it fails with:

[code]

I am using Microsoft Windows 10 Pro 10.0.15063 N/A Build 15063 and Git 2.13.2

[2017-06-30 18:48] whoisj commented on #458
Are you running deploy with elevated privileges? If not, writing to %ProgramFiles% will be denied by the operating system.

As for the SSH issue, the GCM doesn't have any role in SSH.

[2017-07-01 10:33] alexandervantrijffel commented on #458
Thanks for your comment. Yes, I am running deploy with elevated privileges:

![image](https://user-images.githubusercontent.com/994409/27761290-69a688bc-5e59-11e7-95c0-12a5aa7a3c18.png)

[2017-07-01 14:05] lordtct87 opened #459 "NullReferenceException if PATHEXT or PATH is not set"
Steps to reproduce:
1. Remove either PATHEXT or PATH from system environmental variables
2. VSTS Git and Git-GCM will fail:
[code]
When debugging with Visual Studio, the following break will show:
![capture](https://user-images.githubusercontent.com/29817181/27762618-605df7b4-5ea8-11e7-8cfd-2fa151f2a2ac.PNG)

Namespace: `Microsoft.Alm.Git`
Class: `Where.cs`
Branch: Master

Would highly suggest che

[2017-07-02 03:44] whoisj commented on #458
grr - can you run `SET GCM_TRACE=1` then `git credential-manager deploy`, I'm guessing that the problem is that the binary file you're attempting to overwrite is the same binary you're executing, thus you're running into a ERROR_ACCESS_DENIED because you cannot replace  a file while somebody (you) has a handle open to it.

That said, why would you be attempting to install the GCM from the already

[2017-07-02 03:46] whoisj commented on #459
Validating input is important, I agree - a check for `null` seems like a decent defense - wait... how, and under what conditions, would either `%PATH%` or `%PATHEXT%` not be set?! 😮 😲

[2017-07-03 06:53] godrose commented on #424
@JeffJustJeff  VS Code indeed. Are they aware of this?

[2017-07-07 16:59] hardcodet commented on #424
This just started for me totally out of the blue - I'm not even aware that I updated anything (neither VS2017 nor SourceTree, to name the obvious suspects).

[2017-07-08 09:37] bot101 commented on #424
I am facing this issue also, and can't seem to find a way around it.

[2017-07-10 03:05] kdallas commented on #424
Out of interest, who with this problem is using the latest Windows 10 (v1703)?  And was it an issue prior to the Creators Update?  For my part, I don't recall having the issue in the previous version, although I can't be 100% certain since so many of these updates are incremental and unnoticed.

[2017-07-10 14:10] mminns commented on #424
Can I ask whether the problems people are seeing are with Bitbucket, GitHub or a mixture and do you have a single account per host or are you using multiple accounts?

[2017-07-10 15:40] jwcm488 commented on #424
@kdallas I'm using Windows 10 Enterprise edition Version 1607 (OS Build 14303.1358).

@mminns I'm seeing the issue when connecting to a repo on Stash. Before I connected to the Stash repo, I had existing Github credentials in my git config.

[2017-07-10 15:56] janpio commented on #424
@mminns One account at Bitbucket being prompted over and over again by VS Code (but Sourcetree is also installed, but not running right now).

[2017-07-10 17:05] bot101 commented on #424
@mminns, I have bitbucket credentials in mine. Always asking me to log into bitbucket.

[2017-07-12 20:02] rkralston commented on #441
Our network is blocking images. Would someone mind typing out the solution?

I'm having the same issue.

[2017-07-12 21:21] rkralston opened #460 "Send failure: Descriptor is not a socket"
I have configured proxy settings as follows:

http.sslcainfo=<path>.config/git/ca-bundle.crt
http.proxy=http://<uname>:<pwd>@<proxy>:<port>
http.sslverify=false
https.proxy=http://<uname>:<pwd>@<proxy>:<port>
https.sslverify=true

I am no longer getting a 407 error. Instead I am getting `Send failure: Descriptor is not a socket`

I am executing `git ls-remote --tags --heads https://github.com/onok